/* login styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#all_login {
    position: absolute;
    width: 100%;
    height: 90%;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: Artboard – 2;
    --web-view-id: Artboard__2;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
.cantainer_login{
    position: relative;
    top: 100px;
    left: 250px;
    z-index: 100;
}
#input_login{
    position: relative;
   color: white;
    display: inline-block;
    background: none;
    width: 300px;
    padding: 1px ;
    margin: 8px 0;
    border-bottom: 2px solid #ccc;
    box-sizing: border-box;
    text-align: right;
    fill: transparent;
  outline: none;
}

.acount_button_login{
    position: relative;
    top: 30px;
    left: -15px;
    z-index: 100;
    width: 335px;
    height: 40px;
    border-radius: 50px;
    background-color: rgba(60,152,189,1);
    color: white;
    font-size: large;
    font-weight: 12px;
  
}
.google_button_login{
    position: relative;
    top: 50px;
    left: 8px;
    z-index: 100;
    width: 290px;
    height: 40px;
    border-radius: 50px;
    background-color:white;
    
   
    display: flex;
    justify-content: space-between;
}
.google_icon_login{
    color: rgb(148, 144, 144);
    width: 30px;
    height: 30px;
    margin:5px 0px 0px 10px;
}
.google_p_login{
    margin:10px 12px 0px 0px;
    font-size: large;
    font-weight: 12px;
    color: rgb(148, 144, 144);
}

.button_login{
    position: relative;
    top: 90px;
    left: 235px;
    z-index: 100;
    width: 335px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
   
  
}


.inn_login{

    padding: 10px 40px 0 0px;
    color: rgba(60,152,189,1);
    font-size: large;
    font-weight: 12px;
    display: inline-block;


  
}
.upp_login{
    padding-top: 10px;
   align-items: center;
    border-radius: 50px;
    width: 185px;
    height: 40px;
    background-color: rgba(60,152,189,1);
    color: white;
    font-size: large;
    font-weight: 12px;
    display: inline-block;
    padding-right: 12px;
}
.img_login{
   
    position: relative;
    top: 60px;
    left: 300px;
}

#svg_login{
    position: absolute;
    width: 1921.645px;
    height: 985.429px;
    left: 0.355px;
    top: 0px;
    overflow: visible;
    padding: 0px 195px 19px 433px;
}
#Path_login {
    fill: url(#Path_login);
}
.Path_login {
    overflow: visible;
    position: absolute;
    
    width: auto;
    height: 51%;
    left: 0px;
    top: 0px;
    right: 0;
    
    transform: matrix(1,0,0,1,0,0);
}
.error_login{
 color: red;

}
h4 {
    display: flex;
    position: relative;
    left: 12px;
  }
  
  h4::before,
  h4::after {
   
    
    content: "";
    display: block;
    width: 130px;
    height: 1px;
    /* background:white; */
    margin: auto 10px;
    border-bottom: 2px solid #ccc;
  }
.p_login{
    
    color: white;
    z-index: 100;
    position: relative;
    top: 40px;
    left: -6px;
}
.forgetpassword_login{
    color: white;
    position: relative;
    top: 12px;
}
/* #button_login{
    position: relative;
    top: 100px;
    right: 65px;
    margin-left: 20px;
    background-image: linear-gradient(to right,  rgb(31, 111, 143),  rgba(60,152,189,1));
    border-color: white;
    padding: 4px 30px 4px 30px;
    border-radius: 50px;
    border-width: 1px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0px 0px 5px #aaaaaa;
} */