/* login styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
.Mobile-R {
    display:none;
}

.cantainer{
    position: relative;
    top: 100px;
    left: 250px;
    z-index: 100;
}
#inputlogin{
    position: relative;
   color: white;
    display: inline-block;
    background: none;
    width: 300px;
    padding: 1px ;
    margin: 8px 0;
    border-bottom: 2px solid #ccc;
    font-family: "Bahij helvetica";
    box-sizing: border-box;
    text-align: right;
    fill: transparent;
  outline: none;
}

.acount-button{
    position: relative;
    top: 30px;
    left: -15px;
    z-index: 100;
    width: 335px;
    height: 40px;
    border-radius: 50px;
    background-color: rgba(60,152,189,1);
    color: white;
    font-size: large;
    font-weight: 12px;
  
}
.google-button{
    position: relative;
    top: 50px;
    left: 8px;
    z-index: 100;
    width: 290px;
    height: 40px;
    border-radius: 50px;
    background-color:white;
    
   
    display: flex;
    justify-content: space-between;
}
.google-icon{
    color: rgb(148, 144, 144);
    width: 30px;
    height: 30px;
    margin:5px 0px 0px 10px;
}
.google-p{
    margin:10px 12px 0px 0px;
    font-size: large;
    font-weight: 12px;
    color: rgb(148, 144, 144);
}

.login-button{
    position: relative;
    top: 90px;
    left: 235px;
    z-index: 100;
    width: 335px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
   
  
}
.inn{

    padding: 10px 40px 0 0px;
    color: rgba(60,152,189,1);
    font-size: large;
    font-weight: 12px;
    display: inline-block;
}
.upp{
    padding-top: 10px;
   align-items: center;
    border-radius: 50px;
    width: 185px;
    height: 40px;
    background-color: rgba(60,152,189,1);
    color: white;
    font-size: large;
    font-weight: 12px;
    display: inline-block;
    padding-right: 12px;
}
.img{
   
    position: relative;
    top: 60px;
    left: 300px;
}
#Artboard__2 {
    position: absolute;
    width: 100%;
    height: 90%;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: Artboard – 2;
    --web-view-id: Artboard__2;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#Group_398 {
    position: absolute;
    width: 1921.645px;
    height: 985.429px;
    left: 0.355px;
    top: 0px;
    overflow: visible;
    padding: 0px 195px 19px 433px;
}
#Path_1008_v {
    fill: url(#Path_1008_v);
}
.Path_1008_v {
    overflow: visible;
    position: absolute;
    
    width: auto;
    height: 51%;
    left: 0px;
    top: 0px;
    right: 0;
    
    transform: matrix(1,0,0,1,0,0);
}
.errorr{
 color: red;

}
h4 {
    display: flex;
    position: relative;
    left: 12px;
  }
  
  h4::before,
  h4::after {
   
    
    content: "";
    display: block;
    width: 130px;
    height: 1px;
    /* background:white; */
    margin: auto 10px;
    border-bottom: 2px solid #ccc;
  }
.po{
    color: white;
    font-family: "Bahij helvetica";
    z-index: 100;
    position: relative;
    top: 40px;
    left: -6px;
}
.forgetpassword{
    color: white;
    position: relative;
    top: 12px;
    font-family: "Bahij helvetica";
}
#button{
    position: relative;
    top: 100px;
    right: 65px;
    margin-left: 20px;
    background-image: linear-gradient(to right,  rgb(31, 111, 143),  rgba(60,152,189,1));
    font-family: "Bahij helvetica";
    border-color: white;
    padding: 4px 30px 4px 30px;
    border-radius: 50px;
    border-width: 1px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0px 0px 5px #aaaaaa;
}
/* Mobile Responsive */
@media screen and (max-width:360px) and (min-width:100px){
    #Artboard__2 {
        display: none;
    }
    #Group_398 {
        display: none;
    }
    .cantainer{
        position: relative;
        top: 100px;
        left: 250px;
        z-index: 100;
    }
    #inputlogin{
        position: relative;
       color: white;
        display: inline-block;
        background: none;
        width: 300px;
        padding: 1px ;
        margin: 8px 0;
        border-bottom: 2px solid #ccc;
        font-family: "Bahij helvetica";
        box-sizing: border-box;
        text-align: right;
        fill: transparent;
      outline: none;
    }
    
    .acount-button{
        position: relative;
        top: 30px;
        left: -15px;
        z-index: 100;
        width: 335px;
        height: 40px;
        border-radius: 50px;
        background-color: rgba(60,152,189,1);
        color: white;
        font-size: large;
        font-weight: 12px;
        display: none;
    }
    .google-button{
        position: relative;
        top: 50px;
        left: 8px;
        z-index: 100;
        width: 290px;
        height: 40px;
        border-radius: 50px;
        background-color:white;
        display:none;
        justify-content: space-between;
    }
    .google-icon{
        color: rgb(148, 144, 144);
        width: 30px;
        height: 30px;
        margin:5px 0px 0px 10px;
        display: none;
    }
    .google-p{
        margin:10px 12px 0px 0px;
        font-size: large;
        font-weight: 12px;
        color: rgb(148, 144, 144);
        display: none;
    }
    
    .login-button{
        position: relative;
        top: 90px;
        left: 235px;
        z-index: 100;
        width: 335px;
        height: 40px;
        border-radius: 50px;
        display:none;
        justify-content: space-between;
    }
    .inn{
    
        padding: 10px 40px 0 0px;
        color: rgba(60,152,189,1);
        font-size: large;
        font-weight: 12px;
        display:none;
    }
    .upp{
        padding-top: 10px;
       align-items: center;
        border-radius: 50px;
        width: 185px;
        height: 40px;
        background-color: rgba(60,152,189,1);
        color: white;
        font-size: large;
        font-weight: 12px;
        display:none;
        padding-right: 12px;
    }
    .img{
       
        position: relative;
        top: 60px;
        left: 300px;
        display: none;
    }
    #Artboard__2 {
        position: absolute;
        width: 100%;
        height: 90%;
        background-color: rgba(255,255,255,1);
        overflow: hidden;
        --web-view-name: Artboard – 2;
        --web-view-id: Artboard__2;
        --web-scale-on-resize: true;
        --web-enable-deep-linking: true;
    }
    #Group_398 {
        position: absolute;
        width: 1921.645px;
        height: 985.429px;
        left: 0.355px;
        top: 0px;
        overflow: visible;
        padding: 0px 195px 19px 433px;
    }
    #Path_1008_v {
        fill: url(#Path_1008_v);
    }
    .Path_1008_v {
        overflow: visible;
        position: absolute;
        
        width: auto;
        height: 51%;
        left: 0px;
        top: 0px;
        right: 0;
        
        transform: matrix(1,0,0,1,0,0);
    }
    .errorr{
     color: red;
    
    }
    h4 {
        display:none;
        position: relative;
        left: 12px;
      }
      
      h4::before,
      h4::after {
       
        
        content: "";
        display:none;
        width: 130px;
        height: 1px;
        /* background:white; */
        margin: auto 10px;
        border-bottom: 2px solid #ccc;
      }
    .po{
        color: white;
        font-family: "Bahij helvetica";
        z-index: 100;
        position: relative;
        top: 40px;
        left: -6px;
        display: none;
    }
    .forgetpassword{
        color: white;
        position: relative;
        top: 12px;
        font-family: "Bahij helvetica";
        display: none;
    }
    #button{
        position: relative;
        top: 100px;
        right: 65px;
        margin-left: 20px;
        background-image: linear-gradient(to right,  rgb(31, 111, 143),  rgba(60,152,189,1));
        font-family: "Bahij helvetica";
        border-color: white;
        padding: 4px 30px 4px 30px;
        border-radius: 50px;
        border-width: 1px;
        font-size: 20px;
        font-weight: bold;
        box-shadow: 0px 0px 5px #aaaaaa;
        display: none;
    }
    
}