.all_section_about{
    display: flex;
    flex-direction: column;
    /* justify-content: center !important; */
    height: 85%;
    flex: 100%;
    width: 100%;
}
.section_one_about{
    flex: 10%;
    
}
.section_one_one_about{

}
.selesh_phone_about{
    display: none;
}
.image_phone_one_about{
    display: none;
}
.section_one_two_about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
.selesh_about{
    display: flex;
    width: 3vw;
    margin-top: 150%;
    margin-left: 200%;
}
.image_phone_logo_about{
    display: none;
}
.dot_about{
    margin-top: 1vw;
    margin-right: 6vw;
    display: flex;
    width: 8vw; 
}



.section_two_about{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* height: 57vh; */
    flex: 80%;
    
}
.logoooo_about{
    display: flex;
    width: 30vw;
    height:  20vw;
    margin-left: 10vw;
    margin-right: 2vw;
    align-items: center;
    justify-content: center;
}
.about{
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: right;
    color:  rgba(60,152,189,1);
    font-family: "Bahij Helvetica";
    font-size: 1.5vw;
    font-style: normal;
    line-height: 2vw;
    margin-right: 10vw;
    margin-left: 2vw;
    z-index: 1000;
    /* height: 80%;
    overflow-y: scroll;
    justify-content: flex-start; */
}
.title_about{

    text-align: right;
    color:  rgba(60,152,189,1);
    font-family: "Bahij Helvetica";
    font-size: 3vw;
    margin-bottom: 10px;
}
.paragraph_about{
    
}
.section_three_about{
    flex: 10%;
}
.section_three_one_about{
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
}
.dott-about{
    display: flex;
    margin-bottom: 1vw;
    margin-left: 6vw;
    display: flex;
    width: 8vw;
    justify-content: end;
}
.phone_svg_two_about{
    display: none;
}


@media only screen and (max-width: 769px) and (min-height:1px){
    .all_section_about{
     display: flex;
     flex-direction: column;
     height: 85%;
     width: 100%;
     flex: 100%;  
     min-height: 400px;
         justify-content: space-between;
}
    .section_one_about{
     background-image: url('../../assets/mb-ba.jpg');
     background-size: cover; 
     background-repeat: no-repeat;
     flex: 20%;
     display: flex;
     justify-content: space-between;
     flex-direction: column;
}
.section_one_one_about{
    display: flex;
    flex-direction: row;
    /* height: 30%; */
    flex: 40%;
}
.image_phone_one_about{
    display: flex;
    width: 20%;
    justify-content: start;
    align-items: flex-start;
    margin-left: -1%;
}
.selesh_phone_about{
    display: flex;
    margin-top: 170%;
    margin-left: -170%;
    width: 5vw;
    height: 3vw;
   
}
.section_one_two_about{
    justify-content: center;  
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 60%;
}
.selesh_about{
    display: none;
}
.image_phone_logo_about{
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -4vw;
    padding-bottom: 4vw;
    flex: 100%;
} 
.dot_about{
   display: none;
}
.section_two_about{
   display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    text-align: center;
    /* height: 57vh; */
    flex: 60%;
} 
.logoooo_about{
    display: none;
   }
.about{
    display: flex;
    flex-direction: column;
    text-align: right;
    color:  rgb(3, 72, 99);
    font-family: "Bahij Helvetica";
    font-size: 3.5vw;
    font-style: normal;
    line-height: 5vw;
    margin-left: 0vw;
    margin-right: 0vw;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 78%;
}
.title_about{
    text-align: right !important;
    color:  rgb(39, 186, 244);
    font-family: "Bahij Helvetica";
    font-size: 6.5vw;
    margin-bottom: 3vw;
    margin-top: 8vw;
}
.paragraph_about{

}
 .section_three_about{
    flex: 20%;
    margin-bottom: -7vw;
}
.section_three_one_about{
    display: flex;
    align-items: flex-end !important;
    justify-content: flex-end;
    text-align:end;

}
.dott-about{
    display: none;
 }
 .phone_svg_two_about{
    display: flex;
}
   #phone_svg_two_about{
    fill: rgba(0,0,0,0);
    stroke: rgba(60,152,189,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-dasharray: 4.026000022888184 4.026000022888184;
    stroke-dashoffset: 0;
    stroke-miterlimit: 10;
    shape-rendering: auto;
}
}
@media screen and (min-height: 960px){
    .all_section_about{
     display: flex;
     flex-direction: column;
     height: 85%;
     width: 100%;
     flex: 100%;  
     min-height: 400px;
         justify-content: space-between;
}
    .section_one_about{
     background-image: url('../../assets/mb-ba.jpg');
     background-size: cover; 
     background-repeat: no-repeat;
     flex: 20%;
     display: flex;
     justify-content: space-between;
     flex-direction: column;
}
.section_one_one_about{
    display: flex;
    flex-direction: row;
    /* height: 30%; */
    flex: 40%;
}
.image_phone_one_about{
    display: flex;
    width: 20%;
    justify-content: start;
    align-items: flex-start;
    margin-left: -1%;
}
.selesh_phone_about{
    display: flex;
    margin-top: 170%;
    margin-left: -170%;
    width: 5vw;
    height: 3vw;
   
}
.section_one_two_about{
    justify-content: center;  
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 60%;
}
.selesh_about{
    display: none;
}
.image_phone_logo_about{
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -4vw;
    padding-bottom: 4vw;
    flex: 100%;
} 
.dot_about{
   display: none;
}
.section_two_about{
   display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    text-align: center;
    /* height: 57vh; */
    flex: 60%;
} 
.logoooo_about{
    display: none;
   }
.about{
    display: flex;
    flex-direction: column;
    text-align: right;
    color:  rgb(3, 72, 99);
    font-family: "Bahij Helvetica";
    font-size: 3.5vw;
    font-style: normal;
    line-height: 5vw;
    margin-left: 0vw;
    margin-right: 0vw;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 78%;
}
.title_about{
    text-align: right !important;
    color:  rgb(39, 186, 244);
    font-family: "Bahij Helvetica";
    font-size: 6.5vw;
    margin-bottom: 3vw;
    margin-top: 8vw;
}
.paragraph_about{

}
 .section_three_about{
    flex: 20%;
    margin-bottom: -7vw;
}
.section_three_one_about{
    display: flex;
    align-items: flex-end !important;
    justify-content: flex-end;
    text-align:end;

}
.dott-about{
    display: none;
 }
 .phone_svg_two_about{
    display: flex;
}
   #phone_svg_two_about{
    fill: rgba(0,0,0,0);
    stroke: rgba(60,152,189,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-dasharray: 4.026000022888184 4.026000022888184;
    stroke-dashoffset: 0;
    stroke-miterlimit: 10;
    shape-rendering: auto;
}
}