.section {
    background-color: white;
    color: rgb(81, 187, 228);
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    align-items: center;
    color: rgba(60, 152, 189, 1);
}

#title h1 {
    font-weight: bold;
    font-size: 70px;
    display: flex;
    justify-content: center;
    color: rgba(60, 152, 189, 1);
    margin-top: -90px;
}
#title p {
    color: rgba(60, 152, 189, 1);
    font-size: 30px;
}
#ul-section {
    display: flex;
    color: rgba(60, 152, 189, 1);
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#ul-section img {
    height: 200px;
    width: 260px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6vh;
    margin-right: px;
    padding-left: 60px;
}

#ul-section h1 {
    color: rgba(60, 152, 189, 1);
    font-size: 30px;
    margin-left: 100px;
    margin-top: 2vh;
    margin-right: 30px;
}

#ul-section p {
    color: rgba(60, 152, 189, 1);
    align-items: center;
    justify-content: center;
    margin-left: 80px;
    margin-top: 2vh;
    margin-right: 50px;
    font-size: 22px;
    display: flex;
}

.section .prevuse img {
    position: absolute;
    top: 45px;
    bottom: 10px;
    right: 1300px;
    /* padding-left: 0px;
    padding-right: 1196px;
    margin-top: -90px; */
    /* margin-left: 5px;
    margin-top: 20px;
    margin-right: 1250px; */
    /* height: 15px;
    width: 30px; */
}

.section .svg {
    height: 10px;
    width: 10x;
    margin-left: 0px;
    padding-top: 20px;
    padding-right: 950px;
    margin: 12px;
}

.section .svg1 {
    padding-left: 1080px;
    height: 10px;
    width: 10x;
    padding-top: -30px;
    padding-bottom: 85px;
    padding-right: 0px;
    margin-top: px;
}

.section .svg2 {
    height: 10px;
    width: 10x;
    top: 580px;
    position: fixed;
    margin-left: 0px;
    padding-top: -30px;
    padding-right: 950px;
    padding-bottom: 40px;
    display: inline-flex;
    margin: 0px;
}
.section .svg3 {
    height: 10px;
    width: 10x;
    position: fixed;
    margin-left: 2000px;
    margin-bottom: 30px;
    top: 550px;
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 80px;
    padding-right: 970px;
    display: inline-flex;
    margin: px;
}
  /* Extra small devices (phone, 600px and down) */
@media screen and (max-width: 360px) and (min-width: 100px){
    .section {
        position: absolute;
        background-color: white;
        width: 360px;
        height: 600px;
        color: rgb(81, 187, 228);
        height: 630px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #title {
        align-items: center;
        color: rgba(60, 152, 189, 1);
        margin-left: 0px;
        margin-right: 0;
    }
    #title h1 {
        position: absolute;
        overflow: visible;
        width: 245px;
        height: 169px;
        left: 58px;
        top: 100px;
        font-weight: bold;
        font-size: 40px;
        display: flex;
        justify-content: center;
        color: rgba(255, 194, 0, 1);
        padding-top: 40px;
        font-style: normal;
    }
    #title p {
        color: rgba(60, 152, 189, 1);
        font-size: 25px;
        font-weight: lighter;
        position: absolute;
        overflow: visible;
        width: 300px;
        height: 169px;
        left: 40px;
        margin-top: -20px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #ul-section {
        display: flex;
        color: rgba(60, 152, 189, 1);
        flex-direction: column;
        height: 100%;
        padding-top: 430px;
        margin-top: 50px;
        overflow: scroll;
        justify-content: center;
        align-items: center;
        /* width: 30px; */
        /* background-color: brown; */
    }
    #ul-section img {
        height: 90%;
        width: 90%;
        margin-left: 0;
        margin-right: 0;
        margin-top: -20%;
        margin-right: 0;
        padding: 20px;
        /* background-color: blueviolet; */
    }
    #ul-section a{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* background-color: yellowgreen; */
        width: 230px;
        margin-top: 60px;
        margin-left: 10px;
        margin-right: 10px;
    }
    #ul-section h1 {
        color: rgba(60, 152, 189, 1);
        font-size: 20px;
        margin-left: 20%;
        margin-top: 2vh;
        margin-right: 20%;
        text-align: center;
    }
    #ul-section p {
        color: rgba(60, 152, 189, 1);
        align-items: center;
        justify-content: center;
        margin-left: 80px;
        margin-top: 2vh;
        margin-right: 50px;
        font-size: 18px;
        display: flex;
        width: 200px;
    }
    .section .prevuse img {
        position: absolute;
        top: 45px;
        bottom: 10px;
        right: 300px;
        /* padding-left: 0px;
        padding-right: 1196px;
        margin-top: -90px; */
        /* margin-left: 5px;
        margin-top: 20px;
        margin-right: 1250px; */
        /* height: 15px;
        width: 30px; */
    }
    .section .svg {
        height: -5px;
        width: -5x;
        padding-left: 350px;
        padding-top: 20px;
        padding-right: 500px;
        margin: 12px;
    }
    .section .svg1 {
        padding-left: 490px;
        height: 5px;
        width: 5x;
        padding-top: -30px;
        padding-bottom: 85px;
        padding-right: 0px;
        margin-top: px;
    }
    .section .svg2 {
        height: 5px;
        width: 5x;
        top: 580px;
        position: fixed;
        padding-right: 350px;
        padding-bottom: 1200%;
        position: absolute;
        top: 530px;
        bottom: 18px;
        margin: 0px;
    }
    .section .svg3 {
        height: 5px;
        width: 5x;
        position: absolute;
        margin-left: 1400px;
        margin-bottom: 60px;
        top: 520px;
        bottom: 30px;
        padding-top: 12px;
        padding-right: 0px;
        padding-bottom: 80px;
        padding-right: 970px;
        display: inline-flex;
        margin: px;
    }
}
@media only screen and (max-width: 1200px ) and (min-width: 992px){
    .section {
        background-color: white;
        color: rgb(81, 187, 228);
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #title {
        align-items: center;
        color: rgba(60, 152, 189, 1);
        margin-left: 0px;
        margin-right: 0;
    }
    
    #title h1 {
        font-weight: bold;
        font-size: 40px;
        display: flex;
        justify-content: center;
        color: rgba(60, 152, 189, 1);
        margin-top: -90px;
    }
    
    #title p {
        color: rgba(60, 152, 189, 1);
        font-size: 30px;
        width: 400px;
    }
    
    #ul-section {
        display: flex;
        color: rgba(60, 152, 189, 1);
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    #ul-section img {
        height: 200px;
        width: 260px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 6vh;
        margin-right: px;
        padding-left: 60px;
    }
    
    #ul-section h1 {
        color: rgba(60, 152, 189, 1);
        font-size: 30px;
        margin-left: 100px;
        margin-top: 2vh;
        margin-right: 30px;
    }
    
    #ul-section p {
        color: rgba(60, 152, 189, 1);
        align-items: center;
        justify-content: center;
        margin-left: 80px;
        margin-top: 2vh;
        margin-right: 50px;
        font-size: 22px;
        display: flex;
    }
    
    .section .prevuse img {
        position: absolute;
        top: 45px;
        bottom: 10px;
        right: 1300px;
        /* padding-left: 0px;
        padding-right: 1196px;
        margin-top: -90px; */
        /* margin-left: 5px;
        margin-top: 20px;
        margin-right: 1250px; */
        /* height: 15px;
        width: 30px; */
    }
    
    .section .svg {
        height: 5px;
        width: 5x;
        margin-left: 300px;
        padding-top: 20px;
        padding-right: 800px;
        margin: 12px;
    }
    
    .section .svg1 {
        padding-left: 600px;
        height: 5px;
        width: 5x;
        padding-top: -30px;
        padding-bottom: 85px;
        padding-right: 0px;
        margin-top: px;
    }
    
    .section .svg2 {
        height: 5px;
        width: 5x;
        top: 580px;
        position: fixed;
        margin-left: 0px;
        padding-top: -90px;
        padding-right: 800px;
        padding-bottom: 40px;
        display: inline-flex;
        margin: 0px;
    }
    .section .svg3 {
        height: 10px;
        width: 10x;
        position: fixed;
        margin-left: 1800px;
        margin-bottom: 30px;
        top: 550px;
        padding-top: 20px;
        padding-right: 0px;
        padding-bottom: 80px;
        padding-right: 970px;
        display: inline-flex;
        margin: px;
    }
   
}
@media only screen and (max-width: 992px ) and (min-width: 700px){
    .section {
        background-color: white;
        color: rgb(81, 187, 228);
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #title {
        align-items: center;
        color: rgba(60, 152, 189, 1);
        margin-left: 0px;
        margin-right: 0;
    }
    #title h1 {
        font-weight: bold;
        font-size: 40px;
        display: flex;
        justify-content: center;
        color: rgba(60, 152, 189, 1);
        padding-top: 30px;
    }
    #title p {
        color: rgba(60, 152, 189, 1);
        font-size: 30px;
        width: 500px;
        margin-top: 5%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #ul-section {
        display: flex;
        color: rgba(60, 152, 189, 1);
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* width: 30px; */
        /* background-color: brown; */
    }
    #ul-section img {
        height: 90%;
        width: 90%;
        margin-left: 0;
        margin-right: 0;
        margin-top: -20%;
        margin-right: 0;
        padding: 20px;
        /* background-color: blueviolet; */
    }
    #ul-section a{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* background-color: yellowgreen; */
        width: 230px;
        margin-top: 60px;
        margin-left: 10px;
        margin-right: 10px;
    }
    #ul-section h1 {
        color: rgba(60, 152, 189, 1);
        font-size: 20px;
        margin-left: 20%;
        margin-top: 2vh;
        margin-right: 20%;
        text-align: center;
    }
    #ul-section p {
        color: rgba(60, 152, 189, 1);
        align-items: center;
        justify-content: center;
        margin-left: 80px;
        margin-top: 2vh;
        margin-right: 50px;
        font-size: 18px;
        display: flex;
        width: 200px;
    }
    .section .prevuse img {
        position: absolute;
        top: 45px;
        bottom: 10px;
        right: 1300px;
        /* padding-left: 0px;
        padding-right: 1196px;
        margin-top: -90px; */
        /* margin-left: 5px;
        margin-top: 20px;
        margin-right: 1250px; */
        /* height: 15px;
        width: 30px; */
    }
    .section .svg {
        height: 5px;
        width: 5x;
        padding-left: 200px;
        padding-top: 20px;
        padding-right: 800px;
        margin: 12px;
    }
    .section .svg1 {
        padding-left: 600px;
        height: 5px;
        width: 5x;
        padding-top: -30px;
        padding-bottom: 85px;
        padding-right: 0px;
        margin-top: px;
    }
    .section .svg2 {
        height: 5px;
        width: 5x;
        top: 580px;
        position: fixed;
        margin-left: 550px;
        padding-top: -200%;
        padding-right: 600px;
        padding-bottom: 80px;
        display: inline-flex;
        margin: 0px;
    }
    .section .svg3 {
        height: 5px;
        width: 5x;
        position: fixed;
        margin-left: 1550px;
        margin-bottom: 30px;
        top: 550px;
        padding-top: 12px;
        padding-right: 0px;
        padding-bottom: 80px;
        padding-right: 970px;
        display: inline-flex;
        margin: px;
    }
}
@media only screen and (max-width: 576px ) and (min-width:360px){
    .section {
        position: absolute;
        background-color: white;
        width: 576px;
        height: 660px;
        color: rgb(81, 187, 228);
        overflow: hidden;
        display: flex;
        position: fixed;
        flex-direction: column;
        align-items: center;
    }
    #title {
        align-items: center;
        color: rgba(60, 152, 189, 1);
        margin-left: 0px;
        margin-right: 0;
    }
    #title h1 {
        position: absolute;
        overflow: visible;
        width: 300px;
        height: 90px;
        left: 160px;
        right: 0;
        top: 150px;
        font-weight: bold;
        font-size: 55px;
        display: flex;
        justify-content: center;
        color: rgba(255, 194, 0, 1);
        padding-top: 5px;
        font-style: normal;
    }
    #title p {
        color: rgba(60, 152, 189, 1);
        font-size: 35px;
        font-weight: lighter;
        position: absolute;
        top: 200px;
        left: 10px;
        padding-left: 60px;
        padding-right: 40px;
        width: 545px;
        height: 169px;
        margin-top: -60px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #ul-section {
        display: flex;
        color: rgba(60, 152, 189, 1);
        flex-direction: column;
        height: 600px;
        width: 576px;
        padding-top: 423px;
        padding-bottom: 300px;
        margin-top: 20px;
        position: fixed;
        top: 35%;
        left: 0;
        right: 30%;
        bottom: -50%;
        overflow: scroll;
        justify-content: center;
        align-items: center;
        /* width: 30px; */
        /* background-color: brown; */
    }
    #ul-section img {
        height: 250px;
        width: 250px;
        margin: 10px;
        margin-left: 0;
        margin-right: 0;
        margin-top: -70%;
        margin-bottom: -10%;
        margin-right: 0;
        padding: 30px;
        /* background-color: blueviolet; */
    }
    #ul-section a{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* background-color: yellowgreen; */
        width: 200px;
        padding-top: 30px;
        margin-top: 80px;
        margin-left: 10px;
        margin-right: 10px;
    }
    #ul-section h1 {
        color: rgba(60, 152, 189, 1);
        font-size: 20px;
        margin-left: 20%;
        margin-top: 1%;
        margin-right: 20%;
        text-align: center;
    }
    #ul-section p {
        color: rgba(60, 152, 189, 1);
        align-items: center;
        justify-content: center;
        margin-left: 80px;
        margin-top: 2vh;
        margin-right: 50px;
        font-size: 18px;
        display: flex;
        width: 230px;
    }
    .section .prevuse img {
        position: absolute;
        top: 45px;
        bottom: 10px;
        right: 1300px;
        /* padding-left: 0px;
        padding-right: 1196px;
        margin-top: -90px; */
        /* margin-left: 5px;
        margin-top: 20px;
        margin-right: 1250px; */
        /* height: 15px;
        width: 30px; */
    }
    .section .svg {
        height: 3px;
        width: 3x;
        padding-left: 300px;
        padding-top: 50px;
        padding-right: 700px;
        margin: 12px;
    }
    .section .svg1 {
        padding-left: 440px;
        height: 5px;
        width: 5x;
        padding-top: 0px;
        padding-bottom: 95px;
        padding-right: 0px;
        margin-top: px;
    }
    .section .svg2 {
        height: 5px;
        width: 5x;
        top: 580px;
        position: fixed;
        padding-right: 350px;
        padding-bottom: 1200%;
        position: absolute;
        top: 530px;
        bottom: 18px;
        margin: 0px;
    }
    .section .svg3 {
        height: 5px;
        width: 5x;
        position: absolute;
        margin-left: 1300px;
        margin-bottom: 60px;
        top: 520px;
        bottom: 30px;
        padding-top: 12px;
        padding-right: 0px;
        padding-bottom: 80px;
        padding-right: 970px;
        display: inline-flex;
        margin: px;
    }
}
@media only screen and (max-width: 768px ) and (min-width:576px){
    .section {
        position: absolute;
        background-color: white;
        width: 700px;
        height: 660px;
        color: rgb(81, 187, 228);
        overflow: hidden;
        display: flex;
        position: fixed;
        flex-direction: column;
        align-items: center;
    }
    #title {
        align-items: center;
        color: rgba(60, 152, 189, 1);
        margin-left: 0px;
        margin-right: 0;
    }
    #title h1 {
        position: absolute;
        overflow: visible;
        width: 300px;
        height: 90px;
        left: 220px;
        right: 0;
        top: 130px;
        font-weight: bold;
        font-size: 55px;
        display: flex;
        justify-content: center;
        color: rgba(255, 194, 0, 1);
        padding-top: 5px;
        font-style: normal;
    }
    #title p {
        color: rgba(60, 152, 189, 1);
        font-size: 35px;
        font-weight: lighter;
        position: absolute;
        top: 170px;
        left: 80px;
        padding-left: 60px;
        padding-right: 40px;
        width: 545px;
        height: 169px;
        margin-top: -60px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #ul-section {
        display: flex;
        color: rgba(60, 152, 189, 1);
        flex-direction: column;
        height: 600px;
        width: 700px;
        padding-top: 490px;
        padding-bottom: 350px;
        margin-top: 20px;
        position: fixed;
        top: 25%;
        left: 0%;
        right: 5%;
        bottom: -80%;
        overflow: scroll;
        justify-content: center;
        align-items: center;
        /* width: 30px; */
        /* background-color: brown; */
    }
    #ul-section img {
        height: 250px;
        width: 250px;
        margin: 0px;
        margin-left: 0;
        margin-right: 0;
        margin-top: -70%;
        margin-bottom: -10%;
        margin-right: 0;
        padding: 25px;
        /* background-color: blueviolet; */
    }
    #ul-section a{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* background-color: yellowgreen; */
        width: 200px;
        padding-top: 30px;
        margin-top: 80px;
        margin-left: 10px;
        margin-right: 10px;
    }
    #ul-section h1 {
        color: rgba(60, 152, 189, 1);
        font-size: 25px;
        margin-left: 20%;
        margin-top: 1%;
        margin-right: 20%;
        text-align: center;
    }
    #ul-section p {
        color: rgba(60, 152, 189, 1);
        align-items: center;
        justify-content: center;
        margin-left: 80px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 50px;
        font-size: 25px;
        display: flex;
        text-align: center;
        width: 250px;
    }
    .section .prevuse img {
        position: absolute;
        top: 45px;
        bottom: 10px;
        right: 620px;
        /* padding-left: 0px;
        padding-right: 1196px;
        margin-top: -90px; */
        /* margin-left: 5px;
        margin-top: 20px;
        margin-right: 1250px; */
        /* height: 15px;
        width: 30px; */
    }
    .section .svg {
        height: 3px;
        width: 3x;
        padding-left: 300px;
        padding-top: 70px;
        padding-right: 500px;
        padding-left:100px;
        margin: 12px;
    }
    .section .svg1 {
        padding-left: 480px;
        height: 5px;
        width: 5x;
        padding-top: 10pxpx;
        padding-bottom: 95px;
        padding-right: 0px;
        margin-top: px;
    }
    .section .svg2 {
        height: 5px;
        width: 5x;
        top: 580px;
        position: fixed;
        padding-right: 350px;
        padding-bottom: 1200%;
        position: absolute;
        top: 530px;
        bottom: 18px;
        margin: 0px;
    }
    .section .svg3 {
        height: 5px;
        width: 5x;
        position: absolute;
        margin-left: 1300px;
        margin-bottom: 60px;
        top: 520px;
        bottom: 30px;
        padding-top: 12px;
        padding-right: 0px;
        padding-bottom: 80px;
        padding-right: 970px;
        display: inline-flex;
        margin: px;
    }
}

