*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
.mobile{
    display: none;
}
.full_header{
    color: white;
    width: 100%;
    height: 100%;
}
.header{
    display: flex;
    background-color: rgba(60,152,189,1);
    width: 100%;
    height: 100px;
    font-size: 25px;
    font-family: "Bahij Helvetica"; 
    font-weight: bold;
    align-items: center;
}
.ul_header{
    margin-left: 80px;
    display: inline-block;
    list-style-type: none;
}
.li_header{
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
}
.link_nav_header{
    color: white;
}
.vl_header {
    align-items: center;
    border-left: 1px solid white;
    height: 17px;
    display: inline-block;
  }
  .vi_header{
    align-items: center;
    border-left: 1px solid white;
    height: 17px;
    display: inline-block;
    margin-right: 20px;
  }
#button_header{
    margin-left: 5px;
    background-image: linear-gradient(to right,  rgb(31, 111, 143),  rgba(60,152,189,1));
    border-color: white;
    padding: 4px 30px 4px 30px;
    border-radius: 50px;
    border-width: 1px;
    font-size: 20px;
    font-family: "Bahij Helvetica"; 
    font-weight: bold;
    box-shadow: 0px 0px 5px #aaaaaa;
}
.icon_header{
    display: inline-block;
    margin-left: 30px;
}
.dropDownProfile{
    position: absolute;
    top:5rem;
    right: 2.5rem;
    width: 120px;
    padding: 15px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid gray;
    color:  rgba(60,152,189,1) ;
    text-align: right;
}
.dropDownProfile::before{
    content: '';
    position: absolute;
    top: -0.7rem;
    right: 1.1rem;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: white;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
}
.changefrofilr_button_header{
    border-bottom: 1px solid rgb(231, 228, 228) !important;
    color:rgba(60,152,189,1) ;
    /* width: 120px; */
}
/*home style////////////////////////////////////////////////////////*/
.home{
    overflow: hidden;
    background-image: linear-gradient(to right,  rgb(45, 132, 167),   rgba(60,152,189,1));
    height: 510px;
    width: 100%;
}
#home_svg {
    fill: rgba(60,152,189,1);
}
.home_svg {
    overflow: visible;
    position: absolute;
    width: 20.158px;
    height: 16.435px;
    left: 670.195px;
    bottom: 0px;
    transform: matrix(1,0,0,1,0,0);
}
.images_paragraph_home{
    align-items: center;
    text-align: center;
    }
    .imgg_home{
        position: relative;
        top: 100px;
        left: -130px;
        display: inline-block;
        width: 150px;
        height: 110px;
    }
.img_one_home{
    margin-top: 30px;
    width: 250px;
    margin-left: 35px;
}
.imggg_home{
    position: relative;
    top: 160px;
    left: 220px;
    display: inline-block;
    width: 195px;
    height: 170px;
    }
.paragraph_home{
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
    overflow: hidden;
    line-height: 92px;
     font-family: "Bahij Helvetica"; 
    font-size: 60px;
    color: rgba(255,255,255,1);
    letter-spacing: -0.4px;
	position: relative;
	top: -20px;
  
}
.paragraph_1_home{
	position: relative;
	top: -40px;
	filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
    overflow: hidden;
    line-height: 92px;
     font-family: "Bahij Helvetica"; 
   font-style: normal;
   font-weight: bold;
   font-size: 60px;
   color: rgba(255,255,255,1);
   letter-spacing: -0.4px;
}
.space_home{
	width: 30px;
	background-color: red;
}
#home_svg_one {
	fill: rgba(255,255,255,1);
    width: 100%;
	
}
.home_svg_one {
	fill: rgba(255,255,255,1);
    width: 100%;
	
}
@media only screen and (max-width: 1200px ) and (min-width: 992px){
    *{
        margin: 0;
        padding: 0;
        text-decoration: none;
        list-style-type: none;
    }
    .full_header{
        color: white;
        height: 100%;
        width: 100%;
    }
    .mobile{
        display: none;
    }
    .header{
        background-color: rgba(60,152,189,1);
        display: flex;
        width:100%;
        height:70px;
        font-size: 25px;
        font-weight: bold;
        align-items: center;
        padding-top: 10px;
    }
    .vl_header{       
        align-items: center;
        border-left: 1px solid white;
        height: 17px;
        display: inline-block;      
      }
    .vi_header{
        align-items: center;
        border-left: 1px solid white;
        height: 17px;
        display: inline-block;
      }
    .ul_header{
        margin-left: 100px;
        display: inline-block;
        list-style-type: none;
    
    }
    .li_header{
        margin-left: 35px;
        margin-right: 35px;
        display: inline-block; 
    }
    /* #button_header{
        margin-left: 5px;
        background-image: linear-gradient(to right,rgb(31, 111, 143),rgba(60,152,189,1));
        border-color: white;
        padding: 4px 30px 4px 30px;
        border-radius: 50px;
        border-width: 1px;
        font-size: 18px;
        font-weight: bold;
        box-shadow: 0px 0px 5px #aaaaaa;
    } */
    .icon_header{
        display: inline-block;
        margin-left: 20px;
    }
    .link_nav_header{
        color: white;
    }
    
    /*home style////////////////////////////////////////////////////////*/
    .home{
        
        background-image: linear-gradient(to right,  rgb(45, 132, 167),   rgba(60,152,189,1));
        height: 590px;
        width: 100%;
    }
    .img_one_home{
        margin-top: 30px;
        width: 250px;
        align-items: center;
        justify-content: center;
    }
    .images_paragraph_home{
        align-items: center;
        text-align: center;
    }
    .paragraph_home{
        filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
        overflow: hidden;
        line-height: 90px;
         font-family: "Bahij Helvetica"; 
        font-size: 55px;
        color: rgba(255,255,255,1);
        letter-spacing: -0.4px;
        position: relative;
        top: -20px;
      
    }
    .paragraph_1_home{
        position: relative;
        top: -40px;
        filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
        overflow: hidden;
        line-height: 90px;
        font-family: "Bahij Helvetica"; 
        font-style: normal;
        font-weight: bold;
        font-size: 55px;
        color: rgba(255,255,255,1);
        letter-spacing: -0.4px;
    }
    .space_home{
        width: 30px;
        background-color: red;
    }
    #home_svg_one  {
        fill: rgba(255,255,255,1);
        width: 100%;
        
    }
    .home_svg_one  {
        padding-top: 99px;
        fill: rgba(255,255,255,1);
        width: 100%;
        /* position: relative;
        top: -0px; */
    }
    #home_svg {
        fill: rgba(60,152,189,1);
    }
    .home_svg {
        overflow: visible;
        position: absolute;
        width: 20.158px;
        height: 16.435px;
        left: 600.195px;
        top: 670px;
        right:600 ;
        bottom: 50px;
        transform: matrix(1,0,0,1,0,0);
        }
    .imggg_home{
        height: 150px;
        width: 180px;
        position: relative;
        top: 180px;
        left: 200px;
        display: inline-block;
    }
    .imgg_home{
        height: 100px;
        width: 140px;
        position: relative;
        top: 100px;
        left: -200px;
        display: inline-block;
    }
}
@media only screen and (max-width: 992px ) and (min-width: 768px){
    *{
        margin: 0;
        padding: 0;
        text-decoration: none;
        list-style-type: none;
    }
    .full_header{
        color: white;
        height: 100%;
        width: 100%;
    }
    .mobile{
        display: none;
    }
    .header{
        background-color: rgba(60,152,189,1);
        width: 100%;
        height: 55px;
        font-size: 18px;
        font-weight: bold;
        align-items: center;
        padding-top: 10px;
    }
    .vl_header  {
        align-items: center;
        border-left: 1px solid white;
        height: 20px;
        display: inline-block;
      }
    .vi_header{
        align-items: center;
        border-left: 1px solid white;
        height: 20px;
        display: inline-block;
      }
    .ul_header{
        margin-left: 90px;
        display: inline-block;
        list-style-type: none;
    }
    .li_header{
        margin-left: 26px;
        margin-right: 26px;
        display: inline-block;
    }
    /* #button_header{
        margin-left: 5px;
        background-image: linear-gradient(to right,rgb(31, 111, 143),rgba(60,152,189,1));
        border-color: white;
        padding: 4px 12px 4px 12px;
        border-radius: 50px;
        border-width: 1px;
        font-size: 18px;
        font-weight: bold;
        box-shadow: 0px 0px 5px #aaaaaa;
    } */
    .icon_header{
        display: inline-block;
        margin-left: 20px;
    }
    .link_nav_header{
        color: white;
    }
    /*home style////////////////////////////////////////////////////////*/
    .home{
        
        background-image: linear-gradient(to right,  rgb(45, 132, 167),   rgba(60,152,189,1));
        height: 590px;
        width: 100%;
    }
    .img_one_home{
        margin-top: 30px;
        width: 250px;
        align-items: center;
        justify-content: center;
    }
    .images_paragraph_home{
        align-items: center;
        text-align: center;
    }
    .paragraph_home{
        filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
        overflow: hidden;
        line-height: 70px;
        font-family: "Bahij Helvetica"; 
        font-size: 45px;
        color: rgba(255,255,255,1);
        letter-spacing: -0.4px;
        position: relative;
        top: -20px;
      
    }
    .paragraph_1_home{
        position: relative;
        top: -40px;
        filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
        overflow: hidden;
        line-height: 90px;
         font-family: "Bahij Helvetica"; 
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
        color: rgba(255,255,255,1);
        letter-spacing: -0.4px;
    }
    .space_home{
        width: 20px;
        background-color: red;
    }
    #home_svg_one  {
        fill: rgba(255,255,255,1);
        width: 100%;
        
    }
    .home_svg_one  {
        padding-top: 120px;
        fill: rgba(255,255,255,1);
        width: 100%;
        /* position: relative;
        top: -0px; */
    }
    #home_svg  {
        fill: rgba(60,152,189,1);
    }
    .home_svg  {
        overflow: visible;
        position: absolute;
        width: 20.158px;
        height: 16.435px;
        left: 375.195px;
        top: 660px;
        right:600 ;
        bottom: 56px;
        transform: matrix(1,0,0,1,0,0);
        }
    .imggg_home{
        height: 115px;
        width: 190px;
        position: relative;
        top: 180px;
        left: 60px;
        display: inline-block;
    }
    .imgg_home{
        height: 115px;
        width: 190px;
        position: relative;
        top: 150px;
        left: -70px;
        right: 0px;
        display: inline-block;
    }
}
@media only screen and (max-width: 768px ) and (min-width:576px){
    .header{
        display: none;
    }
    .full_header{
        width: 100%;
        overflow: hidden;
    }
    .home{
        display: none;
    }
    .mobile{
        display: flex;
        height: 100%;
        width: 100%;
        z-index: 50;
    }
    .top{
        width: 100%;
        height:90.076px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #3C98BD;
        background-image: linear-gradient(#3C98BD);
    }
    .top img{
        height: 85px;
        width: 100px;
        padding-right: 20px;
        padding-left: 30px;
        padding-top: 10px;
    }
    .top h1{
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 25px;
        width: 240px;
        right: 340px;
        /* top: 30px; */
        padding-left: 0px;
    }
    .top .icon_header{
        padding-top: 40px;
        display: flex;
        color: white;
        /* top: 40px;
        left: 550px; */
    }
    .top .menu {
        margin-top: 40px;
        margin-left:0px;
        margin-right: 50px;
        margin-bottom: 30px;
        cursor: pointer;
        background-color: red;
    }
    .cross {
        color: gray;
        margin-left: 30px;
        margin-top: 30px;
        margin-right: 180px;
        cursor: pointer;
    }
    .middle{
        background-color: #388cad;
        /* background-image: linear-gradient (#3C98BD),  (#0F53A1) ,(3C98BD); */
        background-image: #1d53a9, #1d589b;
        /* border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px; */
        position: absolute;
        top: 90px;
        right: 50px;
        left: 0px;
        height: 100%;
        width: 100%;
    }
    .middle img{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 40px;
        margin-left: 170px;
        padding-bottom: 100px;
        width: 45%;
        height: 370px;
    }
    .middle p{
        font-size: 40px;
        margin-left: 30%;
        margin-top: -65px;
    }
    .middle h1{
        font-size: 40px;
        margin-left: 290px;
        margin-top: 20px;
    }
    .bottom{
        #path_7  {
            fill: rgba(255,255,255,1);
            width: 100%;
            
        }
        .path_7S  {
            padding-top: 120px;
            fill: rgba(255,255,255,1);
            width: 100%;
            /* position: relative;
            top: -0px; */
        }
    }
    .side_bar{
        background-color: white;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: absolute;
        /* left: 70%; */
        right: 0;
        top: 0;
        bottom: 0;
        color: blue;
        height: 100%;
    }
    .side{
        margin-top:50px;
    }
    .link_nav_header{
        color: #3C98BD;
        font-size: 30px;
        margin-top: 20px;
    }
    hr{
        width:150px;
        background-color:rgb(45, 132, 167);
        margin-left: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
        z-index: 300;
        height:1.5px;
    }
    }
@media only screen and (max-width: 576px ) and (min-width:360px){
    .header{
        display: none;
    }
    .home{
        display: none;
    }
    .mobile{
        display: flex;
        height: 100%;
        width: 100%;
    }
    .top{
        width: 576px;
        position: relative;
        left: 0px;
        right: 0px;
        height:90.076px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #3C98BD;
        background-image: linear-gradient(#3C98BD);
    }
    .top img{
        height: 80px;
        width: 130px;
        padding-right: 20px;
        padding-left: 40px;
        padding-top: 10px;
    }
    .top h1{
        padding-top: 30px;
        width: 300px;
        right: 340px;
        /* top: 30px; */
        padding-left: 0px;
    }
    .top .icon_header{
        padding-top: 40px;
        /* top: 40px;
        left: 550px; */
    }
    .top .menu {
        margin-top: 40px;
        margin-left:0px;
        margin-right: 50px;
        margin-bottom: 30px;
        cursor: pointer;
    }
    .cross {
          color: gray;
          margin-left: 30px;
          margin-top: 30px;
          margin-right: 180px;
          cursor: pointer;
        }
        .icon{
            height:30px;
            width: 30px;
        }
        ul{
            padding: 15px 0 0 15px;
            list-style-type: style;
        }
        li{
            text-align: end;
            margin-top: 6px;
            font-size: 15px;
            display: flex;
        }
  
    .middle{
        background-color: #388cad;
        /* background-image: linear-gradient (#3C98BD),  (#0F53A1) ,(3C98BD); */
        background-image: #1d53a9, #1d589b;
        /* border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px; */
        position: absolute;
        top: 90px;
        right: 50px;
        left: 0px;
        height: 100%;
        width: 100%;
    }
    .middle img{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 200px;
        height: 230px;
        top: 50px;
        left: 250px;
    }
    .middle p{
        font-size: 40px;
        position: relative;
        top: 300px;
        left: 190px;
    }
    .middle h1{
        font-size: 40px;
        position: absolute;
        top: 350px;
        left: 260px;
    }
    .bottom{
        #path_7  {
            fill: rgba(255,255,255,1);
            width: 100%;
            
        }
        .path_7S  {
            padding-top: 120px;
            fill: rgba(255,255,255,1);
            width: 100%;
            /* position: relative;
            top: -0px; */
        }
    }
}
@media only screen and (max-width: 360px) and (min-width: 100px){
    .home{
        background-image: linear-gradient(to right,  rgb(45, 132, 167),   rgba(60,152,189,1));
        height: 510px;
        width: 100%;
    }
    .imgone{
        margin-top: 30px;
        width: 250px;
    }
    .images_paragraph{
        align-items: center;
        text-align: center;
    }
    .paragraph{
        filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
        overflow: hidden;
        line-height: 92px;
         font-family: "Bahij Helvetica"; 
        font-size: 60px;
        color: rgba(255,255,255,1);
        letter-spacing: -0.4px;
        position: relative;
        top: -20px;
    }
    .paragraph_1{
        position: relative;
        top: -40px;
        filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
        overflow: hidden;
        line-height: 92px;
         font-family: "Bahij Helvetica"; 
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        color: rgba(255,255,255,1);
        letter-spacing: -0.4px;
    }
    .space{
        width: 30px;
        background-color: red;
    }
    #Path_7 {
        fill: rgba(255,255,255,1);
        width: 100%;
    }
    .Path_7 {
        fill: rgba(255,255,255,1);
        width: 100%;
        /* position: relative;
        top: -0px; */
    }
    #Path_39 {
        fill: rgba(60,152,189,1);
    }
    .Path_39 {
        overflow: visible;
        position: absolute;
        width: 20.158px;
        height: 16.435px;
        left: 670.195px;
        bottom: 0px;
        transform: matrix(1,0,0,1,0,0);
        }
}