*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
.mobile {
    display: none;
}
.full_header{
    color: white;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.header{
    display: flex;
    flex-direction: row;
    background-color: rgba(60,152,189,1);
    width: 100%;
    height: 90px;
    font-size: 20px;
    font-family: "Bahij Helvetica"; 
    font-weight: bold;
    align-items: center;
}
.ul_header{
    margin-left: 70px;
    margin-right: 70px;
    display: inline-block;
    margin-top: 1%;    
}
.li_header{
    margin-left: 40px;
    margin-right: 40px;
    display: inline-block;
}
.link_nav_header{
    color: white;
}
.vl_header {
    align-items: center;
    border-left: 1px solid white;
    height: 17px;
    display: inline-block;
  }
  .vi_header{
    align-items: center;
    border-left: 1px solid white;
    height: 17px;
    display: inline-block;
    margin-right: 75px;
  }
#button_header{
    margin-left: 5px;
    background-image: linear-gradient(to right,  rgb(31, 111, 143),  rgba(60,152,189,1));
    border-color: white;
    padding: 4px 30px 4px 30px;
    border-radius: 50px;
    border-width: 1px;
    font-size: 20px;
    font-family: "Bahij Helvetica"; 
    font-weight: bold;
    box-shadow: 0px 0px 5px #aaaaaa;
}
.icon_header{
    display: inline-block;
    margin-left: 30px;
}
.dropDownProfile{
    position: absolute;
    top:5rem;
    right: 2rem;
    width: 120px;
    padding: 15px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid gray;
    color:  rgba(60,152,189,1) ;
    text-align: right;
}
.dropDownProfile::before{

    content: '';
    position: absolute;
    top: -0.7rem;
    right: 1.1rem;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: white;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
}
.changefrofilr_button_header{
    border-bottom: 1px solid rgb(231, 228, 228) !important;
    color:rgba(60,152,189,1) !important;
    cursor: pointer !important;
    /* width: 120px; */
}
.logout_button_header{
    /* border-bottom: 1px solid rgb(231, 228, 228) !important; */
    color:rgba(60,152,189,1) !important;
    cursor: pointer !important;
    /* width: 120px; */
}
/*home style////////////////////////////////////////////////////////*/
.home{
    overflow: hidden;
    background-image: linear-gradient(to right,  rgb(45, 132, 167),   rgba(60,152,189,1));
    height: 490px;
    width: 100%;
}
#home_svg {
    fill: rgba(60,152,189,1);
}
.home_svg {
    overflow: visible;
    top: 583px;
    position: absolute;
    display: flex;
    width: 2%;
    height: 2%;
    left: 50%;
}
.images_paragraph_home{
    align-items: center;
    text-align: center;
    }
    .imgg_home{
        position: relative;
        top: 100px;
        left: -130px;
        display: inline-block;
        width: 150px;
        height: 110px;
    }
.img_one_home{
    margin-top: 30px;
    width: 250px;
    margin-left: 35px;
}
.imggg_home{
    position: relative;
    top: 160px;
    left: 220px;
    display: inline-block;
    width: 195px;
    height: 170px;
    }
.paragraph_home{
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
    overflow: hidden;
    line-height: 92px;
     font-family: "Bahij Helvetica"; 
    font-size: 60px;
    color: rgba(255,255,255,1);
    letter-spacing: -0.4px;
	position: relative;
	top: -20px;
}
.paragraph_1_home{
	position: relative;
	top: -40px;
	filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
    overflow: hidden;
    line-height: 92px;
    font-family: "Bahij Helvetica"; 
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    color: rgba(255,255,255,1);
    letter-spacing: -0.4px;
}
.space_home{
	width: 50px;
}
#home_svg_one {
	fill: rgba(255,255,255,1);
    width: 100%;
    height: 10vh;
}
.home_svg_one {
	fill: rgba(255,255,255,1);
    width: 100%;
    height: 13vh;
}
@media only screen and (max-width: 1200px) and (min-width: 992px) {
    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
        list-style-type: none;
    }
    .full_header {
        color: white;
        height: 100vh;
        width: 100vw;
    }
    .mobile {
        display: none;
    }
    .header {
        display: flex;
        flex-direction: row;
        background-color: rgba(60,152,189,1);
        width: 100%;
        height: 70px;
        font-size: 20px;
        font-family: "Bahij Helvetica"; 
        font-weight: bold;
        align-items: center;
    }
    .vl_header {
        align-items: center;
        border-left: 1px solid white;
        height: 17px;
        display: inline-block;
    }
    .vi_header {
        align-items: center;
        border-left: 1px solid white;
        height: 17px;
        display: inline-block;
    }
    .ul_header {
        margin-left: 70px;
        margin-right: 70px;
        display: inline-block;
        margin-top: 1%;    
    }
    .li_header {
        margin-left: 35px;
        margin-right: 35px;
        display: inline-block;
    }
    /* #button_header{
        margin-left: 5px;
        background-image: linear-gradient(to right,rgb(31, 111, 143),rgba(60,152,189,1));
        border-color: white;
        padding: 4px 30px 4px 30px;
        border-radius: 50px;
        border-width: 1px;
        font-size: 18px;
        font-weight: bold;
        box-shadow: 0px 0px 5px #aaaaaa;
    } */
    .icon_header {
        display: inline-block;
        margin-left: -1%;
    }

    .link_nav_header {
        color: white;
    }
    /*home style////////////////////////////////////////////////////////*/
    .home {
        background-image: linear-gradient(to right, rgb(45, 132, 167), rgba(60, 152, 189, 1));
        height: 490px;
        width: 100%;
    }
    .img_one_home {
        margin-top: 30px;
        width: 25%;
        align-items: center;
        justify-content: center;
    }
    .images_paragraph_home {
        align-items: center;
        text-align: center;
    }
    .paragraph_home {
        filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
        overflow: hidden;
        line-height: 90px;
        font-family: "Bahij Helvetica";
        font-size: 50px;
        color: rgba(255, 255, 255, 1);
        letter-spacing: -0.4px;
        position: relative;
        top: -20px;
    }
    .paragraph_1_home {
        position: relative;
        top: -40px;
        filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
        overflow: hidden;
        line-height: 90px;
        font-family: "Bahij Helvetica";
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        color: rgba(255, 255, 255, 1);
        letter-spacing: -0.4px;
    }
    .space_home{
        width: 50px;
    }
    #home_svg_one {
        fill: rgba(255, 255, 255, 1);
    
    }
    .home_svg_one {
        fill: rgba(255, 255, 255, 1);
        width: 100vw;
        height: 80px;
    }
    #home_svg {
        fill: rgba(60, 152, 189, 1);
    }
    .home_svg {
        overflow: visible;
        top: 570px;
        position: absolute;
        display: flex;
        width: 2%;
        height: 3%;
        left: 50%;
    }
    .imggg_home {
        height: 160px;
        width: 16%;
        position: relative;
        top: 130px;
        left: 10%;
        display: inline-block;
    }
    .imgg_home {
        height: 130px;
        width: 15%px;
        position: relative;
        top: 0px;
        left: -7%;
        display: inline-block;
    }
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
        list-style-type: none;
    }
    .full_header {
        color: white;
        width: 100%;
    }
    .mobile {
        display: none;
    }
    .header {
        background-color: rgba(60, 152, 189, 1);
        width: 100%;
        height: 80px;
        font-size: 17px;
        font-weight: bold;
        align-items: center;
    }
    .vl_header {
        align-items: center;
        border-left: 1px solid white;
        height: 15px;
        display: inline-block;
    }
    .vi_header {
        align-items: center;
        border-left: 1px solid white;
        height: 10px;
        display: inline-block;
    }
    .ul_header {
        margin-left: 15px;
        display: inline-block;
        list-style-type: none;
    }
    .li_header {
        margin-left: 26px;
        margin-right: 26px;
        display: inline-block;
    }
    /* #button_header{
        margin-left: 5px;
        background-image: linear-gradient(to right,rgb(31, 111, 143),rgba(60,152,189,1));
        border-color: white;
        padding: 4px 12px 4px 12px;
        border-radius: 50px;
        border-width: 1px;
        font-size: 18px;
        font-weight: bold;
        box-shadow: 0px 0px 5px #aaaaaa;
    } */
    .icon_header {
        display: inline-block;
        margin-right:-20%;
        margin-left: -5%;
        height: 5%;
        width: 5%;
    }
    .link_nav_header {
        color: white;
    }

    /*home style////////////////////////////////////////////////////////*/
    .home {
        background-image: linear-gradient(to right, rgb(45, 132, 167), rgba(60, 152, 189, 1));
        height: 490px;
        width: 100vw;
    }
    .img_one_home {
        margin-top: 30px;
        width: 27%;
        align-items: center;
        justify-content: center;
    }
    .images_paragraph_home {
        align-items: center;
        text-align: center;
    }
    .paragraph_home {
        filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
        overflow: hidden;
        line-height: 70px;
        font-family: "Bahij Helvetica";
        font-size: 38px;
        color: rgba(255, 255, 255, 1);
        letter-spacing: -0.4px;
        position: relative;
        top: -20px;
    }
    .paragraph_1_home {
        position: relative;
        top: -40px;
        filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
        overflow: hidden;
        line-height: 90px;
        font-family: "Bahij Helvetica";
        font-style: normal;
        font-weight: bold;
        font-size: 38px;
        color: rgba(255, 255, 255, 1);
        letter-spacing: -0.4px;
    }
    .space_home {
        width: 100%;
        height: 40px;
    }
    #home_svg_one {
        fill: rgba(255, 255, 255, 1);
    }
    .home_svg_one {
        fill: rgba(255, 255, 255, 1);
        width: 100vw;
        height: 13vh;
        /* position: relative;
        top: -0px; */
    }
    #home_svg {
        fill: rgba(60, 152, 189, 1);
    }
    .home_svg {
        overflow: visible;
        position: absolute;
        height: 2%;
        left: 50%;
        top: 580px;
        /* transform: matrix(1, 0, 0, 1, 0, 0); */
        cursor: pointer;
    }
    .imggg_home {
        height: 123px;
        width: 18%;
        position: relative;
        top: 150px;
        left: 5%;
        display: inline-block;
    }
    .imgg_home {
        height: 123px;
        width: 18%;
        position: relative;
        top: 30px;
        left: -2%;
        display: inline-block;
    }
}
@media only screen and (max-width: 768px) and (min-width:576px) {
    .header {
        display: none;
    }
    .full_header {
        width: 100%;
        overflow: hidden;
    }
    .home {
        display: none;
    }
    .mobile {
        display: flex;
        height: 100%;
        width: 100%;
        z-index: 50;
    }
    .top {
        width: 100%;
        height: 90.076px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #3C98BD;
        background-image: linear-gradient(#3C98BD);
    }
    .top img {
        height: 85px;
        width: 20%;
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 10px;
    }
    .top h1 {
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 30px;
        width: 50%;
        right: 30%;
    }
    .top .icon_header {
        margin-top: 40px;
        margin-bottom: 20px;
        margin-left: 5%;
        margin-right: 5%;
        height: 20px;
        display: flex;
        color: white;
        padding-top: 30px;
        cursor: pointer;
    }
    .top .menu {
        margin-top: 40px;
        margin-left: 0px;
        margin-right: 10%;
        margin-bottom: 30px;
        cursor: pointer;
    }
    .cross {
        color: gray;
        margin-left: 30px;
        margin-top: 30px;
        margin-right: 180px;
        cursor: pointer;
    }
    .middle {
        background-color: #388cad;
        background-image: #1d53a9, #1d589b;
        position: absolute;
        top: 15%;
        right: 0%;
        left: 0%;
        height: 85%;
        width: 100%;
    }
    .middle img {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 7%;
        margin-left: 28%;
        padding-bottom: 100px;
        width: 45%;
        height: 370px;
    }
    .middle p {
        font-size: 40px;
        text-align: center;
        margin-left: 20%;
        margin-right: 30%;
        width: 60%;
        margin-top: -13%;
    }
    .middle h1 {
        text-align: center;
        width: 60%;
        font-size: 40px;
        margin-left: 20%;
        margin-right: 30%;
        margin-top: 10px;
        margin-bottom: 20%;
    }
    .buttom{
        width: 100vw;
        top: 100px;
        clip-path: ellipse(80% 100% at buttom);
        border: 3px solid #388cad;
        background-color: white;
        position: relative;
        bottom: 30px;
    }
    .side_bar {
        background-color: white;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: absolute;
        left: 70%;
        right: 0;
        top: 0;
        bottom: 0;
        color: blue;
        height: 100%;
    }
    .side {
        margin-top: 50px;
    }
    .link_nav_header {
        color: #3C98BD;
        font-size: 30px;
        margin-top: 20px;
    }
    hr {
        width: 150px;
        background-color: rgb(45, 132, 167);
        margin-left: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
        z-index: 300;
        height: 1.5px;
    }
}
@media only screen and (max-width: 576px) and (min-width:360px) {
    .header {
        display: none;
    }

    .home {
        display: none;
    }

    .mobile {
        display: flex;
        height: 100%;
        width: 100%;
    }

    .top {
        width: 100%;
        position: relative;
        height: 90.076px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #3C98BD;
        background-image: linear-gradient(#3C98BD rgb(64, 110, 176));
    }

    .top img {
        height: 80%;
        width: 25%;
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 10px;
    }

    .top h1 {
        padding-top: 30px;
        width: 60%;
        /* top: 30px; */
        font-size: 100%;
    }

    .top .icon_header {
        padding-top: 40px;
        cursor: pointer;
        /* top: 40px;
        left: 550px; */
    }

    .top .menu {
        margin-top: 40px;
        margin-left: 5%;
        margin-right: 10%;
        margin-bottom: 30px;
        cursor: pointer;
    }

    .cross {
        color: gray;
        margin-left: 13%;
        margin-top: 15%;
        margin-right: 180px;
        cursor: pointer;
    }

    .icon {
        height: 20%;
        width: 20%;
    }

    ul {
        padding: 15% 0% 0% 15%;
        list-style-type: style;
    }

    li {
        text-align: end;
        margin-top: 6px;
        font-size: 15px;
        display: flex;
    }

    .middle {
        background-color: #388cad;
        /* background-image: linear-gradient (#3C98BD),  (#0F53A1) ,(3C98BD); */
        background-image: #1d53a9, #1d589b;
        /* border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px; */
        position: absolute;
        top: 90px;
        right: 50px;
        height: 503px;
        left: 0px;
        width: 100%;
    }

    .middle img {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 35%;
        height: 200px;
        top: 50px;
        left: 37%;
    }

    .middle p {
        font-size: 30px;
        position: relative;
        width: 40%;
        top: 270px;
        left: 33%;
        right: 33%;
        text-align: center;
    }

    .middle h1 {
        font-size: 33px;
        position: absolute;
        top: 350px;
        left: 30%;
        right: 18%;
        text-align: center;
    }

    .bottom {
        #path_7 {
            fill: rgba(255, 255, 255, 1);
            width: 100%;

        }

        .path_7S {
            padding-top: 120px;
            fill: rgba(255, 255, 255, 1);
            width: 100%;
            /* position: relative;
            top: -0px; */
        }
    }

    .side_bar {
        background-color: white;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: absolute;
        /* left: 70%; */
        right: 0;
        width: 50%;
        top: 0;
        bottom: 0;
        color: blue;
        height: 100%;
    }

    .side {
        margin-top: 50px;
    }

    .link_nav_header {
        color: #3C98BD;
        font-size: 25px;
        margin-top: 20px;
    }

    hr {
        width: 60%;
        background-color: rgb(45, 132, 167);
        margin-left: 20%;
        margin-top: 10px;
        margin-bottom: 10px;
        z-index: 300;
        height: 1.5px;
    }
}

@media only screen and (max-width: 360px) and (min-width: 100px) {
    .header {
        display: none;
    }

    .home {
        display: none;
    }

    .mobile {
        display: flex;
        height: 100%;
        width: 100%;
    }

    .top {
        width: 100%;
        position: relative;
        height: 90.076px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #3C98BD;
        background-image: linear-gradient(#3C98BD rgb(64, 110, 176));
    }

    .top img {
        height: 80%;
        width: 30%;
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 10px;
    }

    .top h1 {
        padding-top: 30px;
        width: 70%;
        /* top: 30px; */
        font-size: 100%;
    }

    .top .icon_header {
        padding-top: 40px;
        cursor: pointer;
        /* top: 40px;
        left: 550px; */
    }

    .top .menu {
        margin-top: 40px;
        margin-left: 5%;
        margin-right: 10%;
        margin-bottom: 30px;
        cursor: pointer;
    }

    .cross {
        color: gray;
        margin-left: 13%;
        margin-top: 15%;
        margin-right: 180px;
        cursor: pointer;
    }

    .icon {
        height: 20%;
        width: 20%;
    }

    ul {
        padding: 15% 0% 0% 15%;
        list-style-type: style;
    }

    li {
        text-align: end;
        margin-top: 6px;
        font-size: 15px;
        display: flex;
    }

    .middle {
        background-color: #388cad;
        /* background-image: linear-gradient (#3C98BD),  (#0F53A1) ,(3C98BD); */
        background-image: #1d53a9, #1d589b;
        /* border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px; */
        position: absolute;
        top: 90px;
        height: 503px;
        width: 100%;
    }

    .middle img {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 40%;
        height: 150px;
        top: 50px;
        left: 31%;
    }

    .middle p {
        font-size: 25px;
        position: relative;
        width: 40%;
        top: 240px;
        left: 33%;
        right: 33%;
        text-align: center;
    }

    .middle h1 {
        font-size: 25px;
        position: absolute;
        top: 320px;
        left: 30%;
        right: 18%;
        text-align: center;
    }

    .bottom {
        #path_7 {
            fill: rgba(255, 255, 255, 1);
            width: 100%;

        }

        .path_7S {
            padding-top: 120px;
            fill: rgba(255, 255, 255, 1);
            width: 100%;
            /* position: relative;
            top: -0px; */
        }
    }

    .side_bar {
        background-color: white;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: absolute;
        /* left: 70%; */
        right: 0;
        width: 50%;
        top: 0;
        bottom: 0;
        color: blue;
        height: 100%;
    }

    .side {
        margin-top: 50px;
    }

    .link_nav_header {
        color: #3C98BD;
        font-size: 25px;
        margin-top: 20px;
    }

    hr {
        width: 60%;
        background-color: rgb(45, 132, 167);
        margin-left: 20%;
        margin-top: 10px;
        margin-bottom: 10px;
        z-index: 300;
        height: 1.5px;
    }
}
@media only screen and (max-width: 320px) and (min-width: 100px){
    .full_header{
        color: white;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .header{
        display: flex;
        background-color: rgba(60,152,189,1);
        width: 100%;
        height: 100px;
        font-size: 5px;
        font-family: "Bahij Helvetica"; 
        font-weight: bold;
        align-items: center;
    }
    .ul_header{
        margin-left: 30px;
        display: inline-block;
        list-style-type: none;
    
    }
    
    .li_header{
      
        margin-left: 65px;
        margin-right: 80px;
        display: inline-block;
       
    }
    .link_nav_header{
        color: white;
    }
    .vl_header {
        align-items: center;
        border-left: 1px solid white;
        height: 17px;
        display: inline-block;
      }
      .vi_header{
        align-items: center;
        border-left: 1px solid white;
        height: 17px;
        display: inline-block;
        margin-right: 35px;
      }
    #button_header{
        
        margin-left: 5px;
        background-image: linear-gradient(to right,  rgb(31, 111, 143),  rgba(60,152,189,1));
        border-color: white;
        padding: 4px 30px 4px 30px;
        border-radius: 50px;
        border-width: 1px;
        font-size: 20px;
        font-family: "Bahij Helvetica"; 
        font-weight: bold;
        box-shadow: 0px 0px 5px #aaaaaa;
    }
    .icon_header{
        display: inline-block;
        margin-left: 30px;
    }
    .dropDownProfile{
        position: absolute;
        top:5rem;
        right: 5rem;
        width: 120px;
        padding: 15px;
        border-radius: 8px;
        background-color: white;
        border: 1px solid gray;
        color:  rgba(60,152,189,1) ;
        text-align: right;
    }
    .dropDownProfile::before{
    
        content: '';
        position: absolute;
        top: -0.7rem;
        right: 1.1rem;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
        background-color: white;
        border-left: 1px solid gray;
        border-top: 1px solid gray;
    }
    .changefrofilr_button_header{
        border-bottom: 1px solid rgb(231, 228, 228) !important;
        color:rgba(60,152,189,1) !important;
        cursor: pointer !important;
        /* width: 120px; */
    }
    .logout_button_header{
        /* border-bottom: 1px solid rgb(231, 228, 228) !important; */
        color:rgba(60,152,189,1) !important;
        cursor: pointer !important;
        /* width: 120px; */
    }
    
    
    /*home style////////////////////////////////////////////////////////*/
    .home{
        overflow: hidden;
        background-image: linear-gradient(to right,  rgb(45, 132, 167),   rgba(60,152,189,1));
        height: 500px;
        width: 100%;
    }
    #home_svg {
        fill: rgba(60,152,189,1);
    }
    .home_svg {
        overflow: visible;
        position: absolute;
        width: 20.158px;
        height: 16.435px;
        left: 670.195px;
        bottom: 0px;
        transform: matrix(1,0,0,1,0,0);
    }
    .images_paragraph_home{
        align-items: center;
        text-align: center;
        }
        .imgg_home{
            position: relative;
            top: 100px;
            left: -130px;
            display: inline-block;
            width: 150px;
            height: 110px;
        }
    .img_one_home{
        margin-top: 30px;
        width: 250px;
        margin-left: 35px;
    }
    .imggg_home{
        position: relative;
        top: 160px;
        left: 220px;
        display: inline-block;
        width: 195px;
        height: 170px;
        }
    .paragraph_home{
        filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
        overflow: hidden;
        line-height: 92px;
         font-family: "Bahij Helvetica"; 
        font-size: 60px;
        color: rgba(255,255,255,1);
        letter-spacing: -0.4px;
        position: relative;
        top: -20px;
      
    }
    .paragraph_1_home{
        position: relative;
        top: -40px;
        filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
        overflow: hidden;
        line-height: 92px;
         font-family: "Bahij Helvetica"; 
       font-style: normal;
       font-weight: bold;
       font-size: 60px;
       color: rgba(255,255,255,1);
       letter-spacing: -0.4px;
    }
    .space_home{
        width: 30px;
        background-color: red;
    }
    #home_svg_one {
        fill: rgba(255,255,255,1);
        width: 100%;
        
    }
    .home_svg_one {
        fill: rgba(255,255,255,1);
        width: 100%;
        
    }
}