*{
    margin: 0;
    padding: 20%;
    text-decoration: none;
    list-style-type: none;
}
.mobile {
    display: none;
}
.full_header{
    color: white;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.header{
    display: flex;
    padding: 0 3vw;
    flex-direction: row;
    background-color: rgba(60,152,189,1);
    width: 100vw;
    height: 12vh;
    font-size: 1.7vw;
    font-family: "Bahij Helvetica"; 
    font-weight: bold;
    align-items: center;
}
.ul_header{
    margin-left: 70px;
    margin-right: 70px;
    display: inline-block;
    margin-top: 1%;    
}
.li_header{
    margin-left: 3vw;
    margin-right: 3vw;
    display: inline-block;
}
.link_nav_header{
    color: white;
}
.vl_header {
    align-items: center;
    border-left: 1px solid white;
    height: 17px;
    display: inline-block;
}
  .vi_header{
    align-items: center;
    border-left: 1px solid white;
    height: 17px;
    display: inline-block;
    margin-right: 75px;

  }

#button_header{
    margin-left: 5px;
    background-image: linear-gradient(to right,  rgb(31, 111, 143),  rgba(60,152,189,1));
    border-color: white;
    padding: 4px 30px 4px 30px;
    border-radius: 50px;
    border-width: 1px;
    font-size: 20px;
    font-family: "Bahij Helvetica"; 
    font-weight: bold;
    box-shadow: 0px 0px 5px #aaaaaa;
}

.icon_header{
    display: inline-block;
    margin-left: 30px;
    font-size: 2vw;
}
.dropDownProfile{
    position: absolute;
    top:5rem;
    right: 2rem;
    width: 10vw;
    padding: 1%;
    border-radius: 8px;
    background-color: white;
    border: 1px solid gray;
    color:  rgba(60,152,189,1) ;
    text-align: right;
    font-size: 1.6vw;
}
.dropDownProfile::before{
    content: '';
    position: absolute;
    top: -0.7rem;
    right: 5.5rem;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: white;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
}
.changefrofilr_button_header{
    border-bottom: 1px solid rgb(231, 228, 228) !important;
    color:rgba(60,152,189,1) !important;
    cursor: pointer !important;
    /* width: 120px; */
}
.logout_button_header{
    /* border-bottom: 1px solid rgb(231, 228, 228) !important; */
    color:rgba(60,152,189,1) !important;
    cursor: pointer !important;
    /* width: 120px; */
}
/*home style////////////////////////////////////////////////////////*/
.home{
    background-image: linear-gradient(to right,  rgb(45, 132, 167),   rgba(60,152,189,1));
    height: 85vh;
    width: 100vw;
}
.home_svg {
    fill: rgba(60,152,189,1);
    overflow: visible;
    top: 575px;
    position: absolute;
    display: flex;
    width: 2vw;
    height: 2%;
    left: 50vw;
}
.images_paragraph_home{
    align-items: center;
    text-align: center;
}
.imgg_home{
    position: relative;
    top: 100px;
    left: -10vw;
    display: inline-block;
    width: 13vw;
    height: 20vh;
}
.img_one_home{
    margin-top: 5vh;
    width: 20vw;
    margin-left: 5w;
}
.imggg_home{
    position: relative;
    top: 24vh;
    left: 17vw;
    display: inline-block;
    width: 15vw;
    height: 25vh;
    }
.paragraph_home{
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
    overflow: hidden;
    line-height: 92px;
    font-family: "Bahij Helvetica"; 
    font-size: 4vw;
    color: rgba(255,255,255,1);
    letter-spacing: -0.4px;
	position: relative;
	top: -3vh;
}
.paragraph_1_home{
	position: relative;
	top: -6vh;
	filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
    overflow: hidden;
    line-height: 92px;
    font-family: "Bahij Helvetica"; 
    font-style: normal;
    font-weight: bold;
    font-size: 4vw;
    color: rgba(255,255,255,1);
    letter-spacing: -0.4px;
}
/* #home_svg_one {
	fill: rgba(255,255,255,1);
    width: 100%;
    height: 10vh;
} */
.home_svg_one {
	fill: rgba(255,255,255,1);
    width: 100vw;
    height: 13vh;
}
@media only screen and (max-width: 1200px) and (min-width: 992px) {
    * {
        margin: 0;
        padding: 20vw;
        text-decoration: none;
        list-style-type: none;
    }
    .full_header {
        color: white;
        height: 100vh;
        width: 100vw;
    }
    .mobile {
        display: none;
    }
    .header {
        display: flex;
        flex-direction: row;
        background-color: rgba(60,152,189,1);

        width: 100vw;
        height: 12vh;
        font-size: 1.7vw;

/*         width: 100%;
        height: 80px;
        font-size: 20px; */

        font-family: "Bahij Helvetica"; 
        font-weight: bold;
        align-items: center;
        padding-top: 0vw;
    }
    .vl_header {
        align-items: center;
        border-left: 1px solid white;
        display: inline-block;
    }
    .vi_header {
        align-items: center;
        border-left: 1px solid white;
        display: inline-block;
    }
    /* .ul_header {
        margin-left: 70px;
        margin-right: 70px;
        display: inline-block;
        margin-top: 1%;    
    } */

    .li_header {
        margin-left: 3vw;
        margin-right: 3vw;
        display: inline-block;
    }

 
    /* #button_header{
        margin-left: 5px;
        background-image: linear-gradient(to right,rgb(31, 111, 143),rgba(60,152,189,1));
        border-color: white;
        padding: 4px 30px 4px 30px;
        border-radius: 50px;
        border-width: 1px;
        font-size: 18px;
        font-weight: bold;
        box-shadow: 0px 0px 5px #aaaaaa;
    } */

    .icon_header {
        display: inline-block;
        margin-left: -1%;
        margin-top: 2vh;
    }
    .link_nav_header {
        color: white;
    }
    /*home style////////////////////////////////////////////////////////*/
    .home{
        background-image: linear-gradient(to right,  rgb(45, 132, 167),   rgba(60,152,189,1));
        height: 85vh;
        width: 100vw;
    }
    .home_svg {
        fill: rgba(60,152,189,1);
        overflow: visible;
        top: 575px;
        position: absolute;
        display: flex;
        width: 2vw;
        height: 2%;
        left: 50vw;
    }
    .images_paragraph_home{
        align-items: center;
        text-align: center;
    }
    .imgg_home{
        position: relative;
        top: 100px;
        left: -10vw;
        display: inline-block;
        width: 13vw;
        height: 20vh;
    }
    .img_one_home{
        margin-top: 5vh;
        width: 20vw;
        margin-left: 5w;
    }
    .imggg_home{
        position: relative;
        top: 24vh;
        left: 17vw;
        display: inline-block;
        width: 15vw;
        height: 25vh;
        }
    .paragraph_home{
        filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
        overflow: hidden;
        line-height: 92px;
        font-family: "Bahij Helvetica"; 
        font-size: 4vw;
        color: rgba(255,255,255,1);
        letter-spacing: -0.4px;
        position: relative;
        top: -3vh;
    }
    .paragraph_1_home{
        position: relative;
        top: -6vh;
        filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
        overflow: hidden;
        line-height: 92px;
        font-family: "Bahij Helvetica"; 
        font-style: normal;
        font-weight: bold;
        font-size: 4vw;
        color: rgba(255,255,255,1);
        letter-spacing: -0.4px;
    }
    /* #home_svg_one {
        fill: rgba(255,255,255,1);
        width: 100%;
        height: 10vh;
    } */
    .home_svg_one {
        fill: rgba(255,255,255,1);
        width: 100vw;
        height: 18vh;
    }
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
    * {
        margin: 0;
        padding: 20vw;
        text-decoration: none;
        list-style-type: none;
    }
    .full_header {
        color: white;
        height: 100vh;
        width: 100vw;
    }
    .mobile {
        display: none;
    }
    .header {
        display: flex;
        flex-direction: row;
        background-color: rgba(60,152,189,1);
        width: 100vw;
        height: 12vh;
        font-size: 1.7vw;
        font-family: "Bahij Helvetica"; 
        font-weight: bold;
        align-items: center;
        padding-top: 0vw;
    }
    .vl_header {
        align-items: center;
        border-left: 1px solid white;
        display: inline-block;
    }
    .vi_header {
        align-items: center;
        border-left: 1px solid white;
        display: inline-block;
    }
    /* .ul_header {
        margin-left: 70px;
        margin-right: 70px;
        display: inline-block;
        margin-top: 1%;    
    } */
    .li_header {
        margin-left: 3vw;
        margin-right: 3vw;
        display: inline-block;
    }
    .icon_header {
        display: inline-block;
        margin-left: -1%;
        margin-top: 2vh;
    }
    .link_nav_header {
        color: white;
    }
    /*home style////////////////////////////////////////////////////////*/
    .home{
        background-image: linear-gradient(to right,  rgb(45, 132, 167),   rgba(60,152,189,1));
        height: 87vh;
        width: 100vw;
    }
    .home_svg {
        fill: rgba(60,152,189,1);
        overflow: visible;
        top: 575px;
        position: absolute;
        display: flex;
        width: 2vw;
        height: 2%;
        left: 50vw;
    }
    .images_paragraph_home{
        align-items: center;
        text-align: center;
    }
    .imgg_home{
        position: relative;
        top: 100px;
        left: -10vw;
        display: inline-block;
        width: 15vw;
        height: 18vh;
    }
    .img_one_home{
        width: 22vw;
        margin-right: 5vw;
        margin-top: 8vh
    }
    .imggg_home{
        position: relative;
        top: 24vh;
        left: 10vw;
        display: inline-block;
        width: 15vw;
        height: 23vh;
        }
    .paragraph_home{
        filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
        overflow: hidden;
        line-height: 15vh;
        font-family: "Bahij Helvetica"; 
        font-size: 3.8vw;
        color: rgba(255,255,255,1);
        letter-spacing: -0.3px;
        position: relative;
        top: -5vh;
    }
    .paragraph_1_home{
        position: relative;
        top: -10vh;
        filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
        overflow: hidden;
        line-height: 11vh;
        font-family: "Bahij Helvetica"; 
        font-style: normal;
        font-weight: bold;
        font-size: 3.8vw;
        color: rgba(255,255,255,1);
        letter-spacing: -0.5px;
    }
    /* #home_svg_one {
        fill: rgba(255,255,255,1);
        width: 100%;
        height: 10vh;
    } */
    .home_svg_one {
        fill: rgba(255,255,255,1);
        width: 100vw;
        height: 35vh;
    }
}
@media only screen and (max-width: 768px) and (min-width:576px) {
    .header {
        display: none;
    }
    .full_header {
        width: 100vw;
        overflow: hidden;
    }
    .home {
        display: none;
    }
    .mobile {
        display: flex;
        height: 100vh;
        width: 100vw;
        z-index: 5;
    }
    .top {
        padding: 1vw;
        width: 100vw;
        height: 15vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #3C98BD;
        background-image: linear-gradient(#3C98BD);
    }
    .top img {
        height: 9vh;
        width: 9vw;
        margin-left: 6vw;
        margin-top: 2vh;
    }
    .top h1 {
        margin-top: 5vh;
        font-size: 3vw;
        margin-left: -15vw;
    }
    .top .icon_header {
        margin-top: 40px;
        margin-bottom: 20px;
        margin-left: 5%;
        margin-right: 5%;
        height: 20px;
        display: flex;
        color: white;
        padding-top: 30px;
        cursor: pointer;
    }
    .top .menu {
        margin-top: 40px;
        margin-left: 0px;
        margin-right: 10%;
        margin-bottom: 30px;
        cursor: pointer;
    }
    .cross {
        color: gray;
        margin-left: 30px;
        margin-top: 30px;
        margin-right: 180px;
        cursor: pointer;
    }
    .middle {
        background-color: #388cad;
        background-image: #1d53a9, #1d589b;
        position: absolute;
        top: 15%;
        right: 0%;
        left: 0%;
        height: 85%;
        width: 100%;
        z-index: -1;
    }
    .middle img {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 7%;
        margin-left: 28%;
        padding-bottom: 100px;
        width: 45%;
        height: 370px;
    }
    .middle p {
        font-size: 40px;
        text-align: center;
        margin-left: 20%;
        margin-right: 30%;
        width: 60%;
        margin-top: -13%;
    }
    .middle h1 {
        text-align: center;
        width: 60%;
        font-size: 40px;
        margin-left: 20%;
        margin-right: 30%;
        margin-top: 10px;
        margin-bottom: 20%;
    }
    .buttom{
        width: 100vw;
        top: 100px;
        clip-path: ellipse(80% 100% at buttom);
        border: 3px solid #388cad;
        background-color: white;
        position: relative;
        bottom: 30px;
    }
    .side_bar {
        background-color: white;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: absolute;
        left: 70%;
        right: 0;
        top: 0;
        bottom: 0;
        color: blue;
        height: 100%;
    }
    .side {
        margin-top: 50px;
    }
    /* .link_nav_header {
        color: #3C98BD;
        font-size: 30px;
        margin-top: 20px; */
    hr {
        width: 150px;
        background-color: rgb(45, 132, 167);
        margin-left: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
        z-index: 300;
        height: 1.5px;
    }

    .bottom {
        fill: rgba(255,255,255,1);
        width: 100vw;
        height: 3vh;
    }
    

    .icon_header {
        /* display: inline-block;
        margin-right:-20%;
        margin-left: -5%;
        height: 5%;
        width: 5%; */
        background-color: red;
        height: 5px;
        margin-top: 0%;
        margin-bottom: 20%;
        width: 5%;
        padding: 0;
    }
    .link_nav_header {
        color: white;
    }
    .dropDownProfile{
        position: absolute;
        top:6rem;
        right: 7rem;
        width: 120px;
        padding: 15px;
        border-radius: 8px;
        background-color: white;
        border: 1px solid gray;
        color:  rgba(60,152,189,1) ;
        text-align: right;
    }
    .dropDownProfile::before{
        content: '';
        position: absolute;
        /* top: -0.7rem; */
        /* right: 1.1rem;
        width: 20px;
        height: 20px; */
        transform: rotate(45deg);
        background-color: white;
        border-left: 1px solid gray;
        border-top: 1px solid gray;
    }
    .changefrofilr_button_header{
        border-bottom: 1px solid rgb(231, 228, 228) !important;
        color:rgba(60,152,189,1) !important;
        cursor: pointer !important;
        font-size: 15px;
        /* width: 120px; */
    }
    .logout_button_header{
        /* border-bottom: 1px solid rgb(231, 228, 228) !important; */
        color:rgba(60,152,189,1) !important;
        cursor: pointer !important;
        font-size: 15px;
        /* width: 120px; */
    }

}
@media only screen and (max-width: 576px) and (min-width:360px) {
    .header {
        display: none;
    }
    .home {
        display: none;
    }
    .mobile {
        display: flex;
        height: 100%;
        width: 100%;
    }
    .top {
        width: 100%;
        position: relative;
        height: 90.076px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #3C98BD;
        background-image: linear-gradient(#3C98BD rgb(64, 110, 176));
    }
    .top img {
        height: 80%;
        width: 25%;
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 10px;
    }
    .top h1 {
        padding-top: 30px;
        width: 60%;
        /* top: 30px; */
        font-size: 100%;
    }
    .top .icon_header {
        padding-top: 40px;
        cursor: pointer;
        /* top: 40px;
        left: 550px; */
    }
    .top .menu {
        margin-top: 40px;
        margin-left: 5%;
        margin-right: 10%;
        margin-bottom: 30px;
        cursor: pointer;
    }
    .cross {
        color: gray;
        margin-left: 13%;
        margin-top: 15%;
        margin-right: 180px;
        cursor: pointer;
    }
    .icon {
        height: 20%;
        width: 20%;
    }
    ul {
        padding: 15% 0% 0% 15%;
        list-style-type: style;
    }
    li {
        text-align: end;
        margin-top: 6px;
        font-size: 15px;
        display: flex;
    }
    .middle {
        background-color: #388cad;
        background-image: #1d53a9, #1d589b;
        /* border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px; */
        position: absolute;
        top: 90px;
        right: 50px;
        height: 503px;
        left: 0px;
        width: 100%;
        z-index: -1;
    }
    .middle img {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 35%;
        height: 200px;
        top: 50px;
        left: 37%;
    }
    .middle p {
        font-size: 30px;
        position: relative;
        width: 40%;
        top: 270px;
        left: 33%;
        right: 33%;
        text-align: center;
    }
    .middle h1 {
        font-size: 33px;
        position: absolute;
        top: 350px;
        left: 30%;
        right: 18%;
        text-align: center;
    }
    .bottom {
        #path_7 {
            fill: rgba(255, 255, 255, 1);
            width: 100%;

        }
        .path_7 {
            padding-top: 120px;
            fill: rgba(255, 255, 255, 1);
            width: 100%;

        }
    }
    .side_bar {
        background-color: white;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: absolute;
        /* left: 70%; */
        right: 0;
        width: 50%;
        top: 0;
        bottom: 0;
        color: blue;
        height: 100%;
    }
    .side {
        margin-top: 50px;
    }
    .link_nav_header {
        color: #3C98BD;
        font-size: 25px;
        margin-top: 20px;
    }
    hr {
        width: 60%;
        background-color: rgb(45, 132, 167);
        margin-left: 20%;
        margin-top: 10px;
        margin-bottom: 10px;
        z-index: 300;
        height: 1.5px;
    }
    .icon_header {
        /* display: inline-block;
        margin-right:-20%;
        margin-left: -5%;
        height: 5%;
        width: 5%; */
        background-color: red;
        height: 5px;
        margin-top: 0%;
        margin-bottom: 20%;
        width: 5%;
        padding: 0;
    }
    .link_nav_header {
        color: white;
    }
    .dropDownProfile{
        position: absolute;
        top:6rem;
        right: 7rem;
        width: 120px;
        padding: 15px;
        border-radius: 8px;
        background-color: white;
        border: 1px solid gray;
        color:  rgba(60,152,189,1) ;
        text-align: right;
    }
    .dropDownProfile::before{
        content: '';
        position: absolute;
        /* top: -0.7rem; */
        /* right: 1.1rem;
        width: 20px;
        height: 20px; */
        transform: rotate(45deg);
        background-color: white;
        border-left: 1px solid gray;
        border-top: 1px solid gray;
    }
    .changefrofilr_button_header{
        border-bottom: 1px solid rgb(231, 228, 228) !important;
        color:rgba(60,152,189,1) !important;
        cursor: pointer !important;
        font-size: 15px;
        /* width: 120px; */
    }
    .logout_button_header{
        /* border-bottom: 1px solid rgb(231, 228, 228) !important; */
        color:rgba(60,152,189,1) !important;
        cursor: pointer !important;
        font-size: 15px;
        /* width: 120px; */
    }
}
@media only screen and (max-width: 360px) and (min-width: 320px) {
    .header {
        display: none;
    }

    .home {
        display: none;
    }

    .mobile {
        display: flex;
        height: 100%;
        width: 100%;
    }

    .top {
        width: 100%;
        position: relative;
        height: 90.076px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #3C98BD;
        background-image: linear-gradient(#3C98BD rgb(64, 110, 176));
    }

    .top img {
        height: 80%;
        width: 30%;
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 10px;
    }

    .top h1 {
        padding-top: 30px;
        width: 70%;
        /* top: 30px; */
        font-size: 100%;
    }

    .top .icon_header {
        padding-top: 40px;
        cursor: pointer;
        /* top: 40px;
        left: 550px; */
    }

    .top .menu {
        margin-top: 40px;
        margin-left: 5%;
        margin-right: 10%;
        margin-bottom: 30px;
        cursor: pointer;
    }

    .cross {
        color: gray;
        margin-left: 13%;
        margin-top: 15%;
        margin-right: 180px;
        cursor: pointer;
    }

    .icon {
        height: 20%;
        width: 20%;
    }

    ul {
        padding: 15% 0% 0% 15%;
        list-style-type: style;
    }

    li {
        text-align: end;
        margin-top: 6px;
        font-size: 15px;
        display: flex;
    }

    .middle {
        background-color: #388cad;
        /* background-image: linear-gradient (#3C98BD),  (#0F53A1) ,(3C98BD); */
        background-image: #1d53a9, #1d589b;
        /* border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px; */
        position: absolute;
        top: 90px;
        height: 503px;
        width: 100%;
        z-index: -1;
    }

    .middle img {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 40%;
        height: 150px;
        top: 50px;
        left: 31%;
    }

    .middle p {
        font-size: 25px;
        position: relative;
        width: 40%;
        top: 240px;
        left: 33%;
        right: 33%;
        text-align: center;
    }

    .middle h1 {
        font-size: 25px;
        position: absolute;
        top: 320px;
        left: 30%;
        right: 18%;
        text-align: center;
    }

    .bottom {
        #path_7 {
            fill: rgba(255, 255, 255, 1);
            width: 100%;

        }

        .path_7S {
            padding-top: 120px;
            fill: rgba(255, 255, 255, 1);
            width: 100%;
            /* position: relative;
            top: -0px; */
        }
    }

    .side_bar {
        background-color: white;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: absolute;
        /* left: 70%; */
        right: 0;
        width: 50%;
        top: 0;
        bottom: 0;
        color: blue;
        height: 100%;
    }

    .side {
        margin-top: 50px;
    }

    .link_nav_header {
        color: #3C98BD;
        font-size: 25px;
        margin-top: 20px;
    }

    hr {
        width: 60%;
        background-color: rgb(45, 132, 167);
        margin-left: 20%;
        margin-top: 10px;
        margin-bottom: 10px;
        z-index: 300;
        height: 1.5px;
    }
    .icon_header {
        /* display: inline-block;
        margin-right:-20%;
        margin-left: -5%;
        height: 5%;
        width: 5%; */
        background-color: red;
        height: 5px;
        margin-top: 0%;
        margin-bottom: 20%;
        width: 5%;
        padding: 0;
    }
    .link_nav_header {
        color: white;
    }
    .dropDownProfile{
        position: absolute;
        top:6rem;
        right: 7rem;
        width: 120px;
        padding: 15px;
        border-radius: 8px;
        background-color: white;
        border: 1px solid gray;
        color:  rgba(60,152,189,1) ;
        text-align: right;
    }
    .dropDownProfile::before{
        content: '';
        position: absolute;
        /* top: -0.7rem; */
        /* right: 1.1rem;
        width: 20px;
        height: 20px; */
        transform: rotate(45deg);
        background-color: white;
        border-left: 1px solid gray;
        border-top: 1px solid gray;
    }
    .changefrofilr_button_header{
        border-bottom: 1px solid rgb(231, 228, 228) !important;
        color:rgba(60,152,189,1) !important;
        cursor: pointer !important;
        font-size: 15px;
        /* width: 120px; */
    }
    .logout_button_header{
        /* border-bottom: 1px solid rgb(231, 228, 228) !important; */
        color:rgba(60,152,189,1) !important;
        cursor: pointer !important;
        font-size: 15px;
        /* width: 120px; */
    }
}
@media only screen and (max-width: 320px) and (min-width: 100px){
    .header {
        display: none;
    }

    .home {
        display: none;
    }

    .mobile {
        display: flex;
        height: 100%;
        width: 100%;
    }

    .top {
        width: 100%;
        position: relative;
        height: 90.076px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #3C98BD;
        background-image: linear-gradient(#3C98BD rgb(64, 110, 176));
    }

    .top img {
        height: 80%;
        width: 30%;
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 10px;
    }

    .top h1 {
        padding-top: 30px;
        width: 70%;
        /* top: 30px; */
        font-size: 100%;
    }

    .top .icon_header {
        padding-top: 40px;
        cursor: pointer;
        /* top: 40px;
        left: 550px; */
    }

    .top .menu {
        margin-top: 40px;
        margin-left: 5%;
        margin-right: 10%;
        margin-bottom: 30px;
        cursor: pointer;
    }

    .cross {
        color: gray;
        margin-left: 13%;
        margin-top: 15%;
        margin-right: 180px;
        cursor: pointer;
    }

    .icon {
        height: 20%;
        width: 20%;
    }

    ul {
        padding: 15% 0% 0% 15%;
        list-style-type: style;
    }

    li {
        text-align: end;
        margin-top: 6px;
        font-size: 15px;
        display: flex;
    }

    .middle {
        background-color: #388cad;
        /* background-image: linear-gradient (#3C98BD),  (#0F53A1) ,(3C98BD); */
        background-image: #1d53a9, #1d589b;
        /* border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px; */
        position: absolute;
        top: 90px;
        height: 503px;
        width: 100%;
        z-index: -1;
    }

    .middle img {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 40%;
        height: 150px;
        top: 50px;
        left: 31%;
    }

    .middle p {
        font-size: 25px;
        position: relative;
        width: 40%;
        top: 240px;
        left: 33%;
        right: 33%;
        text-align: center;
    }

    .middle h1 {
        font-size: 25px;
        position: absolute;
        top: 320px;
        left: 30%;
        right: 18%;
        text-align: center;
    }

    .bottom {
        #path_7 {
            fill: rgba(255, 255, 255, 1);
            width: 100%;

        }

        .path_7S {
            padding-top: 120px;
            fill: rgba(255, 255, 255, 1);
            width: 100%;
            /* position: relative;
            top: -0px; */
        }
    }

    .side_bar {
        background-color: white;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: absolute;
        /* left: 70%; */
        right: 0;
        width: 50%;
        top: 0;
        bottom: 0;
        color: blue;
        height: 100%;
    }

    .side {
        margin-top: 50px;
    }

    .link_nav_header {
        color: #3C98BD;
        font-size: 25px;
        margin-top: 20px;
    }

    hr {
        width: 60%;
        background-color: rgb(45, 132, 167);
        margin-left: 20%;
        margin-top: 10px;
        margin-bottom: 10px;
        z-index: 300;
        height: 1.5px;
    }
    .icon_header {
        /* display: inline-block;
        margin-right:-20%;
        margin-left: -5%;
        height: 5%;
        width: 5%; */
        background-color: red;
        height: 5px;
        margin-top: 0%;
        margin-bottom: 20%;
        width: 5%;
        padding: 0;
    }
    .link_nav_header {
        color: white;
    }
    .dropDownProfile{
        position: absolute;
        top:6rem;
        right: 7rem;
        width: 120px;
        padding: 15px;
        border-radius: 8px;
        background-color: white;
        border: 1px solid gray;
        color:  rgba(60,152,189,1) ;
        text-align: right;
    }
    .dropDownProfile::before{
        content: '';
        position: absolute;
        /* top: -0.7rem; */
        /* right: 1.1rem;
        width: 20px;
        height: 20px; */
        transform: rotate(45deg);
        background-color: white;
        border-left: 1px solid gray;
        border-top: 1px solid gray;
    }
    .changefrofilr_button_header{
        border-bottom: 1px solid rgb(231, 228, 228) !important;
        color:rgba(60,152,189,1) !important;
        cursor: pointer !important;
        font-size: 15px;
        /* width: 120px; */
    }
    .logout_button_header{
        /* border-bottom: 1px solid rgb(231, 228, 228) !important; */
        color:rgba(60,152,189,1) !important;
        cursor: pointer !important;
        font-size: 15px;
        /* width: 120px; */
    }
}