
.full_header {
  color: white;
  width: 100%;
  height: 12%;
  overflow: hidden;
  z-index: 3000;
  overflow: visible;
  background-color: rgba(60, 152, 189, 1);
}
.full_header .mobile {
  display: none;
}
.full_header .header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.3vw;
  font-family: "Bahij Helvetica";
  font-weight: bold;
  /* align-items: center; */
}
.full_header .header .nav_header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  /* background-color: #aaaaaa; */
  width: 100%;
}
.full_header .header .nav_header .ul_header {
  width: 70%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.full_header .header .nav_header .ul_header .li_header {
  list-style: none;
  width: 16.6%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.full_header .header .nav_header .ul_header .li_header .link_nav_header {
  color: #FFF;
  font-size: 15px;
}
.full_header .header .nav_header .ul_header .vl_header {
  align-items: center;
  border-left: 1px solid white;
  height: 17px;
  display: inline-block;
}
.icon_header {
  font-size: 20px;
  width: 12%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.insideProfile {
  width: 12%;
}
.insideProfile ul {
  list-style: none;
}
.dropDownProfile {
  position: absolute;
  top: 160%;
  right: 0;
  width: 100%;
  padding: 1%;
  border-radius: 8px;
  background-color: white;
  border: 1px solid gray;
  color: rgba(60, 152, 189, 1);
  text-align: right;
  font-size: 15px;
  z-index: 200;

}
.dropDownProfile ul{
  text-align: right;
  width: 100%;
  z-index: 300;
}
#button_header {
  margin-left: 5px;
  background-image: linear-gradient(
    to right,
    rgb(31, 111, 143),
    rgba(60, 152, 189, 1)
  );
  border-color: white;
  padding: 4px 30px 4px 30px;
  border-radius: 50px;
  border-width: 1px;
  font-size: 20px;
  font-family: "Bahij Helvetica";
  font-weight: bold;
  box-shadow: 0px 0px 5px #aaaaaa;
}

.lng,
.full_header .header .nav_header .ul_header .li_header_book {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  /* padding: 4px; */
  border-radius: 2px;
  position: relative;
  height: 40%;
}
.full_header .header .nav_header .ul_header .li_header_book {
  border: none;
  cursor: pointer;
  width: 16.6%;
 
}
.lng .selctedoption,
.full_header .header .nav_header .ul_header .li_header_book .selctedoption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 15px;

}
.lng .selctedoption img,
.li_header_book .selctedoption img {
  width: 10px;
  height: 6px;
  cursor: pointer;
  margin-left: 5px;
}
.lng .lng-menu .dropdown-menu,
.full_header
  .header
  .nav_header
  .ul_header
  .li_header_book
  .bookMenue
  .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 2000;
  transition: all 2s linear 1s;

}
.lng .lng-menu .dropdown-menu li,
.full_header
  .header
  .nav_header
  .ul_header
  .li_header_book
  .bookMenue
  .dropdown-menu
  li {
  padding: 10px;
  cursor: pointer;
  color: rgba(60, 152, 189, 1);
  text-align: right;
  font-size: 15px;
}

.lng .lng-menu .dropdown-menu li:hover,
.li_header_book .bookMenue .dropdown-menu li:hover {
  background-color: #f0f0f0;
}
.dropDownProfile::before {
  content: "";
  position: absolute;
  top: -0.7rem;
  right: 5vw;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: white;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
}
.changefrofilr_button_header {
  border-bottom: 1px solid rgb(231, 228, 228) !important;
  color: rgba(60, 152, 189, 1) !important;
  cursor: pointer !important;
  /* width: 120px; */
}
.logout_button_header {
  /* border-bottom: 1px solid rgb(231, 228, 228) !important; */
  color: rgba(60, 152, 189, 1) !important;
  cursor: pointer !important;
  /* width: 120px; */
}


@media only screen and (max-width: 700px) {
  .full_header .header {
    display: none;
  }
  .full_header .mobile {
    display: flex;
    /* padding: 0 3vw; */
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.3vw;
    font-family: "Bahij Helvetica";
    font-weight: bold;
  }
  .full_header .mobile .top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .full_header .mobile .top .leftTop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    margin-right: 20%;
  }
  .full_header .mobile .top .leftTop img {
    width: 60px;
    height: 60px;
    margin-right: 5px;
  }
  /* .full_header .mobile .top .leftTop h1{
  width: 50%;
} */
  .full_header .mobile .top .lng {
    width: 30%;
  }
  .full_header .mobile .top .icon_header {
    width: 25%;
  }
  .full_header .mobile .top .icon_header .dropDownProfile{
    font-size: 12px;
    z-index: 100;
  }
  .full_header .mobile .top .icon_header .dropDownProfile ul{
    text-align: right;
    width: 100%;
    z-index: 200;
  }
  .full_header .mobile .top .menu {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .full_header .mobile .top .menuIcon {
    width: 15px;
    height: 15px;
  }
  .full_header .mobile .side_bar {
    background-color: white;
    /* backdrop-filter:  blur(50px); */
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    /* left: 70%; */
    right: 0;
    width: 50%;
    top: 0;
    bottom: 0;
    color: rgb(45, 132, 167);
    height: 100vh;
    z-index: 2000;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
  }
  .full_header .mobile .side_bar .side {
    padding: 10%;
  }
  .full_header .mobile .side_bar .side .li_header,
  .full_header .mobile .side_bar .side .li_header_book {
    list-style: none;
    width: 80%;

    padding: 10%;
    border-bottom: 2px solid rgb(45, 132, 167);
  }
  .full_header .mobile .side_bar .side .li_header:hover,
  .full_header .mobile .side_bar .side .li_header_book:hover{
    background-color: #f0f0f0;
  }
  .full_header .mobile .side_bar .side .li_header .link_nav_header,
  .full_header .mobile .side_bar .side .li_header_book .selctedoption {
    color: rgb(45, 132, 167);
    font-size: 15px;
    font-family: "Bahij Helvetica";
    font-weight: bold;
    width: 100%;
  }
  .full_header .mobile .side_bar .side .mobileHr {
    background-color: rgb(45, 132, 167);
  }
  .full_header .mobile .side_bar .cross {
    color: gray;
    width: 10px;
    margin-left: 5vw;
    margin-top: 10%;
    cursor: pointer;
  }

  .full_header .mobile .side_bar .side .li_header_book {
    /* background-color: green; */
    padding-left: 0%;
    padding-right: 0%;
    width: 80%;
    cursor: pointer;
  }
  .full_header .mobile .side_bar .side .li_header_book .bookMenue {
    /* position: absolute; */
    width: 100%;
  }
  .full_header
    .mobile
    .side_bar
    .side
    .li_header_book
    .bookMenue
    .dropdown-menu {
    list-style: none;
    width: 100%;
    background-color: rgb(45, 132, 167);
  }
  .full_header
    .mobile
    .side_bar
    .side
    .li_header_book
    .bookMenue
    .dropdown-menu
    li {
    text-align: center;

    border: none;
    cursor: pointer;
    color: #fff;
    list-style: none;

    width: 100%;

    padding: 5px;
  }
  .full_header
    .mobile
    .side_bar
    .side
    .li_header_book
    .bookMenue
    .dropdown-menu
    li:hover {
    background-color: rgb(119, 179, 203);
  }

}
/* @media only screen and (max-width: 461px){
  .full_header .mobile .side_bar{
    width: 50vw;
  }
} */
