.all_section_about{
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    height: 83%;
    /* min-height: 560px; */
}
.section_one_about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
   

}
.image_phone_one_about{
    display: none;
}
.image_phone_three_about{
    display: none;
}
.selesh_aboutt{
    display: none;
}
.selesh_about{
    display: flex;
    width: 3vw;
    margin-top: 150%;
    margin-left: 200%;
}
.dot_about{
    margin-top: 1vw;
    margin-right: 6vw;
    display: flex;
    width: 8vw;
    
}
.section_two_about{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 57vh;
    
}
.logoooo_about{
    display: flex;
    width: 35vw;
    height:  25vw;
    margin-left: 10vw;
    margin-right: 2vw;
    align-items: center;
    justify-content: center;
}
.about{
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: right;
    color:  rgba(60,152,189,1);
    font-family: "Bahij Helvetica";
    font-size: 1.5vw;
    font-style: normal;
    line-height: 40px;
    margin-right: 10vw;
    margin-left: 2vw;
}
.title_about{

    text-align: right;
    color:  rgba(60,152,189,1);
    font-family: "Bahij Helvetica";
    font-size: 3vw;
    margin-bottom: 10px;
}
.section_three_about{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.dott-about{
    display: flex;
    margin-bottom: 1vw;
    margin-left: 6vw;
    display: flex;
    width: 8vw;
    justify-content: end;
}
.phone_svg_two_about{
    display: none;
}

@media screen and (max-width: 1024px){
    .all_section_about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        min-height: 560px;
        /* background-size: 100%; */
    }
    .section_one_about{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      text-align: center;
      /* height: 100vh; */
      /* min-height: 60px; */
    }
    .section_two_about{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 80vh;
        /* min-height: 400px; */
    }
    .section_three_about{
        display: flex;
        justify-content: space-between;
        text-align: center;
        /* height: 100vh; */
        /* min-height: 60px; */
    }
}
@media screen and (max-width: 768px){
    .all_section_about{
     display: flex;
     flex-direction: column;
     height: unset;
     min-height: unset;
    
}
    .section-one-and-two-grades{
     background-image: url('../App/assets/mb-ba.jpg');
     background-size: cover; 
     background-repeat: no-repeat;
     /* padding-bottom: 30px; */
}
    .section-zero{
     display: flex;
     flex-direction: column;
     height: 30%;
     flex: 1;
}
    .image_phone_one_about{
     display: flex;
     flex: 1;
     width: 20%;
     justify-content: right;
     align-items: flex-start;
}
    .selesh_aboutt{
     display: flex;
     margin-top: -10%;
     margin-left: 10%;
     width: 5vw;
     height: 3vw;
    
}
    .section_one_about{
     justify-content: space-between;  
     display: flex;
     flex-direction: column;
     align-items: center;
   /* height: 300px; */
   flex: unset;
  
}
    .selesh_about{
     display: none;
}
    .image_phone_three_aboutt{
     flex: 1;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
    
}
    .image_phone_three_about{
     flex: 1;
     display: flex;
     width: 30%;
     height: 30%;
     justify-content: center;
     align-items: center;
     text-align: center;
}
    .dot_about{
     display: none;
}
    .section_two_about{
      /* display: flex;
     flex-direction: row;
     justify-content: space-between;
     flex: 1;
     height: unset; */
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     flex: 1;
     height: unset;
}
    .logoooo_about{
     display: none;
}
    .about{
     display: flex;
     flex-direction: column;
     flex: 1;
     text-align: right;
     color:  rgba(60,152,189,1);
     font-family: "Bahij Helvetica";
     font-size: 3.5vw;
     font-style: normal;
     line-height: 40px;
     margin-left: 15vw;
     margin-right: 15vw;
     margin-top: 30px;
     margin-bottom: 90px;
}
.title_about{
    text-align: right !important;
    color:  rgba(60,152,189,1);
    font-family: "Bahij Helvetica";
    font-size: 6.5vw;

    margin-bottom: 10px;
}
    .section_three_about{
     flex: 1;
     justify-content: flex-end;
}
    .dott-about{
     display: none;
}
    .phone_svg_two_about{
     transform-origin: center;
     display: flex;
     flex: 1;
     justify-content: flex-end;
}
    #phone_svg_two_about{
     fill: rgba(0,0,0,0);
     stroke: rgba(60,152,189,1);
     stroke-width: 1px;
     stroke-linejoin: miter;
     stroke-linecap: butt;
     stroke-dasharray: 4.026000022888184 4.026000022888184;
     stroke-dashoffset: 0;
     stroke-miterlimit: 10;
     shape-rendering: auto;
}
}
@media screen and (max-width: 414px){
    .all_section_about{
     display: flex;
     flex-direction: column;
     height: 100vh;
     min-height:650px;
     /* justify-content: space-between; */
}
   .section-one-and-two-grades{
     background-image: url('../App/assets/mb-ba.jpg');
     background-size: cover; 
     background-repeat: no-repeat;
     /* justify-content: space-between; */
}
    .section-zero{
     display: flex;
     flex-direction: column;
     height: 30%;
}

    .image_phone_one_about{
     display: flex;
     flex: 1;
     width: 20%;
     justify-content: right;
     align-items: flex-start;
}
    .selesh_aboutt{
     display: flex;
     margin-top: -10%;
     margin-left: 10%;
     width: 6vw;
     height: 4vw;
}
    .section_one_about{
     justify-content: space-between;  
     display: flex;
     flex-direction: column;
     align-items: center;
}
    .selesh_about{
     display: none;
}
    .image_phone_three_aboutt{
     flex: 1;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
}
    .image_phone_three_about{
     flex: 1;
     display: flex;
     width: 30%;
     height: 30%;
     justify-content: center;
     align-items: center;
     text-align: center;
}
    .dot_about{
     display: none;
}
        
    .section_two_about{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     flex: 2;
}
    .logoooo_about{
     display: none;
}
    .about{
     display: flex;
     flex-direction: column;
     flex: 1;
     text-align: right;
     color:  rgba(60,152,189,1);
     font-family: "Bahij Helvetica";
     font-size: 3vw;
     font-style: normal;
     line-height: 30px;
     margin-left: 15vw;
     margin-right: 15vw;
     margin-top: 20px;
     margin-bottom: 30px;
}
.title_about{
    text-align: right;
    color:  rgba(60,152,189,1);
    font-family: "Bahij Helvetica";
    font-size: 7vw;
    margin-bottom: 10px;
}
.gg{
    /* height: 40vh; */
    display: flex;
    flex: 1;
    justify-content: flex-end;
    text-align: flex-end;
    align-items: flex-end;
}
    .section_three_about{
     flex: 1;
     min-height: 20px;
     justify-content: end;
}
    .dott-about{
     display: none;
}
    .phone_svg_two_about{
     transform-origin: center;
     display: flex;
     flex: 1;         
}
    #phone_svg_two_about{
     fill: rgba(0,0,0,0);
     stroke: rgba(60,152,189,1);
     stroke-width: 1px;
     stroke-linejoin: miter;
     stroke-linecap: butt;
     stroke-dasharray: 4.026000022888184 4.026000022888184;
     stroke-dashoffset: 0;
     stroke-miterlimit: 10;
     shape-rendering: auto;
}
}

