*{
    font-family: "Bahij Helvetica";
    }
    .full-Download {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
    
    }
    
    .full-Download .d-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-image: linear-gradient(to right,  #3C98BD , #0F53A1);
        width: 100%;
        height:90%;
    }
    .full-Download .d-section  .flesh-image-grade-d {
        display: flex;
        flex-direction:column;
        justify-content:end;
        align-items:end;
        width:90%;
        height:10%;
    }
    .full-Download .d-section .flesh-image-grade-d a{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: start;
        
    }
    .full-Download .d-section .bottom_D {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 90%;
    }
    .full-Download .d-section .bottom_D .Dimg{
     height: 100%;
     width: 50%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    
    }
    .full-Download .d-section .bottom_D .Dimg .Dimg_img{
        width: 90%;
        height: 80%;
    }
    .full-Download .d-section .bottom_D .BookD_list{
        display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 100%;
    }
    .full-Download .d-section .bottom_D .second-second-d {
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items: center;
            width: 100%;
            height: 100%;
    }
    .full-Download .d-section .bottom_D .BookD_list .second-second-d .p-container-d{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 16%;
        color: white;
        margin-bottom: 2%;
        
    }
    .full-Download .d-section .bottom_D .BookD_list .second-second-d .p-container-d .p-downloding {
        color: white;
        font-size: 25px;
        font-weight: bold;
        font-family: "Bahij Helvetica";
        text-align: center;
    }
    .full-Download .d-section .bottom_D .BookD_list .second-second-d .p-container-d #p-downloding {
        color: white;
        font-size: 25px;
        font-family: "Bahij Helvetica";
        text-align: center;
    }
    .full-Download .d-section .bottom_D .BookD_list  .second-second-d .Download-ul{
        height: 70%;
        display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
    }
    .full-Download .d-section .bottom_D .BookD_list .second-second-d .Download-ul .d-middle{
        width: 100%;
        flex: 1;
        overflow-y:scroll;
    }
    .full-Download .d-section .bottom_D .BookD_list .second-second-d .Download-ul  .d-middle .inside_ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
            
    }
    .full-Download .d-section .bottom_D .BookD_list .second-second-d .Download-ul  .d-middle .inside_ul .Download-li{
    display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(212, 228, 232, 1);
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
        border-radius: 32px;
        height: 40px;   
        padding: 1%;
        
    }
  .d-book {
    color: rgba(16, 84, 162, 1);
    margin:1%;
  }
    .full-Download .d-section .bottom_D .BookD_list .second-second-d .Download-ul .d-middle .inside_ul .Download-li #h6{
        text-align: right ;
        font-family: "Bahij Helvetica";
            color: rgba(16, 84, 162, 1);
            font-size: 100%;
            margin:3%;
    }
    .full-Download .d-section .bottom_D .BookD_list .second-second-d .Download-ul #line-d{
        background-color: red;
    }
    .full-Download .d-section .bottom_D .BookD_list .second-second-d .pathimg{
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding-top: 5px;
        border-top: 2px solid white;
        width: 100%;
    }
    .pathimg img {
        display: none;
    }
    @media screen and ( max-height: 610px) and (min-width: 701px) {
    /* .full-Download {
            height: 610px;
        } */
            /* .full-Download .d-section .bottom_D .BookD_list{
                height: 70%;
            } */
    }
    @media screen and (min-height: 650px) and (min-width: 701px) {
        
        .full-Download .d-section .bottom_D .Dimg {
            /* height: 500px;
            width: 100%; */
        }
        
    }
    @media screen  and (max-width: 700px){
        .full-Download .d-section .bottom_D .BookD_list .second-second-d .Download-ul .d-middle{
            width: 100%;
            flex: 1;
            overflow-y:scroll;
        }
        .full-Download .d-section .bottom_D .BookD_list .second-second-d .Download-ul  .d-middle .inside_ul .Download-li{
            display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                background-color: rgba(212, 228, 232, 1);
                width: 100%;
                margin-top: 5px;
                margin-bottom: 5px;
                text-align: center;
                border-radius: 32px;
                height: 40px;   
                padding: 1%;
                
            }
            .d-book {
                color: rgba(16, 84, 162, 1);
                margin: 2%;
              }
            .full-Download .d-section .flesh-image-grade-d a img{
              height: 10px; 
              width: 20px; 
            }
    .full-Download .d-section {
            height: 95%;
            /* flex: 1; */
        }
    .full-Download .d-section .bottom_D{
    display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        height: 90%;
    }
    .full-Download .d-section .bottom_D .Dimg {
        height: 50%;
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: end;
        /* background-color: aquamarine; */
    
    }
    .full-Download .d-section .bottom_D .Dimg .Dimg_img {
        /* width: 100%; */
        height: 100%;
        flex: 1;
        /* height: 200px;
        background-color: bisque; */
    }
    .full-Download .d-section .bottom_D .BookD_list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 50%;
        margin-top: 20%;
        /* margin-bottom: 5%; */
    }
    .full-Download .d-section .bottom_D .BookD_list .second-second-d .Download-ul{
        height: 90%;
    }
    .full-Download .d-section .bottom_D .BookD_list .second-second-d .p-container-d{
        height: 8%;
        margin-bottom: 0%;
        justify-content: end;
        width: 100%;
    }
    .full-Download .d-section .bottom_D .BookD_list .second-second-d .p-container-d .p-downloding {
        color: white;
        font-size: 20px;
        font-weight: bold;
        font-family: "Bahij Helvetica";
        text-align: center;
    }
    
    .full-Download .d-section .bottom_D .BookD_list .second-second-d .p-container-d #p-downloding {
        color: white;
        font-size: 20px;
        font-family: "Bahij Helvetica";
        text-align: center;
        font-weight: bold;
    }
    .full-Download .d-section .bottom_D .BookD_list .second-second-d .pathimg img{
        height: 10px;
        width: 20px;
        display:none;
    }
    }
    @media screen and (max-width: 390px){
    .full-Download .d-section .bottom_D .BookD_list .second-second-d .Download-ul .d-middle .inside_ul .Download-li {
        font-size: 12px;
    }
    }
    @media screen and (max-width: 350px){
    .full-Download .d-section .bottom_D .BookD_list{
       margin-top: 30%;
    }
    .full-Download .d-section .bottom_D .BookD_list .second-second-d .p-container-d{
        height: 10%;
        margin-bottom: 0%;
    }
    .full-Download .d-section .bottom_D .BookD_list .second-second-d .p-container-d .p-downloding {
        color: white;
        font-size: 20px;
        font-weight: bold;
        font-family: "Bahij Helvetica";
        text-align: center;
    }
    
    .full-Download .d-section .bottom_D .BookD_list .second-second-d .p-container-d #p-downloding {
        color: white;
        font-size: 20px;
        font-family: "Bahij Helvetica";
        text-align: center;
    }
    }
    @media screen and (max-width: 305px) {
        .full-Download .d-section .bottom_D .BookD_list .second-second-d .Download-ul .d-middle .inside_ul .Download-li {
           
            height: 45px;
        }
    }
    @media screen and (max-width: 287px) {
        .full-Download .d-section .bottom_D .BookD_list .second-second-d .p-container-d .p-downloding {
                color: white;
                font-size: 15px;
                font-weight: bold;
                font-family: "Bahij Helvetica";
                text-align: center;
            }
        
            .full-Download .d-section .bottom_D .BookD_list .second-second-d .p-container-d #p-downloding {
                color: white;
                font-size: 15px;
                font-family: "Bahij Helvetica";
                text-align: center;
            }
    }
    @media screen and (max-height: 610px) and (max-width: 700px){
    .full-Download .d-section .bottom_D .Dimg{
          height: 40%;  
        }
    .full-Download .d-section .bottom_D .BookD_list .second-second-d{
        height: 90%;
    }
    .full-Download .d-section .bottom_D .BookD_list .second-second-d .p-container-d .p-downloding {
        font-size: 20px;
    }
    
    .full-Download .d-section .bottom_D .BookD_list .second-second-d .p-container-d #p-downloding {
        font-size: 20px;
    }
    }
    @media screen and (max-width: 994px) {
        .full-Download .d-section .bottom_D .Dimg  {
            width:50%;
            height: 70%;
        }
    }
    @media screen and (max-width: 844px) {
        .full-Download .d-section .bottom_D .Dimg .Dimg_img {
            width: 80%;
            height: 60%;
        }
    }
    
    @media screen and (max-width: 744px) {
        .full-Download .d-section .bottom_D .Dimg .Dimg_img {
            width: 70%;
            height: 50%;
        }
    }
    @media screen and (min-height: 800px) and (max-width: 700px){
    .full-Download .d-section .bottom_D .Dimg{
        height: 50%;
    }
    .full-Download .d-section .bottom_D .BookD_list{
        height: 50%;
    }
    }
    @media screen and (min-width: 701px) and (max-height: 363px) {
        .full-Download .d-section .flesh-image-grade-d a img {
         height: 10px;
         width: 20px;
        }
        .full-Download .d-section .bottom_D .BookD_list .second-second-d .Download-ul{
            height: 50%;
        }
            .full-Download .d-section .bottom_D .BookD_list .second-second-d .p-container-d .p-downloding {
                color: white;
                font-size: 15px;
                font-weight: bold;
                font-family: "Bahij Helvetica";
                text-align: center;
            }
        
            .full-Download .d-section .bottom_D .BookD_list .second-second-d .p-container-d #p-downloding {
                color: white;
                font-size: 15px;
                font-family: "Bahij Helvetica";
                text-align: center;
                font-weight: bold;
            }
    }
    @media screen and (max-width: 700px) and (max-height: 363px){
    .full-Download{
        height: 363px;
    }
    }