.full-all-grade-n {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 85%;
}

.full-all-grade-n .all-grade-N {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-image: linear-gradient(to right, #3C98BD, #0F53A1);
	border-bottom: #0F53A1;
	border-bottom-right-radius: 250px;
	height: 90%;
	width: 100%;
}

.full-all-grade-n .all-grade-N .flesh-image-grade-b {
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: start;
	width: 90%;
	height:38%;
}

.full-all-grade-n .all-grade-N .second-section-grade {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height:75%;
	width: 100%;
	
}

.full-all-grade-n .all-grade-N .second-section-grade .grades-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;
}

.full-all-grade-n .all-grade-N .second-section-grade .grades-section .grade-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height:40%;
	/* background-color: gray; */
}

.full-all-grade-n .all-grade-N .second-section-grade .grades-section .grade-container .p-two-grade-n {
	text-align: center;
	color: rgba(255, 255, 255, 1);
	font-family: "Bahij Helvetica";
	font-size:25px;
	margin-top:0%;
}

.full-all-grade-n .all-grade-N .second-section-grade .grades-section .grade-container .p-one-grade-n {
	/* overflow: hidden; */
	/* line-height: 79px; */
	text-align: center;
	font-family: "Bahij Helvetica";
	font-style: normal;
	font-weight: bold;
	font-size:25px;
	margin-top: 0%;
	color: rgba(255, 255, 255, 1);
	/* letter-spacing: -0.4px; */
}

.full-all-grade-n .all-grade-N .second-section-grade .grades-section #class-container-n {
	height:65%;	
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	width: 100%;
}

.full-all-grade-n .all-grade-N .second-section-grade .grades-section #class-container-n .all_grade_wrapper_h{
width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	overflow-y: hidden;
	height: 10%;
	flex: 1;
	/* background-color: aqua; */
	/* padding-top: 180px; */
}
.full-all-grade-n .all-grade-N .second-section-grade .grades-section #class-container-n .all_grade_wrapper_h .button-grade-N {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.full-all-grade-n .all-grade-N .second-section-grade .grades-section #class-container-n .all_grade_wrapper_h .button-grade-N .link-grade-n {
	display: flex;
	width:90%;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(212, 228, 232, 1);
	color: #0F53A1;
	font-family: "Bahij Helvetica";
	border-radius: 30px;
	height:30px;
    margin:3px;
    padding:2%;
}

.full-all-grade-n .all-grade-N .second-section-grade .grades-section #class-container-n .link-grade-n .sanaf-grade-n {
	width: 20px;
	margin-top:2%;
}

.full-all-grade-n .all-grade-N .second-section-grade .grades-section #class-container-n .link-grade-n .li-grade-b {
	font-size:15px;
	align-items: center;
	justify-content: end;
}
.full-all-grade-n .all-grade-N .second-section-grade .grades-section .pathimg-G-wrapper{
display: flex;
flex-direction: column;
justify-content: start;
align-items: center;
width:90%;
margin-right:2%;
height:15%;
padding-top: 5px;
border-top: 2px solid white;
cursor: pointer;
}

.line-g {
	display: flex;
	width:95%;
}

.line-g img {
	width:400px;
}

.full-all-grade-n .all-grade-N .second-section-grade .icon-grade {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;
}

.full-all-grade-n .all-grade-N .second-section-grade .icon-grade img {	
	width:60%;
	height:80%;
}
.all-grade-Nm {
	display: none;
}

@media screen and (min-height: 650px) and (min-width: 700px){
	.full-all-grade-n .all-grade-N .second-section-grade .icon-grade {
		height:80px;
	}
	.full-all-grade-n .all-grade-N .second-section-grade .grades-section {
		height: 580px;
	}
	

}
@media screen and (max-height: 614px) and (max-width: 864px){
	
	.full-all-grade-n .all-grade-N .second-section-grade .icon-grade {
		height: 85%;
		margin-right: 2%;
		/* background-color: red; */

		
	}
	.pathimg-G-wrapper img {
	display: none;
	/* background-color: red; */
	}
	.full-all-grade-n .all-grade-N .second-section-grade .grades-section {
		height:90%;
		/* background-color: #0F53A1; */
	}
 
.full-all-grade-n .all-grade-N .second-section-grade .icon-grade img {	
	width:60%;	
}

}
@media screen and (max-height: 720px) and (max-width: 700px)and (min-width: 450px){
	.full-all-grade-n .all-grade-N .second-section-grade .icon-grade{
		display: none;
	}
}
@media screen and (max-width: 700px) {
	.full-all-grade-n .all-grade-N {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		background-image: linear-gradient(to right, #3C98BD, #0F53A1);
		border-bottom: #0F53A1;
		border-bottom-right-radius:0px;
		height: 90%;
		width: 100%;
	}
	.full-all-grade-n .all-grade-N .second-section-grade {
		display: flex;
		flex-direction:column;
		justify-content: space-between;
		align-items: center;
		height: 90%;
		width: 100%;
	}
	
.full-all-grade-n .all-grade-N .second-section-grade .grades-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width:80%;
	height: 90%;

}
.full-all-grade-n .all-grade-N .second-section-grade .grades-section #class-container-n .all_grade_wrapper_h{
	width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		overflow-y: scroll;
		height: 100%;
		flex: 1;
		/* padding-top: 180px; */

	} 
	.full-all-grade-n .all-grade-N .flesh-image-grade-b {
		display: flex;
		flex-direction: column;
		justify-content: end;
		align-items: start;
		width:85%;
		height:37%;
	}
	.flesh-image-grade-b img {
		width: 22px;
	}

}

@media screen and (max-width: 450px){
	.full-all-grade-n .all-grade-N {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		background-image: linear-gradient(to right, #3C98BD, #0F53A1);
		border-bottom: #0F53A1;
		border-bottom-right-radius:0px;
		height: 90%;
		width: 100%;
	}
	.full-all-grade-n .all-grade-N .flesh-image-grade-b {
		display: flex;
		flex-direction: column;
		justify-content: end;
		align-items: start;
		width:85%;
		height:34%;
	}
	.full-all-grade-n .all-grade-N .second-section-grade {
		display: flex;
		flex-direction:column;
		justify-content: space-between;
		align-items: center;
		height: 90%;
		width: 100%;
	}
	
.full-all-grade-n .all-grade-N .second-section-grade .grades-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width:80%;
	height:80%;
}
.pathimg-G {
	width: 40px;
	margin-left: 230px; 
	display:none;
} 
 .icon-grade img {
	height:100%;
	width: 100%;

	margin-right: 2%;
}
}
/* @media screen and (max-width: 250px){
	.full-all-grade-n .all-grade-N {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		background-image: linear-gradient(to right, #3C98BD, #0F53A1);
		border-bottom: #0F53A1;
		border-bottom-right-radius:0px;
		height: 90%;
		width: 100%;
	}
	.full-all-grade-n .all-grade-N .second-section-grade {
		display: flex;
		flex-direction:column;
		justify-content: space-between;
		align-items: center;
		height: 90%;
		width: 100%;
	}
	
.full-all-grade-n .all-grade-N .second-section-grade .grades-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width:80%;
	height:80%;
}
.pathimg-G {
	width: 40px;
	margin-left: 230px; 
	display: none;
} 
 .icon-grade img {
	height:100%;
	width: 100%;
	

	margin-right: 2%;
}
} */
@media screen and (max-height: 410px){
	.full-all-grade-n .all-grade-N {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		background-image: linear-gradient(to right, #3C98BD, #0F53A1);
		border-bottom: #0F53A1;
		border-bottom-right-radius:0px;
		height: 90%;
		width: 100%;
	}
	.full-all-grade-n .all-grade-N .second-section-grade {
		display: flex;
		flex-direction:column;
		justify-content: space-between;
		align-items: center;
		height: 90%;
		width: 100%;
	}
	
.full-all-grade-n .all-grade-N .second-section-grade .grades-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width:80%;
	height:80%;
}
.pathimg-G {
	width: 40px;
	margin-left: 230px; 
	display: none;
} 
 .icon-grade img {
	height:100%;
	width: 100%;
	display: none;

	margin-right: 2%;
}
}

