#profile_svg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
}
#Rectangle_profile {
    fill: url(#Rectangle_profile);
    stroke: rgba(112,112,112,1);

}
.Rectangle_profile {
    position: absolute;
    width: 1920px;
    height: 836px;
    left: 0px;
    top: 240px;
}
#Ellipse_profile {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 6px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ellipse_profile{
    position: absolute;
    overflow: visible;
    width: 258px;
    height: 258px;
    left: 551px;
    top: -20px;
}
#nm_profile {
    background-color: white;
    cursor: pointer;
    left: 580px;
    top: 180px;
    position: absolute;
    overflow: visible;
    width: 204px;
    white-space: nowrap;
    text-align: center;
    font-family: Bahij Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(112,112,112,1);
}
#Path_profile {
    fill: rgba(0,0,0,0);
    stroke: rgba(60,152,189,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-dasharray: 4.026000022888184 4.026000022888184;
    stroke-dashoffset: 0;
    stroke-miterlimit: 10;
    shape-rendering: auto;
}
.Path_profile {
    overflow: visible;
    position: absolute;
    width: 1282.474px;
    height: 218.265px;
    left: 30.077px;
    top: 20.717px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_1013_profile {
    fill: rgba(15,83,161,1);
}
.Path_1013_profile {
    overflow: visible;
    position: absolute;
    width: 115.999px;
    height: 49.452px;
    left: 618.085px;
    top: 302.015px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_1014_profile {
    fill: rgba(60,152,189,1);
}
.Path_1014_profile {
    overflow: visible;
    position: absolute;
    width: 95.333px;
    height: 62.985px;
    left: 637.751px;
    top: 302.015px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_1015_profile {
    fill: rgba(60,152,189,1);
}
.Path_1015_profile {
    overflow: visible;
    position: absolute;
    width: 140.021px;
    height: 28.396px;
    left: 527.064px;
    top: 309.015px;
    transform: matrix(1,0,0,1,0,0);
}
.container_profile{
    display: inline-block;
    position: relative;
    top: 290px;
    left: 150px;
    color: white;
    width: 1040px;
    display: flex;
    justify-content: space-between;
}
 #input_profile{
    display: inline-block;
    background: none;
    width: 350px;
    padding: 10px 0px;
    margin-bottom: 30px;
    margin-top: 30px;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    text-align: right;
    fill: transparent;
  outline: none;
    
}
.save_button_profile{
    display: inline-block;
    position: relative;
    top: 320px;
    left: 535px;
    width: 20%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 20px;
	font-family: Bahij Helvetica Neue;
    font-style: normal;
    font-weight: normal;
	cursor: pointer;
    text-align: center;
	color: rgba(60,152,189,1);
	background-color: white;
	border-radius: 50px;
}



.information_two_profile{
   
   display: inline-block;
   margin-left: 70px;
   
}
.information_three_profile{
    display: inline-block;
    margin-right: 70px;
}
.name_profile,
.lastname_profile,
.username_profile,
.email_profile,
.age_profile,
.senf_profile{
    color: white;
}



.error_profile{
    color: rgb(241, 26, 26);
    font-weight: bold;
    font-style: normal;
    /* display: inline-block; */

}
.ig_profile{
    display: inline-block;
 position: relative;
 top: 50px;
 left: 70px;
 z-index: 1000;
 overflow: hidden;
}