/* ChangeProfile style */
*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}


::placeholder {
    color: white;
    font-family: "Bahij Helvetica";

}



/* ///////////////////////// mainChangeProfile*/
.Change_Profile{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.Change_Profile .Top_ChangeProfile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 35%;
    width: 95%;
    /* position: relative; */
    /* background-color: cadetblue; */
}
.Change_Profile .Top_ChangeProfile a {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 10%;
    /* padding-top: 3%; */
    height: 80%;
    /* background-color: gray; */
}
.Change_Profile .Top_ChangeProfile a img{
    height: 15px;
    width: 30px;
}

.Change_Profile .Top_ChangeProfile .ProfHandler {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 5%; */
    /* padding-bottom: 10px; */
    align-items: center;
    height: 100%;
    width: 90%;
    margin-right: 10%;
    background-color: #FFF;
    
}
.Change_Profile .Top_ChangeProfile .ProfHandler .TelegramIcon{
    margin-top: 1%;
    width: 100%;
    height: 99%;
    /* margin-bottom: 8%; */
    
    
    
}
.Change_Profile .Top_ChangeProfile .ProfHandler .insideTelegramIcon{
    position: absolute;
    top: 8%;
    left:35% ;
    display: flex;
    flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* background-color: rebeccapurple; */
        width: 15%;
    height: 20%;

}
.Change_Profile .Top_ChangeProfile .ProfHandler .insideTelegramIcon .profilePhoto{
    width: 50%;
    height: 80%;
    border-radius: 50%;
}
.Change_Profile .Top_ChangeProfile .ProfHandler .insideTelegramIcon .ChangeProfBtn{
    height: 20%;
    background-color: white;
    border: none;
    outline: none;
    color: gray;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;

}
.Change_Profile .Top_ChangeProfile .ProfHandler .insideTelegramIcon .ChangeProfBtn input[type="file"]{
    display: none;
}
.Change_Profile .Top_ChangeProfile .ProfHandler button {
    background-color: white;
    padding: 5px;
}
.Change_Profile .Bottom_ChangeProfile{
    height: 65%;
    background-color: #3C98BD;
    background-image: linear-gradient(to right,#3C98BD, #0F53A1);
    border-top-right-radius: 110px;
    border-top: 2px solid gray;
    border-top-left-radius: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.Change_Profile .Bottom_ChangeProfile .CP_M_BackGround{
display: none;
}
.Change_Profile .Bottom_ChangeProfile form{
    /* background-color: rebeccapurple; */
    width: 80%;
    height:60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Change_Profile .Bottom_ChangeProfile form .form_Row{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    /* background-color: aquamarine; */
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30%;

}
.Change_Profile .Bottom_ChangeProfile form .input{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.Change_Profile .Bottom_ChangeProfile form .input ::placeholder {
    text-align: right;
    color: #FFF;
    font-family: "Bahij Helvetica";
}
.Change_Profile .Bottom_ChangeProfile form .input .error_change_profile {
    color: red;
    font-weight: bold;
    font-style: normal;
    height: 1px;
    text-align: right;
}
.Change_Profile .Bottom_ChangeProfile form .input .error{
    color: red;
    text-align: right;
}
.Change_Profile  .Bottom_ChangeProfile form .ChangeProfile_input_value{
    background: none;
    border-top: 1px solid white;
    width: 100%;
    padding: 5px;
    outline: none;
    color: white;
}
.Change_Profile .Bottom_ChangeProfile form #ChangeProfile_input_value::placeholder{
    color: white;
    text-align: right;
}
.Change_Profile .Bottom_ChangeProfile form .submit_button{
    background-color: white;
    padding: 1% 7%;
    border-radius: 15px;
}
@media screen and (max-width: 1030px){
.Change_Profile .Top_ChangeProfile .ProfHandler .insideTelegramIcon .profilePhoto {
        width: 80%;
        height: 80%;
    }
}
@media screen and (max-width: 850px) {
    .Change_Profile .Top_ChangeProfile .ProfHandler .insideTelegramIcon .profilePhoto {
        width: 100%;
        height: 80%;
    }
}
@media screen and (min-height: 650px)  {
        .Change_Profile .Top_ChangeProfile .ProfHandler .insideTelegramIcon {
                width: 20%;
                height: 20%;
                /* background-color: #fff; */
            }
}
@media screen and (max-width: 700px) {
.Change_Profile .Top_ChangeProfile{
        height: 25%;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;

}
.Change_Profile .Top_ChangeProfile a{
  /* align-items: end; */
  justify-content: end;
  width: 90%;
  height: 20%;
  /* background-color: #3C98BD; */
}
.Change_Profile .Top_ChangeProfile .ProfHandler{
height: 80%;
width: 110%;
}
.Change_Profile .Top_ChangeProfile .ProfHandler .TelegramIcon {
    height: 100%;
    margin-top: 0%;
}
.Change_Profile .Top_ChangeProfile .ProfHandler .insideTelegramIcon {
    position: absolute;
    /* top: 6%; */
    /* left: 20%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    height: 15%;

}

.Change_Profile .Top_ChangeProfile .ProfHandler .insideTelegramIcon .profilePhoto {
    width: 50%;
    height: 70%;
    border-radius: 50%;
}

.Change_Profile .Top_ChangeProfile .ProfHandler .insideTelegramIcon .ChangeProfBtn {
    height: 30%;
    background-color: white;
    border: none;
    outline: none;
    color: gray;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;

}
.Change_Profile .Top_ChangeProfile .ProfHandler button {
    background-color: white;
    padding: 5px;
}
.Change_Profile .Top_ChangeProfile a img{
    height: 10px;
    width: 20px;
}
.Change_Profile .Bottom_ChangeProfile {
       height: 75%;
        background-color: #FFF;
        background-image: none;
        border-top-right-radius: none;
        border-top:none;
        border-top-left-radius: none;
        position: relative;
    }

    .Change_Profile .Bottom_ChangeProfile .CP_M_BackGround {
        display: flex;
        width: 100%;
        height: 100%;
    }
        .Change_Profile .Bottom_ChangeProfile form {
            position: absolute;
        }
        .Change_Profile .Bottom_ChangeProfile form .form_Row {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-top: 0px;
            margin-bottom: 0px;
            height: 50%;
    
        }
    
        .Change_Profile .Bottom_ChangeProfile form .input {
            width: 80%;
            display: flex;
            flex-direction: column;
            height: 50%;
        }
        .Change_Profile .Bottom_ChangeProfile form .submit_button{
            width: 80%;
        }
       .Change_Profile .Bottom_ChangeProfile form .input  .error_change_profile {
                    color: red;
                    font-weight: bold;
                    font-style: normal;
                    height: 1px;
                    font-size: 12px;
                    text-align: right;
                }
}
@media screen and (max-width: 445px) {
.Change_Profile .Top_ChangeProfile .ProfHandler .insideTelegramIcon{
    width: 35%;
    text-align: center;
}
}
@media screen and (max-width: 350px) {
    .Change_Profile .Bottom_ChangeProfile form .input {
            width: 100%;
        }
    .Change_Profile .Bottom_ChangeProfile form .submit_button {
                    width: 100%;
    }
}
@media screen and (max-width: 250px){
.Change_Profile .Top_ChangeProfile .ProfHandler .insideTelegramIcon .ChangeProfBtn{
 font-size: 10px;
}
}

@media screen and (max-height: 500px) and (min-width: 701px){
.Change_Profile .Top_ChangeProfile .ProfHandler .insideTelegramIcon {
        height: 20%;
    }
    .Change_Profile .Top_ChangeProfile .ProfHandler .insideTelegramIcon .profilePhoto {
    width: 50%;
    height: 70%;
    border-radius: 50%;
}
}
@media screen and (max-height: 390px) and (min-width: 701px) {
.Change_Profile{
    height: 390px;
}
}
@media screen and (max-height: 500px) and (max-width: 700px) {
    .Change_Profile {
        height: 500px;
    }
        .Change_Profile .Top_ChangeProfile .ProfHandler .insideTelegramIcon{
            top: 11%;
        }
}