
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#forgot_password {
		position: absolute;
		width: 100%;
		height:  100%;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
	
	}

	#background_svg_forgot_password_1{
		fill: url(#background_svg_forgot_password_1);
		stroke: rgba(112,112,112,1);
	}
	#background_svg_forgot_password {
		width: 910px;
		height: 154px;
		position: absolute;
		left: -550px;
		top: 130px;
		overflow: visible;
		transform: matrix(1,0,0,1,803,-37) rotate(-90deg);
		transform-origin: center;
	}

	#button-next_forgot_password {
		margin-top: 12px;
		width: 140px;
		height: 35px;
		cursor: pointer;
		font-family: Gotham;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgb(39, 115, 138);
		letter-spacing: -0.4px;
	    border-radius: 50px;
	}
	#para_first_forgot_password{
		left: 810px;
		top: 100px;
		position: absolute;
		overflow: hidden;
		width: 406px;
		height: 250px;
		line-height: 117px;
		text-align: right;
		font-family: Gotham;
		font-style: normal;
		font-weight: 12px;
		font-size: 60px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.4px;
		line-height: 80px;
		
	}
	
	#para_second_forgot_password {
		left: 527px;
		top: 270px;
		position: absolute;
		overflow: visible;
		width: 706px;
		height: 53px;
		line-height: 117px;
		margin-top: -48.5px;
		text-align: right;
		font-family: Gotham;
		font-style: normal;
		font-weight: 18px;
		font-size: 20px;
		color: rgba(255,255,255,1);
		letter-spacing: 2.4px;
	}
	#input_next_forgot_password {
	
		color: white;
		display: inline-block;
		background: none;
		width: 425px;
		padding-bottom: 8px ;
		margin: 8px ;
		border-bottom: 1px solid white;
		box-sizing: border-box;
		text-align: right;
		fill: transparent;
	  outline: none;
	}
	.input_next_forgot_password{
	
	}
	.form_forgot_password{
		position: relative;
		top: 330px;
		left: 800px;
	}
	#logoo_forgot_password {
		position: absolute;
		width: 36px;
		height: 22px;
		left: 140px;
		top: 160px;
		overflow: visible;
		cursor: pointer;
	}
	#logo_forgot_password{
		width: 350px;
		height: 300px;
	}
	#img_forgot_password{
		position: relative;
		top: 40px;
		left: 70px;
	}
	#imgg_forgot_password{
		position: relative;
		top: 40px;
		left: 70px;
		display: none;
	}
	#imggg_forgot_password{
		position: relative;
		top: 40px;
		left: 70px;
		display: none;
	}
	.error_forgot_password{
		margin: 0;padding: 0;
		color: rgb(241, 26, 26);
		font-weight: bold;
		font-style: normal;
	}
	#mobile_svg_forgot_password {
		fill: url(#mobile_svg_forgot_password);
	}

	.mobile_svg_forgot_password {
		width: 360px;
		height: 358px;
		position: absolute;
		overflow: visible;
		transform: translate(-132.517px, 160.426px) matrix(1,0,0,1,132.5166,-160.426) rotate(180deg);
		transform-origin: center;
		display: none;
	}



	@media screen and (max-width:360px)and (min-width:100px){
		#mobile_svg_forgot_password {
			fill: url(#mobile_svg_forgot_password);
		}
	
		.mobile_svg_forgot_password {
			width: 360px;
			height: 358px;
			position: absolute;
			top: -70px;
			overflow: visible;
			transform: translate(-132.517px, 160.426px) matrix(1,0,0,1,132.5166,-160.426) rotate(180deg);
			transform-origin: center;
			display: block;
		}
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			border: none;
		}
		#forgot_password {
			position: absolute;
			width: 100%;
			height:  100%;
			background-color: rgba(255,255,255,1);
			overflow: visible;
		
		}
	
		#background_svg_forgot_password_1{
			fill: url(#background_svg_forgot_password_1);
			stroke: rgba(112,112,112,1);
		}
		#background_svg_forgot_password {
			width: 910px;
			height: 154px;
			position: absolute;
			left: -550px;
			top: 130px;
			overflow: visible;
			transform: matrix(1,0,0,1,803,-37) rotate(-90deg);
			transform-origin: center;
			display: none;
		}
	
		#button-next_forgot_password {
			position: relative;
			top: -5px;
			left: 2px;
			margin-top: 12px;
			width: 270px;
			height: 35px;
			cursor: pointer;
			font-family: Gotham;
			font-style: normal;
			font-weight: bold;
			font-size: 20px;
			color: white;
			letter-spacing: -0.4px;
			border-radius: 50px;
			background-color: rgb(39, 115, 138);
		}
		#para_first_forgot_password{
			/* position: relative; */
			top: 70px;
			left: -20px;
			position: absolute;
			overflow: hidden;
			width: 326px;
			height: 250px;
			line-height: 117px;
			text-align: right;
			font-family: Gotham;
			font-style: normal;
			font-weight: 32px;
			font-size: 45px;
			color: rgba(255,255,255,1);
			letter-spacing: -0.4px;
			line-height: 50px;
			
		}
		
		#para_second_forgot_password {
			top: 220px;
			left: -403px;
			position: absolute;
			overflow: visible;
			width: 706px;
			height: 53px;
			line-height: 110px;
			margin-top: -48.5px;
			text-align: right;
			font-family: Gotham;
			font-style: normal;
			font-weight: 18px;
			font-size: 20px;
			color: rgba(255,255,255,1);
			letter-spacing: 0.1px;
		}
		#input_next_forgot_password {
		 
		
			color: white;
			display: inline-block;
			background: none;
			width: 260px;
			padding-bottom: 8px ;
			margin: 8px ;
			border-bottom: 1px solid rgb(92, 90, 90);
			box-sizing: border-box;
			text-align: right;
			fill: transparent;
		  outline: none;
		}
		.form_forgot_password{
			position: relative;
			left: 40px;
			top: 300px;
		}
		#logoo_forgot_password {
			position: absolute;
			width: 36px;
			height: 22px;
			left: 130px;
			top: 460px;
			overflow: visible;
			cursor: pointer;
		}
		#logo_forgot_password{
			width: 110px;
			height: 100px;
		}
		#img_forgot_password{
			position: relative;
			top: 20px;
			left: 30px;
			overflow: visible;
		display: none;
		}
		#imgg_forgot_password{
			position: relative;
			width: 20px;
			height: 15px;
			top: 20px;
			left: 30px;
			overflow: visible;
			display: block;
		}
		#imggg_forgot_password{
			width: 62px;
			height: 62px;
			position: relative;
			top: -565px;
			left: -134px;
			display: block;
		}
		.error_forgot_password{
			margin: 0;padding: 0;
			color: rgb(241, 26, 26);
			font-weight: bold;
			font-style: normal;
		}
	}

	@media screen and (max-width:576px)and (min-width:360px){
		#mobile_svg_forgot_password {
			fill: url(#mobile_svg_forgot_password);
			width: 576px;
			height: 358px;
		}
	
		.mobile_svg_forgot_password {
			width: 576px;
			height: 358px;
			position: absolute;
			top: -70px;
			overflow: visible;
			transform: translate(-132.517px, 160.426px) matrix(1,0,0,1,132.5166,-160.426) rotate(180deg);
			transform-origin: center;
			display: block;
		}
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			border: none;
		}
		#forgot_password {
			position: absolute;
			width: 100%;
			height:  100%;
			background-color: rgba(255,255,255,1);
			overflow: hidden;
		
		}
	
		#background_svg_forgot_password_1{
			fill: url(#background_svg_forgot_password_1);
			stroke: rgba(112,112,112,1);
		}
		#background_svg_forgot_password {
			width: 910px;
			height: 154px;
			position: absolute;
			left: -550px;
			top: 130px;
			overflow: visible;
			transform: matrix(1,0,0,1,803,-37) rotate(-90deg);
			transform-origin: center;
			display: none;
		}
	
		#button-next_forgot_password {
			position: relative;
			top: -5px;
			left: 2px;
			margin-top: 12px;
			width: 410px;
			height: 35px;
			cursor: pointer;
			font-family: Gotham;
			font-style: normal;
			font-weight: bold;
			font-size: 20px;
			color: white;
			letter-spacing: -0.4px;
			border-radius: 50px;
			background-color: rgb(39, 115, 138);
		}
		#para_first_forgot_password{
			/* position: relative; */
			top: 70px;
			left: 30px;
			position: absolute;
			overflow: hidden;
			width: 426px;
			height: 250px;
			line-height: 117px;
			text-align: right;
			font-family: Gotham;
			font-style: normal;
			font-weight: 62px;
			font-size: 60px;
			color: rgba(255,255,255,1);
			letter-spacing: -0.4px;
			line-height: 60px;
			
		}
		
		#para_second_forgot_password {
			top: 220px;
			left: -250px;
			position: absolute;
			overflow: visible;
			width: 706px;
			height: 53px;
			line-height: 110px;
			margin-top: -48.5px;
			text-align: right;
			font-family: Gotham;
			font-style: normal;
			font-weight: 18px;
			font-size: 20px;
			color: rgba(255,255,255,1);
			letter-spacing: 0.1px;
		}
		#input_next_forgot_password {
		 
		
			color: white;
			display: inline-block;
			background: none;
			width: 400px;
			padding-bottom: 8px ;
			margin: 8px ;
			border-bottom: 1px solid rgb(92, 90, 90);
			box-sizing: border-box;
			text-align: right;
			fill: transparent;
		  outline: none;
		}
		.form_forgot_password{
			position: relative;
			left: 80px;
			top: 300px;
		}
		#logoo_forgot_password {
			position: absolute;
			width: 36px;
			height: 22px;
			left: 220px;
			top: 440px;
			overflow: visible;
			cursor: pointer;
		}
		#logo_forgot_password{
			width: 160px;
			height: 150px;
		}
		#img_forgot_password{
			position: relative;
			top: 40px;
			left: 30px;
			overflow: visible;
		    display: none;
		}
		#imgg_forgot_password{
			position: relative;
			width: 20px;
			height: 15px;
			top: 30px;
			left: 40px;
			overflow: visible;
			display: block;
		}
		#imggg_forgot_password{
			width: 82px;
			height: 82px;
			position: relative;
			top: -614px;
			left: -223px;
			display: block;
		}
		.error_forgot_password{
			margin: 0;padding: 0;
			color: rgb(241, 26, 26);
			font-weight: bold;
			font-style: normal;
		}
	}


	@media screen and (max-width:768px)and (min-width:576px){
		
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#forgot_password {
		position: absolute;
		width: 100%;
		height:  100%;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
	
	}

	#background_svg_forgot_password_1{
		fill: url(#background_svg_forgot_password_1);
		stroke: rgba(112,112,112,1);
	}
	#background_svg_forgot_password {
		width: 910px;
		height: 154px;
		position: absolute;
		left: -880px;
		top: 130px;
		overflow: visible;
		transform: matrix(1,0,0,1,803,-37) rotate(-90deg);
		transform-origin: center;
	}

	#button-next_forgot_password {
		margin-top: 12px;
		width: 140px;
		height: 35px;
		cursor: pointer;
		font-family: Gotham;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgb(39, 115, 138);
		letter-spacing: -0.4px;
	    border-radius: 50px;
	}
	#para_first_forgot_password{
		left: 400px;
		top: 100px;
		position: absolute;
		overflow: hidden;
		width: 306px;
		height: 250px;
		line-height: 117px;
		text-align: right;
		font-family: Gotham;
		font-style: normal;
		font-weight: 12px;
		font-size: 50px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.4px;
		line-height: 80px;
		
	}
	
	#para_second_forgot_password {
		left: -1px;
		top: 270px;
		position: absolute;
		overflow: visible;
		width: 706px;
		height: 53px;
		line-height: 117px;
		margin-top: -48.5px;
		text-align: right;
		font-family: Gotham;
		font-style: normal;
		font-weight: 18px;
		font-size: 20px;
		color: rgba(255,255,255,1);
		letter-spacing: 1.4px;
	}
	#input_next_forgot_password {
	
		color: white;
		display: inline-block;
		background: none;
		width: 325px;
		padding-bottom: 8px ;
		margin: 8px ;
		border-bottom: 1px solid white;
		box-sizing: border-box;
		text-align: right;
		fill: transparent;
	  outline: none;
	}
	.input_next_forgot_password{
	
	}
	.form_forgot_password{
		position: relative;
		top: 330px;
		left: 370px;
	}
	#logoo_forgot_password {
		position: absolute;
		width: 36px;
		height: 22px;
		left: 68px;
		top: 230px;
		overflow: visible;
		cursor: pointer;
	}
	#logo_forgot_password{
		width: 200px;
		height: 150px;
	}
	#img_forgot_password{
		position: relative;
		top: 40px;
		left: 70px;
	}
	#imgg_forgot_password{
		position: relative;
		top: 40px;
		left: 70px;
		display: none;
	}
	#imggg_forgot_password{
		position: relative;
		top: 40px;
		left: 70px;
		display: none;
	}
	.error_forgot_password{
		margin: 0;padding: 0;
		color: rgb(241, 26, 26);
		font-weight: bold;
		font-style: normal;
	}
	#mobile_svg_forgot_password {
		fill: url(#mobile_svg_forgot_password);
	}

	.mobile_svg_forgot_password {
		width: 360px;
		height: 358px;
		position: absolute;
		overflow: visible;
		transform: translate(-132.517px, 160.426px) matrix(1,0,0,1,132.5166,-160.426) rotate(180deg);
		transform-origin: center;
		display: none;
	}
	}
	@media screen and (max-width:992px)and (min-width:768px){
				
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#forgot_password {
		position: absolute;
		width: 100%;
		height:  100%;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
	
	}

	#background_svg_forgot_password_1{
		fill: url(#background_svg_forgot_password_1);
		stroke: rgba(112,112,112,1);
	}
	#background_svg_forgot_password {
		width: 910px;
		height: 154px;
		position: absolute;
		left: -780px;
		top: 130px;
		overflow: visible;
		transform: matrix(1,0,0,1,803,-37) rotate(-90deg);
		transform-origin: center;
	}

	#button-next_forgot_password {
		margin-top: 12px;
		width: 140px;
		height: 35px;
		cursor: pointer;
		font-family: Gotham;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgb(39, 115, 138);
		letter-spacing: -0.4px;
	    border-radius: 50px;
	}
	#para_first_forgot_password{
		left: 500px;
		top: 100px;
		position: absolute;
		overflow: hidden;
		width: 406px;
		height: 250px;
		line-height: 117px;
		text-align: right;
		font-family: Gotham;
		font-style: normal;
		font-weight: 12px;
		font-size: 60px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.4px;
		line-height: 80px;
		
	}
	
	#para_second_forgot_password {
		left: 200px;
		top: 270px;
		position: absolute;
		overflow: visible;
		width: 706px;
		height: 53px;
		line-height: 117px;
		margin-top: -48.5px;
		text-align: right;
		font-family: Gotham;
		font-style: normal;
		font-weight: 18px;
		font-size: 20px;
		color: rgba(255,255,255,1);
		letter-spacing: 1.4px;
	}
	#input_next_forgot_password {
	
		color: white;
		display: inline-block;
		background: none;
		width: 355px;
		padding-bottom: 8px ;
		margin: 8px ;
		border-bottom: 1px solid white;
		box-sizing: border-box;
		text-align: right;
		fill: transparent;
	  outline: none;
	}
	.input_next_forgot_password{
	
	}
	.form_forgot_password{
		position: relative;
		top: 330px;
		left: 540px;
	}
	#logoo_forgot_password {
		position: absolute;
		width: 36px;
		height: 22px;
		left: 68px;
		top: 220px;
		overflow: visible;
		cursor: pointer;
	}
	#logo_forgot_password{
		width: 280px;
		height: 200px;
	}
	#img_forgot_password{
		position: relative;
		top: 40px;
		left: 70px;
	}
	#imgg_forgot_password{
		position: relative;
		top: 40px;
		left: 70px;
		display: none;
	}
	#imggg_forgot_password{
		position: relative;
		top: 40px;
		left: 70px;
		display: none;
	}
	.error_forgot_password{
		margin: 0;padding: 0;
		color: rgb(241, 26, 26);
		font-weight: bold;
		font-style: normal;
	}
	#mobile_svg_forgot_password {
		fill: url(#mobile_svg_forgot_password);
	}

	.mobile_svg_forgot_password {
		width: 360px;
		height: 358px;
		position: absolute;
		overflow: visible;
		transform: translate(-132.517px, 160.426px) matrix(1,0,0,1,132.5166,-160.426) rotate(180deg);
		transform-origin: center;
		display: none;
	}
	}

	@media screen and (max-width:1200px)and (min-width:992px){
						
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#forgot_password {
		position: absolute;
		width: 100%;
		height:  100%;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
	
	}

	#background_svg_forgot_password_1{
		fill: url(#background_svg_forgot_password_1);
		stroke: rgba(112,112,112,1);
	}
	#background_svg_forgot_password {
		width: 910px;
		height: 154px;
		position: absolute;
		left: -660px;
		top: 130px;
		overflow: visible;
		transform: matrix(1,0,0,1,803,-37) rotate(-90deg);
		transform-origin: center;
	}

	#button-next_forgot_password {
		margin-top: 12px;
		width: 140px;
		height: 35px;
		cursor: pointer;
		font-family: Gotham;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgb(39, 115, 138);
		letter-spacing: -0.4px;
	    border-radius: 50px;
	}
	#para_first_forgot_password{
		left: 700px;
		top: 100px;
		position: absolute;
		overflow: hidden;
		width: 406px;
		height: 250px;
		line-height: 117px;
		text-align: right;
		font-family: Gotham;
		font-style: normal;
		font-weight: 12px;
		font-size: 60px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.4px;
		line-height: 80px;
		
	}
	
	#para_second_forgot_password {
		left: 400px;
		top: 270px;
		position: absolute;
		overflow: visible;
		width: 706px;
		height: 53px;
		line-height: 117px;
		margin-top: -48.5px;
		text-align: right;
		font-family: Gotham;
		font-style: normal;
		font-weight: 18px;
		font-size: 20px;
		color: rgba(255,255,255,1);
		letter-spacing: 1.4px;
	}
	#input_next_forgot_password {
	
		color: white;
		display: inline-block;
		background: none;
		width: 425px;
		padding-bottom: 8px ;
		margin: 8px ;
		border-bottom: 1px solid white;
		box-sizing: border-box;
		text-align: right;
		fill: transparent;
	  outline: none;
	}
	.input_next_forgot_password{
	
	}
	.form_forgot_password{
		position: relative;
		top: 330px;
		left: 670px;
	}
	#logoo_forgot_password {
		position: absolute;
		width: 36px;
		height: 22px;
		left: 110px;
		top: 200px;
		overflow: visible;
		cursor: pointer;
	}
	#logo_forgot_password{
		width: 300px;
		height: 250px;
	}
	#img_forgot_password{
		position: relative;
		top: 40px;
		left: 70px;
	}
	#imgg_forgot_password{
		position: relative;
		top: 40px;
		left: 70px;
		display: none;
	}
	#imggg_forgot_password{
		position: relative;
		top: 40px;
		left: 70px;
		display: none;
	}
	.error_forgot_password{
		margin: 0;padding: 0;
		color: rgb(241, 26, 26);
		font-weight: bold;
		font-style: normal;
	}
	#mobile_svg_forgot_password {
		fill: url(#mobile_svg_forgot_password);
	}

	.mobile_svg_forgot_password {
		width: 360px;
		height: 358px;
		position: absolute;
		overflow: visible;
		transform: translate(-132.517px, 160.426px) matrix(1,0,0,1,132.5166,-160.426) rotate(180deg);
		transform-origin: center;
		display: none;
	}
	}