/*primary,secondary,high_school page*/
.ul_high_school{ 
    display: inline-block;
    position: relative;
    top: 242px;
    left: 200px;

}
.li_high_school{
 margin-right: 18px;
 font-size: 20px;
 color: rgba(16,84,162,1);
 letter-spacing: -0.4px;
}
.sanaf{
    width: 22px;
    height: 25px;
    margin-left: 18px;
}
.link_high_school{
    width: 584px;
    height: 34px;
    background-color:rgba(212,228,232,1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;
    border-radius: 32px;
    text-align: center;
    align-items: center;
}	
	#n_ {
        transform-origin: 0px 0px;
		position: absolute;
		width: 1366px;
		height: 555px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: 2;
		--web-view-id: n_;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	#Path_534 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_534 {
		overflow: visible;
		position: absolute;
		left: 0.661px;
		top: 144.786px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Union_1_dg {
		fill: url(#Union_1_dg);
	}
	.Union_1_dg {
		overflow: visible;
		position: absolute;
		left: 0px;
		top: 1.436px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_356 {
		position: absolute;
		left: 1016.687px;
		top: 320.045px;
		overflow: visible;
	}
	#Group_355 {
		position: absolute;
		width: 503.313px;
		height: 399.955px;
		left: -154px;
		top: -160.287px;
		overflow: visible;
	}
    #nn{
       font-family:Bahij Helvetica Neue;
       font-style:normal;
       font-weight:normal;
    }
    #n_____________{
        font-style:normal;font-weight:lighter; font-size:25px; 
        left: 130.208px;
		top: 182px;
		position: absolute;
		overflow: hidden;
		width: 695px;
		height: 230px;
		line-height: 79px;
		text-align: center;
		font-family: Bahij Helvetica Neue;
		font-style: normal;
		color: rgba(255,255,255,1);
		letter-spacing: -0.4px;
    }
	#n_________ {
		left: 130.208px;
		top: 142px;
		position: absolute;
		overflow: hidden;
		width: 695px;
		height: 230px;
		line-height: 79px;
		text-align: center;
		font-family: Bahij Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.4px;
	}
	#Subtraction_3 {
		opacity: 0.52;
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,0);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Subtraction_3 {
		overflow: visible;
		position: absolute;
		width: 285.886px;
		height: 430.713px;
		left: 0px;
		top: 225.287px;
		transform: matrix(1,0,0,1,0,0);
	}


