.Download-all-b {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    width: 100%;
}
.Download-all-b .Bookheader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(to right, #0F53A1, #3C98BD);
    width: 100%;
    
}
.Download-all-b .Bookheader #flesh-image-grade-B {
    display:flex;
    flex-direction:column;
    justify-content:end;
    align-items:center;
    width:15%;
    height:15vh;
}
.Download-all-b .Bookheader .second-section {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    width:100%;
    flex: 1;
    height: 100%;
}
.Download-all-b .Bookheader .second-section .icon-book {
    display: flex;
    flex:60%;
    width:10% ;
    height:70%;
}
#h-books  {
    overflow-y: hidden;
    width: 100%;
}
.Download-all-b .Bookheader .second-section .icon-book .bookH {
    width: 500px;
}
.Download-all-b .Bookheader .second-section .buttom-books {
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    flex:50%;
}
.Download-all-b .Bookheader .second-section .buttom-books .p-container-books {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    width: 100%;
    align-items: center;
    height:50%;
   }
   .Download-all-b .Bookheader .second-section .buttom-books .p-container-books .p-books {
       color: white;
       font-size: 30px;
       font-weight: bold;
       font-family: "Bahij Helvetica";
   }
   
   .Download-all-b .Bookheader .second-section .buttom-books .p-container-books #p-books {
       font-family: "Bahij Helvetica";
       color: white;
       font-size: 30px;
       font-weight: bold;
       text-align: center;
   }
   .Download-all-b .Bookheader .second-section .buttom-books #h-books {
    overflow-y:scroll;
    /* width: 550px; */
    height: 280px;
}
.Download-all-b .Bookheader .second-section .buttom-books #h-books .link-grade-nb {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    background-color:rgba(212,228,232,1);
    color: rgba(16,84,162,1);
    align-items: center;
    text-align: center;
    border-radius: 32px;
    height: 34px;
    margin: 12px;
    padding: 1%;
    flex: 1;
}
.Download-all-b .Bookheader .second-section .buttom-books #h-books .link-grade-nb .sanaf-grade-nb {
  width: 22px;
  height: 25px;
}

.Download-all-b .Bookheader .second-section .buttom-books #h-books .link-grade-nb .li-grade-bb {
    display: flex;
    width:100%;
    color: rgba(16,84,162,1);
    font-size:15px;
    align-items: center;
    justify-content:end;
}
.BookheaderM {
    display: none;
}


/* .link-grade-n {
    background-color: aqua;
    width: 100%;
    display: none;
} */

.pathimg-b {
    display: flex;
    cursor: pointer;
}

.line {
    width: 530px;
}
#line {
    margin: 0;
    padding: 0;
    margin-right:0px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.BookheaderM {
    display: none;
}
 .icon-book-m {
    display:none;
    width: 100%;
}
.Download-all-b-m {
    display: none;
}

@media screen and (max-width: 768px) {
    .Download-all-b {
        display: none;
    }
    .Bookheader {
        display: none;
    }
    .Download-all-b-m {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
   
  
    .BookheaderM {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: linear-gradient(to right, #0F53A1, #3C98BD);
        width: 100%;
    }
    #flesh-image-grade-BM {
        display: flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        width:15%;
        height:15vh;
    }
    .icon-book-m {
        display: flex;
        flex-direction: column;
        justify-content:end;
        align-items: center;
        height:30vh;
    }
    
    .bookH-m {
        width: 500px;
    }
    .second-section-m {
        display: flex;
        flex-direction:column;
        justify-content:space-between;
        align-items:center;
        width:100%;
        flex: 1;
        height: 100%;
    }
    .buttom-books {
        display: flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
        width: 100%;
        height: 100%;
        flex:70%;
    }
    .buttom-books .p-container-books {
     display: flex;
     flex-direction: column;
     justify-content:flex-start;
     align-items: center;
     height:50%;
    }
     .p-books {
        color: white;
        font-size: 30px;
        font-weight: bold;
        font-family: "Bahij Helvetica";
    }
        #p-books {
        font-family: "Bahij Helvetica";
        color: white;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }
    .sanaf-grade-nm  img {
        width:25px;
    }
    #h-booksM {
        overflow-y: hidden;
        height:310px;
        width: 100%;
    }
    /* .link-grade-n {
        background-color: aqua;
        width: 100%;
        display: none;
    } */
    
    .pathimg-bm {
        /* margin-right:-50px; */
        /* margin-top:50px; */
        cursor: pointer;
        background-color: #3C98BD;
        align-items: center;
        display: flex;
    }
    
    .line {
        width: 530px;
    }
    
    #line {
        margin: 0;
        display: flex;
        padding: 0;
        margin-bottom: 30px;
        margin-top: 0px;
    }
    .icon-book-m {
        display:flex;
        width: 100%;
    }
    .icon-book-m img {
        width: 50px;
    }
 
}
@media screen and (max-width:375px) {
   
    .Download-all-b-m {
        display:none;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
     .BookheaderM {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: linear-gradient(to right, #0F53A1, #3C98BD);
        background-color: red;
        width: 100%;
    }
    .link-grade-nm {
        background-color: red;
        display: flex;
        flex-direction: row;
        width: 10%;
    }
}