#Books {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    height: 625px;
    padding: 20px;
    background-color: rgba(218, 236, 242, 1);
    overflow-x: hidden;
    overflow-y: hidden;

}

#Books .top .first-svgs {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
}

#Books .top .first-svgs .arrowSvg {
    /* margin-top:30px; */
    margin-left: 100px;
}

#Books .top .left-svg {
    margin-top: -20px;
    margin-left: 20px;
}

 #Books .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

 #Books .top .first-section {
    margin-right: 70px;
    padding-top: 10px;
    margin-top: 30px;
}

#Books .top .third-section {
    margin-right: 40px;
    margin-top: 20px;
}

#Books .top h1 {
    color: #3C98BD;
    font-size: 50px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
}

#Books .top p {
    color: #3C98BD;
    font-size: 30px;
    font-style: normal;
    text-align: center;
}

#Books #middlebook {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 130px;
    margin-right: 130px;
    /* overflow-x: scroll; */

}

#Books #middlebook .middle {
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    margin-right: 70px;
    overflow-x: hidden;
    padding: 10px;

}

#Books #middlebook .middle #link {
    margin: 12px;
    background-color: #0F53A1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 30%;
    height: 270px;
    border-radius: 30px;

}

#Books #middlebook .middle #link:hover {
    width: 300px;
    background-color: #3c98bd;
}

#Books #middlebook .middle #link img {
    height: 120px;
    width: 120px;
    /* padding-bottom: 10px;
    border-bottom: 2px solid lightgray; */
    border-bottom:2px solid lightgray ;
}

 #Books #middlebook .middle #link div {
    padding-top: 20px;
}

 #Books .middle #link div #h5{
    color: #fff;
        font-size: 20px;
        text-align: center;
        width: 150px;
 }
 #Books .middle #link div p {
    color: #fff;
        font-size: 20px;
        text-align: center;
        width: 150px;
}

#Books .bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* height:50%;
    padding-bottom:70px; */
}

#Books  .bottom .bottom-section {
    margin-left: 190px;
}

#Books .bottom .p-section {
    margin-right: 70px;
}

#Books .bottom .last-svg {
    margin-right: 100px;
}

.bottom p {
    color: #707070;
    font-size: 30px;
    padding: 15px;

}

#ul {
    margin-left: 10px;
}

#Books .top .t-svg {
    background-color: #707070;
    margin-right: -1000px;

}

#Books .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}