.full-section{
    height: 88vh;
}
.section {
    background-color: white;
    color: rgb(81, 187, 228);
    font-family: "Bahij Helvetica";
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mobile-section {
    display: none;
}
#title {
    align-items: center;
    color: rgba(60, 152, 189, 1);
}
#title h1 {
    font-weight: bold;
    font-size: 45px;
    display: flex;
    justify-content: center;
    color: rgba(60, 152, 189, 1);
    margin-top: -100px;
}
#title p {
    color: rgba(60, 152, 189, 1);
    font-size: 28px;
    font-family: "Bahij Helvetica";
    margin-top: 0%;
}
#ul-section {
    display: flex;
    width: 80vw;
    color: rgba(60, 152, 189, 1);
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#ul-section li{
    list-style: none;
}
#ul-section img {
    justify-content: center;
    display: inline-block;
    height: 50%;
    width: 50%;
    margin-left: 30%;
    align-items: center;
    margin-top: 2vh;
}
#ul-section h1 {
    color: rgba(60, 152, 189, 1);
    font-size: 30px;
    margin-left: 36%;
    margin-top: 0%;
}
#ul-section p {
    color: rgba(60, 152, 189, 1);
    width: 45%;
    align-items: center;
    justify-content: center;
    margin-left: 35%;
    text-align: center;
    margin-top: 3%;
    font-size: 20px;
    display: flex;
}
.section .prevuse img {
    position: absolute;
    bottom: 80%;
    right: 93%;
    display: flex;
    cursor: pointer;
}
.section .svg {
    height: 10px;
    width: 10x;
    margin-right: 70%;
    margin-top: 3%;
}
.section .svg1 {
    margin-left: 80%;
    padding-right: 0px;
}
.section .svg2 {
    margin-top: -6%;
    margin-right: 70%;
    display: flex;
}
.section .svg3 {
    margin-top: -8%;
    margin-left: 80%;
}
@media only screen and (max-width: 1200px) and (min-width: 992px) {
    .section {
        background-color: white;
        color: rgb(81, 187, 228);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80vh;
    }
    #title {
        align-items: center;
        color: rgba(60, 152, 189, 1);
    }
    #title h1 {
        font-weight: bold;
        font-size: 43px;
        display: flex;
        justify-content: center;
        color: rgba(60, 152, 189, 1);
        margin-top: -12vh;
    }
    #title p {
        color: rgba(60, 152, 189, 1);
        font-size: 28px;
        width:100%;
        margin-left: 5vw;
        margin-right: 6vw;
        justify-content: center;
        align-items: center;
    }
    #ul-section {
        width: 80vw;
        display: flex;
        color: rgba(60, 152, 189, 1);
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #ul-section img {
        justify-content: center;
        display: inline-block;
        height: 50%;
        width: 50%;
        margin-left: 30%;
        margin-right: 30%;
        align-items: center;
    }
    #ul-section h1 {
        color: rgba(60, 152, 189, 1);
        font-size: 30px;
        margin-left: 35%;
        margin-top: 0%;
    }
    #ul-section p {
        color: rgba(60, 152, 189, 1);
        width: 63%;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-left: 30%;
        font-size: 22px;
        display: flex;
    }
    .section .prevuse img {
        height: 3%;
        top:20%;
        left: 5%;
        display: flex;
        cursor: pointer;
    }
    .section .svg {
        display: flex;
        margin-top: 4%;
        margin-left: -4vw;
    }
    .section .svg1 {
        display: flex;
        margin-right: 0%;
        margin-top: -4vh;
    }
    .section .svg2 {
        display: flex;
        margin-top: -20vh;
        margin-left: -8%;
    }
    .section .svg3 {
        display: flex;
        margin-top: -7%;
        margin-right: -7%;
    }
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
    .section {
        background-color: white;
        color: rgb(81, 187, 228);
        height: 88vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #title {
        align-items: center;
        padding-top: 13%;
    }
    #title h1 {
        margin-top: -20%;
        font-weight: bold;
        font-size: 40px;
        display: flex;
        justify-content: center;
        color: rgba(60, 152, 189, 1);
    }
    #title p {
        color: rgba(60, 152, 189, 1);
        font-size: 25px;
        width: 80vw;
        margin-top: 2%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #ul-section {
        margin-top: -2vh;
        width: 80vw;
        height: 50vh;
        display: flex;
        color: rgba(60, 152, 189, 1);
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #ul-section img {
        height: 50%;
        width: 50%;
        justify-content: space-between;
        margin-top: -10%;
        margin-left: 4vw;
    }
    /* #ul-section a {
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 25vw;
        height: 50vh;
        margin-left: 10%;
        margin-right: 20%;
    } */
    #ul-section h1 {
        width: 20vw;
        color: rgba(60, 152, 189, 1);
        font-size: 25px;
        margin-left: 8%;
        margin-top: 0%;
        margin-right: 18%;
        text-align: center;
    }
    #ul-section p {
        color: rgba(60, 152, 189, 1);
        align-items: center;
        justify-content: center;
        margin-left: 12%;
        margin-right: 25%;
        font-size: 19px;
        display: flex;
        width: 65%;
    }
    .section .prevuse img {
        position: absolute;
        top: 18%;
        right: 93%;
        width: 3%;
        cursor: pointer;
    }
    .section .svg {
        display: flex;
        height: 10vh;
        width: 10vw;
        margin-right: 70%;
        margin-top: 3vh;
    }
    .section .svg1 {
        display: flex;
        height: 15vh;
        width: 10vw;
        margin-right: 5%;
        position: relative;
        top: -8%;
        margin-bottom: -10%;

    }
    .section .svg2 {
        display: flex;
        height: 10vh;
        width: 10vw;
        margin-left: -8vw;
        margin-right: 75%;
        margin-bottom: 5vh;
    }
    .section .svg3 {
        display: flex;
        width: 10vw;
        margin-top: -18vh;
        margin-right: vw;
    }
}
@media only screen and (max-width: 768px) and (min-width:576px) {
    .section {
        display: none;
    }
    .section .prevuse img {
        display: none;
    }
    .section .svg {
        display: none;
    }
    .section .svg1 {
        display: none;
    }
    .section .svg2 {
        display: none;
    }
    .section .svg3 {
        display: none;
    }
    .mobile-section {
        width: 100%;
        display: block;
        height: 80vh;
    }
    .mob-sec-header .prevuse {
        position: absolute;
        height: 2.6%;
        display: flex;
        top: 18%;
        left: 5%;
        cursor: pointer;
    }
    #title h1 {
        position: relative;
        color: rgba(255, 194, 0, 1);
        font-size: 40px;
        margin-top: 3vh;
        text-align: center;
        align-items: center;
        width: 50vw;
        left: 25vw;
    }
    #title p {
        width: 80vw;
        position: relative;
        font-size: 23px;
        margin-top: -1%;
        text-align: center;
        left: 13%;
    }
    .shape-1 {
        margin-right: 90vw;
        margin-top: -5vh;
        margin-left: 10vw;
        display: flex;
    }
    .shape-2 {
        display: flex;
        height: 10%;
        position: absolute;
        top: 15%;
        right: 5%;
    }
    .mob-sec-article #ul-section {
        position: relative;
        margin-top: -4vh;
        padding-top: 68vh;
        left: 18%;
        display: flex;
        height: 50vh;
        flex-direction: column;
        justify-content: center;
        overflow-y: scroll;
        /* scroll-padding-top: 20vh; */
        width: 60%;
    }
    .mob-sec-article #ul-section img {
        width: 50%;
        height: 55%;
        margin-top: -5%;
    }
    .mob-sec-article #ul-section h1 {
        font-size: 25px;
        font-family: "Bahij Helvetica";
        width: 60%;
        margin-top:-2%;
    }
    .mob-sec-article #ul-section p {
        font-size: 20px;
        text-align: center;
        font-family: "Bahij Helvetica";
        width: 70%;
        margin-left: 23%;
        margin-top: 0;
        margin-bottom: 0%;
    }
    .shape-3 {
        display: flex;
        height: 10%;
        position: absolute;
        top: 83%;
        left: 10%;
    }
    .shape-4 {
        position: absolute;
        display: flex;
        height: 10%;
        left: 83%;
        top: 85%;
    }
}
@media only screen and (max-width: 576px) and (min-width:360px) {
    .section {
        display: none;
    }
    .section .prevuse img {
        display: none;
    }
    .section .svg {
        display: none;
    }
    .section .svg1 {
        display: none;
    }
    .section .svg2 {
        display: none;
    }
    .section .svg3 {
        display: none;
    }
    .mobile-section {
        width: 100%;
        display: block;
        height: 80vh;
    }
    .mob-sec-header .prevuse {
        width: 5%;
        height: 2%;
        position: absolute;
        display: flex;
        top: 17%;
        left: 7%;
        cursor: pointer;
    }
    #title h1 {
        position: absolute;
        color: rgba(255, 194, 0, 1);
        font-size: 30px;
        top: 17%;
        text-align: center;
        left: 30%;
    }
    #title p {
        width: 80%;
        position: absolute;
        font-size: 23px;
        top: 10%;
        text-align: center;
        left: 10%;
    }
    .shape-1 {
        position: absolute;
        display: flex;
        width: 7%;
        height: 7%;
        left: 15%;
        top: 25%;
    }
    .shape-2 {
        position: absolute;
        display: flex;
        width: 10%;
        height: 10%;
        top: 2%;
        left: 80%;
    }
    .mob-sec-article #ul-section {
        position: absolute;
        top: 25%;
        left: -14%;
        margin-right: 6%;
        padding-top: 410px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow-y: scroll;
        align-items: center;
        height: 58%;
        width: 100%;
    }
    .mob-sec-article #ul-section img {
        width: 50%;
        height: 60%;
        margin-right: 16%;
        margin-top: 0;
    }
    .mob-sec-article #ul-section h1 {
        font-size: 23px;
        font-family: "Bahij Helvetica";
        width: 60%;
        text-align: center;
        margin-left: 26%;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .mob-sec-article #ul-section p {
        font-size: 20px;
        width: 70%;
        text-align: center;
        font-family: "Bahij Helvetica";
        margin-left: 22%;
        margin-top: 0%;
        margin-bottom: -5%;
    }
    .shape-3 {
        display: flex;
        height: 9%;
        width: 9%;
        position: absolute;
        top: 87%;
        left: 10%;
    }
    .shape-4 {
        position: absolute;
        display: flex;
        width: 11.3%;
        height: 10%;
        left: 80%;
        top: 88%;
    }
}
@media only screen and (max-width: 360px) and (min-width: 100px) {
    .section {
        display: none;
    }
    .section .prevuse img {
        display: none;
    }
    .section .svg {
        display: none;
    }
    .section .svg1 {
        display: none;
    }
    .section .svg2 {
        display: none;
    }
    .section .svg3 {
        display: none;
    }
    .mobile-section {
        width: 100%;
        display: block;
        height: 100vh;
    }
    .mob-sec-header .prevuse {
        height: 1.5%;
        position: absolute;
        display: flex;
        top: 6%;
        left: 7%;
        cursor: pointer;
    }
    #title h1 {
        position: absolute;
        color: rgba(255, 194, 0, 1);
        font-family: "Bahij Helvetica";
        font-size: 30px;
        top: 20%;
        text-align: center;
        left: 28%;
    }
    #title p {
        width: 60%;
        position: absolute;
        font-family: "Bahij Helvetica";
        font-size: 18px;
        top: 20%;
        text-align: center;
        left: 24%;
    }
    .shape-1 {
        position: absolute;
        display: flex;
        width: 6%;
        height: 6%;
        left: 15%;
        top: 25%;
    }
    .shape-2 {
        position: absolute;
        display: flex;
        width: 7%;
        height: 7%;
        top: 5%;
        left: 80%;
    }
    .mob-sec-article #ul-section {
        position: absolute;
        top: 180px;
        left: 20%;
        padding-top: 390px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow-y: scroll;
        align-items: center;
        height: 60%;
        width: 60%;
    }
    .mob-sec-article #ul-section img {
        width: 100%;
        margin-left: -7%;
        padding-right: 18%;
        align-items: center;
        height:50%;
        margin-top: -10px;
        padding-top: 10px;
    }
    .mob-sec-article #ul-section h1 {
        font-size: 18px;
        font-family: "Bahij Helvetica";
        width: 90%;
        text-align: center;
        margin-left: -5%;
    }
    .mob-sec-article #ul-section p {
        font-size: 16px;
        text-align: center;
        width: 90%;
        font-family: "Bahij Helvetica";
        margin-left: -5%;
        margin-top: 3%;
        padding-bottom: -3%;
    }
    .shape-3 {
        display: flex;
        height: 8%;
        width: 8%;
        position: absolute;
        top: 90%;
        left: 10%;
    }
    .shape-4 {
        position: absolute;
        display: flex;
        width: 9%;
        height: 9%;
        left: 80%;
        top: 90%;
    }
}