.all-grade-mobile{
	display: none;
}
.alll_darde{
	width: 100%;
    height:90%;
	background-color: rgba(60,152,189,1);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.all-grade{
	background-color: rgba(60,152,189,1);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* min-height: 600px; */
	flex: 100%;
}
.section-one-grades{
	flex: 10%;
	width: 100%;
	display: flex;
	/* flex-direction: column; */
	}
	.top-svg-gardes{
width: 100%;
	}
	.flesh-image-grade{
		width: 3vw;
		height: 2vw;		
	}
	#flesh-image-grade{
		margin-left: 5vw;
		margin-top: -5vw;
		display: flex;
	}
	.section_two_garde{
		display: flex;
		flex-direction: row;
		flex: 90%;
		/* justify-content: ; */
	}
	.section_two_one_garde{
flex: 20%;
display: flex;
justify-content: start;
align-items: end;
	}
	.svg-two-grade{
		width: 25vw;
		height: 20vw;
	}
	.section_two_two_garde{
flex: 30%;
	}
	.one-gardes{
	
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-left: -12vw;
		margin-top: 2vw;
	}
	.one-one-grades{
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		align-items: center;
		width: 100%;
		z-index: 10;
	}
	.p-one-grade{
		display: flex;
		text-align: center;
		 font-family: "Bahij Helvetica";
		font-style: normal;
		font-weight: bold;
		font-size: 2.5vw;
		color: rgba(255,255,255,1);
	}
	.p-two-grade{
		display: flex;
		font-style:normal;
		font-weight:lighter;
		 font-size: 1.9vw;	
		text-align: center;
		 font-family: "Bahij Helvetica";
		color: rgb(255, 255, 255);
		margin-top: -2vw;
		margin-bottom: 1vw;
	}
	.button-grade{
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		align-items: center;
	}
	.link-grade{
		width: 100%;
		height: 2.7vw;
		background-color:rgba(212,228,232,1);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 0.9vw;
		border-radius: 32px;
		text-align: center;
		align-items: center;
	}
	.sanaf-grade{
		width: 1.4vw;
		height: 1.5vw;
		margin-left: 1.5vw;
	}
	
	
	.li-grade{
		margin-right: 1.5vw;
		font-weight: bold;
		font-size: 1.4vw;
		color: rgba(16,84,162,1);
		letter-spacing: -0.4px;
	}
	.section_two_three_garde{
		display: flex;
justify-content: end;
align-items: end;
flex: 50%;
	}
	.image-grade{
		width: 85%;
		height: 30vw;
	}




	@media screen and (max-width:769px){
		.all-grade{
			display: none;
		}
		.alll_darde{
			width: 100%;
			height:90%;
			background-color: rgba(60,152,189,1);
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		.all-grade-mobile{
		   background-color: rgba(60,152,189,1);
		   display: flex;
		   flex-direction: column;
		   justify-content: space-between;
		   /* min-height: 600px; */
		   flex: 100%;
		}
		.section_one_garde-mobile{
			flex: 10%;
			width: 100%;
			display: flex;
			flex-direction: column;
		}
		.top-svg-gardes-mobile{
			width: 100%;
		}
		.flesh-image-grade-mobile{
			width: 4vw;
			height: 3vw;	
		}
		#flesh-image-grade-mobile{
			margin-left: 5vw;
			margin-top: -5vw;
			display: flex;
		}
		.section_two_garde-mobile{
			flex: 45%;
			/* display: flex; */
			justify-content: center;
			align-items: center;
			/* width: 100%; */
		}
		.one-gardes{
	
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-left: 0vw;
			margin-top: 5vw;
		}
		.one-one-grades{
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			align-items: center;
			width: 100%;
			z-index: 10;
		}
		.p-one-grade{
			display: flex;
			text-align: center;
			 font-family: "Bahij Helvetica";
			font-style: normal;
			font-weight: bold;
			font-size: 4vw;
			color: rgba(255,255,255,1);
		}
		.p-two-grade{
			display: flex;
			font-style:normal;
			font-weight:lighter;
			 font-size: 3vw;	
			text-align: center;
			 font-family: "Bahij Helvetica";
			color: rgb(255, 255, 255);
			margin-top: -3vw;
			margin-bottom: 2vw;
		}
		.button-grade{
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 80%;
			align-items: center;
		}
		.link-grade{
			width: 100%;
			height: 4vw;
			background-color:rgba(212,228,232,1);
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-bottom: 1vw;
			border-radius: 32px;
			text-align: center;
			align-items: center;
		}
		.sanaf-grade{
			width: 2.4vw;
			height: 2.5vw;
			margin-left: 1.5vw;
		}
		.li-grade{
			margin-right: 1.5vw;
			font-weight: bold;
			font-size: 2vw;
			color: rgba(16,84,162,1);
			letter-spacing: -0.4px;
		}
		.section_three_garde-mobile{
			display: flex;
			justify-content: space-between;
			align-items: end;
			flex: 45%;
		}
		.image-grade-mobile{
			width: 100%;
			height: 45vw;
			flex: 60%;
		}
		.svg-two-grade-mobile{
			width: 100%;
			height: 30vw;
			flex: 40%;
		}
	}


	
	@media screen and (max-width:400px){
		.all-grade{
			display: none;
		}
		.alll_darde{
			width: 100%;
			height:90%;
			background-color: rgba(60,152,189,1);
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		.all-grade-mobile{
		   background-color: rgba(60,152,189,1);
		   display: flex;
		   flex-direction: column;
		   justify-content: space-between;
		   /* min-height: 600px; */
		   flex: 100%;
		}
		.section_one_garde-mobile{
			flex: 10%;
			width: 100%;
			display: flex;
			flex-direction: column;
		}
		.top-svg-gardes-mobile{
			width: 100%;
		}
		.flesh-image-grade-mobile{
			width: 5vw;
			height: 4vw;	
		}
		#flesh-image-grade-mobile{
			margin-left: 8vw;
			margin-top: -2vw;
			display: flex;
		}
		.section_two_garde-mobile{
			flex: 45%;
			justify-content: center;
			align-items: center;
		}
		.one-gardes{
	
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-left: 0vw;
			margin-top: 15vw;
		}
		.one-one-grades{
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			align-items: center;
			width: 100%;
			z-index: 10;
		}
		.p-one-grade{
			display: flex;
			text-align: center;
			 font-family: "Bahij Helvetica";
			font-style: normal;
			font-weight: bold;
			font-size: 4.5vw;
			color: rgba(255,255,255,1);
		}
		.p-two-grade{
			display: flex;
			font-style:normal;
			font-weight:lighter;
			 font-size: 6.3vw;	
			text-align: center;
			 font-family: "Bahij Helvetica";
			color: rgb(255, 255, 255);
			margin-top: -7vw;
			margin-bottom: 3.5vw;
		}
		.button-grade{
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 70%;
			align-items: center;
		}
		.link-grade{
			width: 100%;
			height: 6vw;
			background-color:rgba(212,228,232,1);
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-bottom: 1.5vw;
			border-radius: 32px;
			text-align: center;
			align-items: center;
		}
		.sanaf-grade{
			width: 3.4vw;
			height: 3.5vw;
			margin-left: 2.5vw;
		}
		.li-grade{
			margin-right: 2.5vw;
			font-weight: bold;
			font-size: 3vw;
			color: rgba(16,84,162,1);
			letter-spacing: -0.4px;
		}
		.section_three_garde-mobile{
			display: flex;
			justify-content: space-between;
			align-items: end;
			flex: 45%;
		}
		.image-grade-mobile{
			width: 100vw;
			height:65vw;
			flex: 90%;
		}
		.svg-two-grade-mobile{
			width: 100%;
			height: 20vw;
			flex: 20vw;
		}
	}