.section {
    background-color: white;
    color: rgb(81, 187, 228);
    font-family: "Bahij Helvetica";
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mobile-section {
    display: none;
}
#title {
    align-items: center;
    color: rgba(60, 152, 189, 1);
}
#title h1 {
    font-weight: bold;
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: rgba(60, 152, 189, 1);
    margin-top: -70px;
}
#title p {
    color: rgba(60, 152, 189, 1);
    font-size: 30px;
    font-family: "Bahij Helvetica";
    margin-top: 2%;
}
#ul-section {
    display: flex;
    width: 80%;
    color: rgba(60, 152, 189, 1);
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#ul-section img {
    justify-content: center;
    display: inline-block;
    height: 60%;
    width: 60%;
    margin-left: 30%;
    align-items: center;
    margin-top: 6vh;
}
#ul-section h1 {
    color: rgba(60, 152, 189, 1);
    font-size: 30px;
    margin-left: 40%;
    margin-top: 2vh;
}
#ul-section p {
    color: rgba(60, 152, 189, 1);
    width: 45%;
    align-items: center;
    justify-content: center;
    margin-left: 35%;
    text-align: center;
    margin-top: 2vh;
    margin-right: 50px;
    font-size: 20px;
    display: flex;
}
.section .prevuse img {
    position: absolute;
    bottom: 90%;
    right: 93%;
    display: flex;
    cursor: pointer;
}
.section .svg {
    height: 10px;
    width: 10x;
    margin-left: 0px;
    padding-top: 20px;
    padding-right: 950px;
    margin: 12px;
}
.section .svg1 {
    padding-left: 1080px;
    height: 10px;
    width: 10x;
    padding-top: -30px;
    padding-bottom: 85px;
    padding-right: 0px;
    margin-top: 0px;
}
.section .svg2 {
    height: 10%;
    width: 5%;
    top: 500px;
    right: 85%;
    position: fixed;
    /* margin-left: 0px;
    padding-top: 0px;
    padding-right: 970px;
    padding-bottom: 40px;
    display: inline-flex;
    margin: 0px; */
}
.section .svg3 {
    height: 10%;
    width: 10%;
    position: absolute;
    /* margin-left: 2000px;
    margin-bottom: 30px; */
    top: 500px;
    left: 85%;

}
@media only screen and (max-width: 1200px ) and (min-width: 992px){
    .section {
        background-color: white;
        color: rgb(81, 187, 228);
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #title {
        align-items: center;
        color: rgba(60, 152, 189, 1);
    }
    #title h1 {
        font-weight: bold;
        font-size: 47px;
        display: flex;
        justify-content: center;
        color: rgba(60, 152, 189, 1);
        margin-top: -80px;
    }
    #title p {
        color: rgba(60, 152, 189, 1);
        font-size: 30px;
        width: 700px;
    }
    #ul-section {
        display: flex;
        color: rgba(60, 152, 189, 1);
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #ul-section img {
        justify-content: center;
        display: inline-block;
        height: 55%;
        width: 55%;
        margin-left: 30%;
        margin-right: 30%;
        align-items: center;
        margin-top: 6vh;
    }
    #ul-section h1 {
        color: rgba(60, 152, 189, 1);
        font-size: 30px;
        margin-left: 40%;
        margin-top: 2vh;
    }
    #ul-section p {
        color: rgba(60, 152, 189, 1);
        width: 55%;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-left: 30%;
        margin-top: 2vh;
        font-size: 22px;
        display: flex;
    }
    .section .prevuse img {
        width: 3%;
        height: 3%;
        align-items: center;
        top: 10%;
        left: 5%;
        display: flex;
        cursor: pointer;
    }
    .section .svg {
        height: 5px;
        width: 5x;
        padding-right: 75%;
    }
    .section .svg1 {
        padding-left: 650px;
        height: 5px;
        width: 5px;
        padding-top: -30px;
        padding-bottom: 85px;
        padding-right: 0px;
        margin-top: 0px;
    }
    .section .svg2 {
        top: 80%;
    }
    .section .svg3 {
        height: 10px;
        width: 10x;
        position: absolute;
        top: 80%;
        right: 30%;
    }
}
@media only screen and (max-width: 992px ) and (min-width: 768px){
    .section {
        background-color: white;
        color: rgb(81, 187, 228);
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #title {
        align-items: center;
        color: rgba(60, 152, 189, 1);
        padding-top: 13%;
    }
    #title h1 {
        font-weight: bold;
        font-size: 40px;
        display: flex;
        justify-content: center;
        color: rgba(60, 152, 189, 1);
        padding-top: 2%;
    }
    #title p {
        color: rgba(60, 152, 189, 1);
        font-size: 25px;
        width: 100%;
        margin-top: 5%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #ul-section {
        display: flex;
        color: rgba(60, 152, 189, 1);
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #ul-section img {
        height: 90%;
        width: 90%;
        justify-content: space-between;
        margin-top: -20%;
        padding: 10%;
        margin-right: 30%;
        margin-left: 20%;
    }
    #ul-section a{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 230px;
        margin-top: 60px;
        margin-left: 2%;
        margin-right: 2%;
    }
    #ul-section h1 {
        color: rgba(60, 152, 189, 1);
        font-size: 25px;
        margin-left: 20%;
        margin-top: 0px;
        margin-right: 18%;
        text-align: center;
    }
    #ul-section p {
        color: rgba(60, 152, 189, 1);
        align-items: center;
        justify-content: center;
        margin-left: 25%;
        margin-right: 25%;
        font-size: 19px;
        display: flex;
        width: 60%;
    }
    .section .prevuse img {
        position: absolute;
        top: 10%;
        right: 90%;
        width: 3%;
        cursor: pointer;
    }
    .section .svg {
      position: absolute;
      left: 10%;
    }
    .section .svg1 {
        position: absolute;
        right: 10%;
        top: 10%;
    }
    .section .svg2 {
        position: absolute;
        left: 10%;
        bottom: 20%;
        top: 80%;
    }
    .section .svg3 {
        position: absolute;
        top: 80%;
        left: 80%;
    }
}
@media only screen and (max-width: 768px ) and (min-width:576px){
    .section {
        display: none;
    }
    .section .prevuse img {
        display: none;
    }
    .section .svg {
        display: none;
    }
    .section .svg1 {
        display: none;
    }
    .section .svg2 {
        display: none;
    }
    .section .svg3 {
        display: none;
    }
    .mobile-section{
        display: block;
        height: auto;
    }
    .mob-sec-header .prevuse{
        position: absolute;
        height: 2.6%;
        display: flex;
        top: 7%;
        left: 7%;
        cursor: pointer;
    }
    #title h1{
        position: absolute;
        color: rgba(255, 194, 0, 1);
        font-size: 50px;
        top: 17%;
        text-align: center;
        left: 32%;
    }
    #title p{
        width: 80%;
        position: absolute;
        font-size: 28px;
        top: 13%;
        text-align: center;
        left: 13%;
    }
    .shape-1{
        position: absolute;
        display: flex;
        width:15%;
        height: 10%;
        left: 15%;
        top: 25%;
    }
    .shape-2{
        position: absolute;
        display: flex;
        width: 11%;
        height: 12%;
        top: 5%;
        left: 80%;
    }
    .mob-sec-article #ul-section{
        position: absolute;
        top: 26%;
        padding-top: 63%;
        left: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow-y: scroll;
        align-items: center;
        height: 60%;
        width: 60%;
    }
    .mob-sec-article #ul-section img{
        height:60%;
        width: 40%;
        margin-top: 0%;
        padding-top: 2%;
        margin-bottom: -2%;
    }
    .mob-sec-article #ul-section h1{
        font-size: 25px;
        font-family:  "Bahij Helvetica";
        margin-left: 36%;
        padding-top: 0%;
    }
    .mob-sec-article #ul-section p{
        font-size: 20px;
        text-align: center;
        font-family:  "Bahij Helvetica";
        width: 60%;
        margin-left:23%;
        margin-bottom: 3%;

    }
    .shape-3{
        display: flex;
        height: 12%;
        width: 12%;
        position: absolute;
        top: 80%;
        left: 10%;
    }
    .shape-4{
        position: absolute;
        display: flex;
        width: 10%;
        height: 12%;
        left: 80%;
        top: 85%;
    }
}
@media only screen and (max-width: 576px ) and (min-width:360px){
    .section {
        display: none;
    }
    .section .prevuse img {
        display: none;
    }
    .section .svg {
        display: none;
    }
    .section .svg1 {
        display: none;
    }
    .section .svg2 {
        display: none;
    }
    .section .svg3 {
        display: none;
    }
    .mobile-section{
        width: 100%;
        display: block;
        height: auto;
    }
    .mob-sec-header .prevuse{
        width: 5%;
        height: 2%;
        position: absolute;
        display: flex;
        top: 7%;
        left: 7%;
        cursor: pointer;
    }
    #title h1{
        position: absolute;
        color: rgba(255, 194, 0, 1);
        font-size: 34px;
        top: 15%;
        text-align: center;
        left: 36%;
    }
    #title p{
        width: 40%;
        position: absolute;
        font-size: 23px;
        top: 10%;
        text-align: center;
        left: 33%;
    }
    .shape-1{
        position: absolute;
        display: flex;
        width: 7%;
        height: 7%;
        left: 15%;
        top: 25%;
    }
    .shape-2{
        position: absolute;
        display: flex;
        width: 10%;
        height: 10%;
        top: 10%;
        left: 80%;
    }
    .mob-sec-article #ul-section{
        position: absolute;
        top: 28%;
        left: 8%;
        padding-top: 75%;
        padding-right: 2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow-y: scroll;
        align-items: center;
        height: 58%;
        width: 70%;
    }
    .mob-sec-article #ul-section img{
        width: 55%;
        height: 57%;
        margin-right: 15%;
    }
    .mob-sec-article #ul-section h1{
        font-size: 23px;
        font-family: "Bahij Helvetica";
        width: 60%;
        text-align: center;
        margin-left: 26%;
        margin-top: 0px;
    }
    .mob-sec-article #ul-section p{
        font-size: 20px;
        width: 70%;
        text-align: center;
        font-family:  "Bahij Helvetica";
        margin-left: 22%;
        margin-top: 2%;
    }
    .shape-3{
        display: flex;
        height: 9%;
        width: 9%;
        position: absolute;
        top: 80%;
        left: 10%;
    }
    .shape-4{
        position: absolute;
        display: flex;
        width: 11.3%;
        height: 10%;
        left: 80%;
        top: 85%;
    }
}
@media only screen and (max-width: 491px ) and (min-width:360px){
    .section {
        display: none;
    }
    .section .prevuse img {
        display: none;
    }
    .section .svg {
        display: none;
    }
    .section .svg1 {
        display: none;
    }
    .section .svg2 {
        display: none;
    }
    .section .svg3 {
        display: none;
    }
    .mobile-section{
        width: 100%;
        display: block;
        height: auto;
    }
    .mob-sec-header .prevuse{
        width: 5%;
        height: 2%;
        position: absolute;
        display: flex;
        top: 7%;
        left: 7%;
        cursor: pointer;
    }
    #title h1{
        position: absolute;
        color: rgba(255, 194, 0, 1);
        font-size: 34px;
        top: 15%;
        text-align: center;
        left: 32%;
    }
    #title p{
        width: 50%;
        position: absolute;
        font-size: 23px;
        top: 10%;
        text-align: center;
        left: 28%;
    }
    .shape-1{
        position: absolute;
        display: flex;
        width: 7%;
        height: 7%;
        left: 15%;
        top: 25%;
    }
    .shape-2{
        position: absolute;
        display: flex;
        width: 10%;
        height: 10%;
        top: 10%;
        left: 80%;
    }
    .mob-sec-article #ul-section{
        position: absolute;
        top: 29%;
        left: 8%;
        padding-top: 77%;
        padding-right: 2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow-y: scroll;
        align-items: center;
        height: 50%;
        width: 70%;
    }
    .mob-sec-article #ul-section img{
        width: 50%;
        height: 50%;
        margin-right: 15%;
        margin-top: 7%;
    }
    .mob-sec-article #ul-section h1{
        font-size: 20px;
        font-family: "Bahij Helvetica";
        width: 60%;
        text-align: center;
        margin-left: 26%;
        margin-top: 0px;
    }
    .mob-sec-article #ul-section p{
        font-size: 18px;
        width: 85%;
        text-align: center;
        font-family:  "Bahij Helvetica";
        margin-left: 18%;
        margin-top: 2%;
    }
    .shape-3{
        display: flex;
        height: 9%;
        width: 9%;
        position: absolute;
        top: 80%;
        left: 10%;
    }
    .shape-4{
        position: absolute;
        display: flex;
        width: 11.3%;
        height: 10%;
        left: 80%;
        top: 85%;
    }
}
@media only screen and (max-width: 360px) and (min-width: 100px){
    .section {
        display: none;
    }
    .section .prevuse img {
        display: none;
    }
    .section .svg {
        display: none;
    }
    .section .svg1 {
        display: none;
    }
    .section .svg2 {
        display: none;
    }
    .section .svg3 {
        display: none;
    }
    .mobile-section{
        background-color: white;
        width: 100%;
        display: block;
        height: auto;
    }
    .mob-sec-header .prevuse{
        height: 1.5%;
        position: absolute;
        display: flex;
        top: 4%;
        left: 7%;
        cursor: pointer;
    }
    #title h1{
        position: absolute;
        color: rgba(255, 194, 0, 1);
        font-family:  "Bahij Helvetica";
        font-size: 25px;
        top: 17%;
        text-align: center;
        left: 32%;
    }
    #title p{
        width: 48%;
        position: absolute;
        font-family:  "Bahij Helvetica";
        font-size: 18px;
        top: 10%;
        text-align: center;
        left: 32%;
    }
    .shape-1{
        position: absolute;
        display: flex;
        width: 6%;
        height: 6%;
        left: 15%;
        top: 25%;
    }
    .shape-2{
        position: absolute;
        display: flex;
        width: 7%;
        height: 7%;
        top: 5%;
        left: 80%;
    }
    .mob-sec-article #ul-section{
        position: absolute;
        top: 180px;
        left: 10%;
        padding-top: 100%;
        padding-right: 2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow-y: scroll;
        align-items: center;
        height: 60%;
        width: 70%;
    }
    .mob-sec-article #ul-section img{
        width: 55%;
        height: 50%;
        margin-right: 15%;
        margin-top: 2px;
        padding-top: 7%;
    }
    .mob-sec-article #ul-section h1{
        font-size: 18px;
        font-family:  "Bahij Helvetica";
        width: 70%;
        text-align: center;
        margin-left: 28%;
        margin-top: 0%;
    }
    .mob-sec-article #ul-section p{
        font-size: 16px;
        text-align: center;
        width: 70%;
        font-family:  "Bahij Helvetica";
        margin-left: 23%;
        margin-top: 3%;
        padding-bottom: 2%;
    }
    .shape-3{
        display: flex;
        height: 7%;
        width: 7%;
        position: absolute;
        top: 90%;
        left: 10%;
    }
    .shape-4{
        position: absolute;
        display: flex;
        width: 9%;
        height: 9%;
        left: 80%;
        top: 85%;
    }
}



