.section {
    background-color: white;
    color: rgb(81, 187, 228);
    font-family: "Bahij Helvetica";
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mobile-section {
    display: none;
}
#title {
    align-items: center;
    color: rgba(60, 152, 189, 1);
}
#title h1 {
    font-weight: bold;
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: rgba(60, 152, 189, 1);
    margin-top: -70px;
}
#title p {
    color: rgba(60, 152, 189, 1);
    font-size: 30px;
    font-family: "Bahij Helvetica";
    margin-top: 2%;
}
#ul-section {
    display: flex;
    width: 80%;
    color: rgba(60, 152, 189, 1);
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#ul-section img {
    justify-content: center;
    display: inline-block;
    height: 60%;
    width: 60%;
    margin-left: 30%;
    align-items: center;
    margin-top: 6vh;
}
#ul-section h1 {
    color: rgba(60, 152, 189, 1);
    font-size: 30px;
    margin-left: 40%;
    margin-top: 2vh;
}
#ul-section p {
    color: rgba(60, 152, 189, 1);
    width: 45%;
    align-items: center;
    justify-content: center;
    margin-left: 35%;
    text-align: center;
    margin-top: 2vh;
    margin-right: 50px;
    font-size: 20px;
    display: flex;
}
.section .prevuse img {
    position: absolute;
    bottom: 90%;
    right: 93%;
    display: flex;
    cursor: pointer;
}
.section .svg {
    height: 10px;
    width: 10x;
    margin-left: 0px;
    padding-top: 20px;
    padding-right: 950px;
    margin: 12px;
}
.section .svg1 {
    padding-left: 1080px;
    height: 10px;
    width: 10x;
    padding-top: -30px;
    padding-bottom: 85px;
    padding-right: 0px;
    margin-top: 0px;
}
.section .svg2 {
    height: 10%;
    width: 5%;
    top: 500px;
    right: 85%;
    position: fixed;
    /* margin-left: 0px;
    padding-top: 0px;
    padding-right: 970px;
    padding-bottom: 40px;
    display: inline-flex;
    margin: 0px; */
}
.section .svg3 {
    height: 10%;
    width: 10%;
    position: absolute;
    /* margin-left: 2000px;
    margin-bottom: 30px; */
    top: 500px;
    left: 85%;

}
@media only screen and (max-width: 1200px ) and (min-width: 992px){
    .section {
        background-color: white;
        color: rgb(81, 187, 228);
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #title {
        align-items: center;
        color: rgba(60, 152, 189, 1);
    }
    #title h1 {
        font-weight: bold;
        font-size: 47px;
        display: flex;
        justify-content: center;
        color: rgba(60, 152, 189, 1);
        margin-top: -80px;
    }
    #title p {
        color: rgba(60, 152, 189, 1);
        font-size: 30px;
        width: 700px;
    }
    #ul-section {
        display: flex;
        color: rgba(60, 152, 189, 1);
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #ul-section img {
        justify-content: center;
        display: inline-block;
        height: 55%;
        width: 55%;
        margin-left: 30%;
        margin-right: 30%;
        align-items: center;
        margin-top: 6vh;
    }
    #ul-section h1 {
        color: rgba(60, 152, 189, 1);
        font-size: 30px;
        margin-left: 40%;
        margin-top: 2vh;
    }
    #ul-section p {
        color: rgba(60, 152, 189, 1);
        width: 55%;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-left: 30%;
        margin-top: 2vh;
        font-size: 22px;
        display: flex;
    }
    .section .prevuse img {
        width: 3%;
        height: 3%;
        align-items: center;
        top: 10%;
        left: 5%;
        display: flex;
        cursor: pointer;
    }
    .section .svg {
        height: 5px;
        width: 5x;
        padding-right: 75%;
    }
    .section .svg1 {
        padding-left: 650px;
        height: 5px;
        width: 5px;
        padding-top: -30px;
        padding-bottom: 85px;
        padding-right: 0px;
        margin-top: 0px;
    }
    .section .svg2 {
        top: 80%;
        /* height: 15%;
        width: 15%;
        top: 500px;
        position: absolute;
        margin-left: 0px;
        padding-right: 800px; */
    }
    .section .svg3 {
        height: 10px;
        width: 10x;
        position: absolute;
        top: 80%;
        right: 30%;
    }
}
@media only screen and (max-width: 992px ) and (min-width: 768px){
    .section {
        background-color: white;
        color: rgb(81, 187, 228);
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #title {
        align-items: center;
        color: rgba(60, 152, 189, 1);
        padding-top: 13%;
    }
    #title h1 {
        font-weight: bold;
        font-size: 40px;
        display: flex;
        justify-content: center;
        color: rgba(60, 152, 189, 1);
        padding-top: 2%;
    }
    #title p {
        color: rgba(60, 152, 189, 1);
        font-size: 25px;
        width: 100%;
        margin-top: 5%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #ul-section {
        display: flex;
        color: rgba(60, 152, 189, 1);
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #ul-section img {
        height: 90%;
        width: 90%;
        justify-content: space-between;
        margin-top: -20%;
        padding: 10%;
        margin-right: 30%;
        margin-left: 20%;
    }
    #ul-section a{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 230px;
        margin-top: 60px;
        margin-left: 2%;
        margin-right: 2%;
    }
    #ul-section h1 {
        color: rgba(60, 152, 189, 1);
        font-size: 25px;
        margin-left: 20%;
        margin-top: 0px;
        margin-right: 18%;
        text-align: center;
    }
    #ul-section p {
        color: rgba(60, 152, 189, 1);
        align-items: center;
        justify-content: center;
        margin-left: 25%;
        margin-right: 25%;
        font-size: 19px;
        display: flex;
        width: 60%;
    }
    .section .prevuse img {
        position: absolute;
        top: 10%;
        right: 90%;
        width: 3%;
        cursor: pointer;
    }
    .section .svg {
      position: absolute;
      left: 10%;
    }
    .section .svg1 {
        position: absolute;
        right: 10%;
        top: 10%;
        /* padding-left: 600px;
        height: 5px;
        width: 5x;
        padding-top: -30px;
        padding-bottom: 85px;
        padding-right: 0px;
        margin-top: 0px; */
    }
    .section .svg2 {
        /* height: 5px;
        width: 5x;
        top: 580px;
        position: fixed;
        margin-left: 550px;
        padding-top: -200%;
        padding-right: 600px;
        padding-bottom: 80px;
        display: inline-flex;
        margin: 0px; */
        position: absolute;
        left: 10%;
        bottom: 20%;
        top: 80%;
    }
    .section .svg3 {
        position: absolute;
        top: 80%;
        left: 80%;
        /* height: 5px;
        width: 5px;
        position: fixed;
        margin-left: 1550px;
        margin-bottom: 30px;
        top: 550px;
        padding-top: 12px;
        padding-right: 0px;
        padding-bottom: 80px;
        padding-right: 970px;
        display: inline-flex;
        margin: 0px; */
    }
}
@media only screen and (max-width: 768px ) and (min-width:576px){
    .section {
        /* position: absolute;
        background-color: white;
        width: 100%;
        overflow: hidden;
        display: flex;
        position: fixed;
        flex-direction: column;
        align-items: center; */
        display: none;
    }
    /* #title {
        text-align: center;
    }
    #title h1 {
        position: absolute;
        top: 80px;
        display: block;
        width: 60%;
        left: 20%;
        font-weight: bold;
        font-size: 55px;
        display: flex;
        justify-content: center;
        color: rgba(255, 194, 0, 1);
        font-style: normal;
        background-color: red;
    }
    #title p {
        color: rgba(60, 152, 189, 1);
        font-size: 35px;
        font-weight: lighter;
        position: absolute;
        top: 140px;
        left: 80px;
        padding-left: 60px;
        padding-right: 40px;
        width: 545px;
        margin-top: -60px;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: red;
    }
    #ul-section {
        display: flex;
        color: rgba(60, 152, 189, 1);
        flex-direction: column;
        height: 600px;
        width: 700px;
        
        padding-bottom: 350px;
        margin-top: 20px;
        position: fixed;
        top: 25%;
        left: 0%;
        right: 5%;
        bottom: -80%;
        overflow: scroll;
        justify-content: center;
        align-items: center;
    }
    #ul-section img {
        height: 250px;
        width: 250px;
        margin: 0px;
        margin-left: 0;
        margin-right: 0;
        margin-top: -70%;
        margin-bottom: -10%;
        margin-right: 0;
        padding: 25px;
    }
    #ul-section a{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 200px;
        padding-top: 30px;
        margin-top: 80px;
        margin-left: 10px;
        margin-right: 10px;
    } */
    /* #ul-section h1 {
        color: rgba(60, 152, 189, 1);
        font-size: 25px;
        margin-left: 20%;
        margin-top: 1%;
        margin-right: 20%;
        text-align: center;
    }
    #ul-section p {
        color: rgba(60, 152, 189, 1);
        align-items: center;
        justify-content: center;
        margin-left: 80px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 50px;
        font-size: 25px;
        display: flex;
        text-align: center;
        width: 250px;
    } */
    .section .prevuse img {
        position: absolute;
        top: 45px;
        bottom: 10px;
        right: 620px;
    }
    .section .svg {
        /* height: 3px;
        width: 3px;
        padding-left: 300px;
        padding-top: 70px;
        padding-right: 500px;
        padding-left:100px;
        margin: 12px; */
        display: none;
    }
    .section .svg1 {
        /* padding-left: 480px;
        height: 5px;
        width: 5px;
        padding-top: 10px;
        padding-bottom: 95px;
        padding-right: 0px;
        margin-top: 0px; */
        display: none;
    }
    .section .svg2 {
        /* height: 5px;
        width: 5px;
        top: 580px;
        position: fixed;
        padding-right: 350px;
        padding-bottom: 1200%;
        position: absolute;
        top: 530px;
        bottom: 18px;
        margin: 0px; */
        display: none;
    }
    .section .svg3 {
        /* height: 5px;
        width: 5x;
        position: absolute;
        margin-left: 1300px;
        margin-bottom: 60px;
        top: 520px;
        bottom: 30px;
        padding-top: 12px;
        padding-right: 0px;
        padding-bottom: 80px;
        padding-right: 970px;
        display: inline-flex;
        margin: 0px; */
        display: none;
    }
    .mobile-section{
        display: block;
    }
    .mob-sec-header .prevuse{
        position: absolute;
        display: flex;
        top: 7%;
        left: 7%;
        cursor: pointer;
    }
    #title h1{
        position: absolute;
        font-size: 50px;
        top: 100px;
        text-align: center;
        left: 29%;
    }
    #title p{
        width: 80%;
        position: absolute;
        font-size: 28px;
        top: 80px;
        text-align: center;
        left: 13%;
    }
}
@media only screen and (max-width: 576px ) and (min-width:360px){
    .section {
        position: absolute;
        background-color: white;
        width: 100%;
        color: rgb(81, 187, 228);
        overflow: hidden;
        overflow-y: hidden;
        overflow-x: hidden;
        display: flex;
        position: fixed;
        flex-direction: column;
        align-items: center;
    }
    #title {
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;
    }
    #title h1 {
        position: absolute;
        width: 80%;
        left: 20%;
        background-color: red;
        top: 150px;
        font-weight: bold;
        font-size: 55px;
        display: flex;
        justify-content: center;
        color: rgba(255, 194, 0, 1);
        padding-top: 5px;
        font-style: normal;
    }
    #title p {
        color: rgba(60, 152, 189, 1);
        font-size: 35px;
        font-weight: lighter;
        position: absolute;
        top: 200px;
        left: 10px;
        padding-left: 60px;
        padding-right: 40px;
        width: 545px;
        height: 169px;
        margin-top: -60px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #ul-section {
        display: flex;
        color: rgba(60, 152, 189, 1);
        flex-direction: column;
        height: 600px;
        width: 576px;
        padding-top: 423px;
        padding-bottom: 300px;
        margin-top: 20px;
        position: fixed;
        top: 35%;
        left: 0%;
        right: 30%;
        bottom: -50%;
        overflow: scroll;
        justify-content: center;
        align-items: center;
    }
    #ul-section img {
        height: 250px;
        width: 250px;
        margin: 10px;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: -70%;
        margin-bottom: -10%;
        margin-right: 0%;
        padding: 30px;
    }
    #ul-section a{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 200px;
        padding-top: 30px;
        margin-top: 80px;
        margin-left: 10px;
        margin-right: 10px;
    }
    #ul-section h1 {
        color: rgba(60, 152, 189, 1);
        font-size: 20px;
        margin-left: 20%;
        margin-top: 1%;
        margin-right: 20%;
        text-align: center;
    }
    #ul-section p {
        color: rgba(60, 152, 189, 1);
        align-items: center;
        justify-content: center;
        margin-left: 80px;
        margin-top: 2vh;
        margin-right: 50px;
        font-size: 18px;
        display: flex;
        width: 230px;
    }
    .section .prevuse img {
        position: absolute;
        top: 45px;
        bottom: 10px;
        right: 1300px;
    }
    .section .svg {
        height: 3px;
        width: 3px;
        padding-left: 300px;
        padding-top: 50px;
        padding-right: 700px;
        margin: 12px;
    }
    .section .svg1 {
        padding-left: 440px;
        height: 5px;
        width: 5px;
        padding-top: 0px;
        padding-bottom: 95px;
        padding-right: 0px;
        margin-top: 0px;
    }
    .section .svg2 {
        height: 5px;
        width: 5x;
        top: 580px;
        position: fixed;
        padding-right: 350px;
        padding-bottom: 1200%;
        position: absolute;
        top: 530px;
        bottom: 18px;
        margin: 0px;
    }
    .section .svg3 {
        height: 5px;
        width: 5x;
        position: absolute;
        margin-left: 1300px;
        margin-bottom: 60px;
        top: 520px;
        bottom: 30px;
        padding-top: 12px;
        padding-right: 0px;
        padding-bottom: 80px;
        padding-right: 970px;
        display: inline-flex;
        margin: 0px;
    }
}
@media only screen and (max-width: 360px) and (min-width: 100px){
    .section {
        position: absolute;
        background-color: white;
        width: 360px;
        height: 600px;
        color: rgb(81, 187, 228);
        height: 630px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #title {
        align-items: center;
        color: rgba(60, 152, 189, 1);
        margin-left: 0px;
        margin-right: 0;
    }
    #title h1 {
        position: absolute;
        overflow: visible;
        width: 245px;
        height: 169px;
        left: 58px;
        top: 100px;
        font-weight: bold;
        font-size: 40px;
        display: flex;
        justify-content: center;
        color: rgba(255, 194, 0, 1);
        padding-top: 40px;
        font-style: normal;
    }
    #title p {
        color: rgba(60, 152, 189, 1);
        font-size: 25px;
        font-weight: lighter;
        position: absolute;
        overflow: visible;
        width: 300px;
        height: 169px;
        left: 40px;
        margin-top: -20px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #ul-section {
        display: flex;
        color: rgba(60, 152, 189, 1);
        flex-direction: column;
        height: 100%;
        padding-top: 430px;
        margin-top: 50px;
        overflow: scroll;
        justify-content: center;
        align-items: center;
    }
    #ul-section img {
        height: 90%;
        width: 90%;
        margin-left: 0;
        margin-right: 0;
        margin-top: -20%;
        margin-right: 0;
        padding: 20px;
    }
    #ul-section a{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 230px;
        margin-top: 60px;
        margin-left: 10px;
        margin-right: 10px;
    }
    #ul-section h1 {
        color: rgba(60, 152, 189, 1);
        font-size: 20px;
        margin-left: 20%;
        margin-top: 2vh;
        margin-right: 20%;
        text-align: center;
    }
    #ul-section p {
        color: rgba(60, 152, 189, 1);
        align-items: center;
        justify-content: center;
        margin-left: 80px;
        margin-top: 2vh;
        margin-right: 50px;
        font-size: 18px;
        display: flex;
        width: 200px;
    }
    .section .prevuse img {
        position: absolute;
        top: 45px;
        bottom: 10px;
        right: 300px;
    }
    .section .svg {
        height: -5px;
        width: -5x;
        padding-left: 350px;
        padding-top: 20px;
        padding-right: 500px;
        margin: 12px;
    }
    .section .svg1 {
        padding-left: 490px;
        height: 5px;
        width: 5x;
        padding-top: -30px;
        padding-bottom: 85px;
        padding-right: 0px;
        margin-top: 0px;
    }
    .section .svg2 {
        height: 5px;
        width: 5x;
        top: 580px;
        position: fixed;
        padding-right: 350px;
        padding-bottom: 1200%;
        position: absolute;
        top: 530px;
        bottom: 18px;
        margin: 0px;
    }
    .section .svg3 {
        height: 5px;
        width: 5x;
        position: absolute;
        margin-left: 1400px;
        margin-bottom: 60px;
        top: 520px;
        bottom: 30px;
        padding-top: 12px;
        padding-right: 0px;
        padding-bottom: 80px;
        padding-right: 970px;
        display: inline-flex;
        margin: 0px;
    }
}



