.all-section-forgot-password{
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
	height:100vh;
}
.section-one-forgot-password{
	display: flex;
	flex-direction: column;
	flex: 45%;
}
.sec-one-one-forgot-password{
	display: flex;
	justify-content: start;
	flex: 1%;	
}
.img_forgot_password{
	position: relative;
	top: 200%;
	left: 250%;
}
.sec-one-two-forgot-password{
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 99%;
}
.logo-one-forgot-password{
	width: 55%;
	height: 50%;
}
.logo-two-forgot-password{
	display: none;
}
.section-two-forgot-password{
	display: flex;
	flex-direction: column;
	background-image: url('../../assets/fogotone.png');
	background-size: cover; 
	background-repeat: no-repeat;
	flex: 55%;
	text-align: right;
	padding-right: 5%;
	justify-content: center;
}
.sec-two-one-forgot-password{
	
}
.selesh-forgot-password{
	display: none;
}
.imgg_forgot_password{}
.image-forgot-password{
	display: none;
}
.imggg_forgot_password{}
.para-one-and-two-forgot-password{
	display: flex;
	flex-direction: column;
	text-align: right;
}
.para_first_forgot_password{
	font-family: "Bahij Helvetica";
	font-style: normal;
	font-weight: bold;
	font-size: 5.2vw;
	color: rgba(255,255,255,1);
	letter-spacing: -0.4px;
	line-height: 80px;
	padding-left: 15%;
}
.para_second_forgot_password{
	font-family: "Bahij Helvetica";
	font-style: normal;
	font-weight: bold;
	font-size: 1.4vw;
	color: rgba(255,255,255,1);
	letter-spacing: 2.4px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.sec-two-two-forgot-password{
	display: flex;
	flex-direction: column;
	width: 100%;
}
#input_next_forgot_password{
	color:  rgb(255, 255, 255) !important;
	background: none;
	border-bottom: 2px solid rgba(255, 255, 255,0.5);
	width: 66%;
	background-color: rgba(255, 255, 255,0) ;
	outline: none;
	font-size: 2.5vw;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	padding-bottom: 8px;
	
}

#input_next_forgot_password::placeholder{
	font-size: 2vw;
	color:  rgb(255, 255, 255) !important;
	opacity: 0.5;
	
}
.error-and-button-forgot-password{
	display: flex;
	flex-direction: column;
	text-align: left;

}
.error_forgot_password{
	color: rgb(241, 26, 26);
	font-family: "Bahij Helvetica";
	font-weight: bold;
	font-style: normal;
	margin-left: 34%;
}
.button-next-forgot-password{
	margin-left: 34%;
	margin-top: 12px;
	width: 140px;
	height: 35px;
	cursor: pointer;
	font-family: "Bahij Helvetica";
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgb(39, 115, 138);
	letter-spacing: -0.4px;
	border-radius: 50px;
	background-color:white;
	background-image: linear-gradient(#ffffff,
		   #b8d3f2);
		   /* and (min-width: 547px) */
}
@media screen and (max-width: 768px)and (min-width: 415px){
.all-section-forgot-password{
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;	
	height:auto;
}
.section-one-forgot-password{
	display: flex;
	flex-direction: column;
	flex: 50%;
}
.sec-one-one-forgot-password{
	display: flex;
	justify-content: start;
	flex: 1%;	
}
.img_forgot_password{
	display: none;
}
.sec-one-two-forgot-password{
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 100%;
}
.logo-one-forgot-password{
	display: none;
}
.logo-two-forgot-password{
	display: flex;
	width: 30%;
	height: 30%;
	margin-top: 15%;
	margin-bottom: 15%;
}
.section-two-forgot-password{
	display: flex;
	flex-direction: column;
	background-image: none;
	background-size: cover; 
	background-repeat: no-repeat;
	flex: 50%;
	text-align: center;
	padding-right: 0%;
	justify-content: center;
}
.sec-two-one-forgot-password{
	display: flex;
	flex-direction: column;
	/* background-image: url('../../assets/ff.png'); */
	background-size: cover; 
	background-repeat: no-repeat;
	padding-right: 80px;
	/* background-image: linear-gradient(#3289b7 ); */
	background-color: #3289b7;
	border-bottom-left-radius: 15%;
	border-bottom-right-radius: 15%;
	/* object-position: bottom; */ 
	/* width: 100%; */
}
.selesh-forgot-password{
	display: flex;
	width: 100%;
	margin-top: -12%;
	margin-left: 10%;
}
.imgg_forgot_password{

	width: 5vw;
	height: 4vw;
}
.image-forgot-password{
	display: flex;
	width: 100%;
}
.imggg_forgot_password{
	display: flex;
	width: 22%;
	height: 22%;
}
.para-one-and-two-forgot-password{
	display: flex;
	flex-direction: column;
	text-align: right;
	padding-bottom: 6%;

}
.para_first_forgot_password{
	font-family: "Bahij Helvetica";
	font-style: normal;
	font-weight: bold;
	font-size: 9vw;
	color: rgba(255,255,255,1);
	letter-spacing: -0.4px;
	line-height: 80px;
	margin-top: 3%;
	padding-left: 0%;
}
.para_second_forgot_password{
	font-family: "Bahij Helvetica";
	font-style: normal;
	font-weight: bold;
	font-size: 2.3vw;
	color: rgba(255,255,255,1);
	letter-spacing: 2.4px;
	margin-top: 30px;
	/* margin-bottom: 10%; */
}
.sec-two-two-forgot-password{
	display: flex;
	flex-direction: column;
	width: 100%;
	/* align-items: center;
	text-align: center; */
}
#input_next_forgot_password{
	color:  rgb(112, 112, 112,0.9) !important;
	background: none;
	border-bottom: 1.5px solid rgb(112, 112, 112,0.9) !important;;
	width: 80%;
	background-color: rgba(255, 255, 255,0) ;
	outline: none;
	font-size: 4vw;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	margin-top: 2%;
	padding-bottom: 2%;
}

#input_next_forgot_password::placeholder{
	font-size: 3vw;
	color:  rgb(112, 112, 112,0.9) !important;
	opacity: 0.5;
}
.error-and-button-forgot-password{
	display: flex;
	flex-direction: column;
	text-align: center;
    align-items: center;
}
.error_forgot_password{
	color: rgb(241, 26, 26);
	font-family: "Bahij Helvetica";
	font-weight: bold;
	font-style: normal;
	margin-left: 0%;
}
.button-next-forgot-password{
	margin-left: 0%;
	margin-top: 3%;
	width: 80%;
	height: 35px;
	cursor: pointer;
	font-family: "Bahij Helvetica";
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgb(255, 255, 255);
	letter-spacing: -0.4px;
	border-radius: 50px;
	background-color:white;
	background-image: linear-gradient(#47b3dd,
	#2c738f);
		   align-items: center;

}
}
@media screen and (max-width: 414px){
	.all-section-forgot-password{
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;	
		height:auto;
	}
	.section-one-forgot-password{
		display: flex;
		flex-direction: column;
		flex: 50%;
	}
	.sec-one-one-forgot-password{
		display: flex;
		justify-content: start;
		flex: 1%;	
	}
	.img_forgot_password{
		display: none;
	}
	.sec-one-two-forgot-password{
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 100%;
	}
	.logo-one-forgot-password{
		display: none;
	}
	.logo-two-forgot-password{
		display: flex;
		width: 30%;
		height: 30%;
		margin-top: 15%;
		margin-bottom: 15%;
	}
	.section-two-forgot-password{
		display: flex;
		flex-direction: column;
		background-image: none;
		background-size: cover; 
		background-repeat: no-repeat;
		flex: 50%;
		text-align: center;
		padding-right: 0%;
		justify-content: center;
	}
	.sec-two-one-forgot-password{
		display: flex;
		flex-direction: column;
		/* background-image: url('../../assets/ff.png'); */
		background-size: cover; 
		background-repeat: no-repeat;
		padding-right: 50px;
		/* background-image: linear-gradient(#3289b7 ); */
		background-color: #3289b7;
		border-bottom-left-radius: 15%;
		border-bottom-right-radius: 15%;
		/* object-position: bottom; */ 
		/* width: 100%; */
	}
	.selesh-forgot-password{
		display: flex;
		width: 100%;
		margin-top: -15%;
		margin-left: 8%;
	}
	.imgg_forgot_password{
	
		width: 50%;
		height: 60%;
	}
	.image-forgot-password{
		display: flex;
		width: 100%;
	}
	.imggg_forgot_password{
		display: flex;
		width: 27%;
		height: 27%;
	}
	.para-one-and-two-forgot-password{
		display: flex;
		flex-direction: column;
		text-align: right;
		
	
	}
	.para_first_forgot_password{
		font-family: "Bahij Helvetica";
		font-style: normal;
		font-weight: bold;
		font-size:34px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.4px;
		line-height: 80px;
		margin-top: -1%;
		padding-left: 0%;
		line-height: 60px;
	}
	.para_second_forgot_password{
		font-family: "Bahij Helvetica";
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		color: rgba(255,255,255,1);
		letter-spacing: 2.4px;
		margin-top: 20px;
		margin-bottom: 10%;
		letter-spacing: 0.1px;
	}
	.sec-two-two-forgot-password{
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	#input_next_forgot_password{
		color:  rgb(112, 112, 112,0.9) !important;
		background: none;
		border-bottom: 1px solid rgb(112, 112, 112,0.9) !important;;
		width: 70%;
		background-color: rgba(255, 255, 255,0) ;
		outline: none;
		font-size: 20px;
		font-style: normal;
		font-weight: bold;
		text-align: center;
		margin-top: 3%;
		padding-bottom: 3%;
	}
	
	#input_next_forgot_password::placeholder{
		font-size: 15px;
		color:  rgb(112, 112, 112,0.9) !important;
		opacity: 0.5;
		
	}
	.error-and-button-forgot-password{
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
	}
	.error_forgot_password{
		color: rgb(241, 26, 26);
		font-family: "Bahij Helvetica";
		font-weight: bold;
		font-style: normal;
		margin-left: 0%;
	}
	.button-next-forgot-password{
		margin-left: 0%;
		margin-top: 4%;
		width: 70%;
		height: 35px;
		cursor: pointer;
		font-family: "Bahij Helvetica";
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgb(255, 255, 255);
		letter-spacing: -0.4px;
		border-radius: 50px;
		background-color:white;
		background-image: linear-gradient(#47b3dd,
		#2c738f);
			   align-items: center;
	
	}
	}
	@media screen and (max-width: 300px){
		.all-section-forgot-password{
			display: flex;
			flex-direction: column-reverse;
			justify-content: space-between;	
			height:auto;
		}
		.section-one-forgot-password{
			display: flex;
			flex-direction: column;
			flex: 50%;
		}
		.sec-one-one-forgot-password{
			display: flex;
			justify-content: start;
			flex: 1%;	
		}
		.img_forgot_password{
			display: none;
		}
		.sec-one-two-forgot-password{
			display: flex;
			justify-content: center;
			align-items: center;
			flex: 100%;
		}
		.logo-one-forgot-password{
			display: none;
		}
		.logo-two-forgot-password{
			display: flex;
			width: 30%;
			height: 30%;
			margin-top: 15%;
			margin-bottom: 15%;
		}
		.section-two-forgot-password{
			display: flex;
			flex-direction: column;
			background-image: none;
			background-size: cover; 
			background-repeat: no-repeat;
			flex: 50%;
			text-align: center;
			padding-right: 0%;
			justify-content: center;
		}
		.sec-two-one-forgot-password{
				display: flex;
		flex-direction: column;
	
		background-size: cover; 
		background-repeat: no-repeat;
		padding-right: 50px;
		background-color: #3289b7;
		border-bottom-left-radius: 15%;
		border-bottom-right-radius: 15%;
		}
		.selesh-forgot-password{
			display: flex;
			width: 100%;
			margin-top: -15%;
			margin-left: 8%;
		}
		.imgg_forgot_password{
		
			width: 50%;
			height: 50%;
		}
		.image-forgot-password{
			display: flex;
			width: 100%;
		}
		.imggg_forgot_password{
			display: flex;
			width: 27%;
			height: 27%;
		}
		.para-one-and-two-forgot-password{
			display: flex;
			flex-direction: column;
			text-align: right;
			
		
		}
		.para_first_forgot_password{
			font-family: "Bahij Helvetica";
			font-style: normal;
			font-weight: bold;
			font-size:25px;
			color: rgba(255,255,255,1);
			letter-spacing: -0.4px;
			line-height: 80px;
			margin-top: -1%;
			padding-left: 0%;
			line-height: 50px;
		}
		.para_second_forgot_password{
			font-family: "Bahij Helvetica";
			font-style: normal;
			font-weight: bold;
			font-size: 10px;
			color: rgba(255,255,255,1);
			letter-spacing: 2.4px;
			margin-top: 12px;
			margin-bottom: 10%;
			letter-spacing: 0.1px;
		}
		.sec-two-two-forgot-password{
			display: flex;
			flex-direction: column;
			width: 100%;
		}
		#input_next_forgot_password{
			color:  rgb(112, 112, 112,0.9) !important;
			background: none;
			border-bottom: 1px solid rgb(112, 112, 112,0.9) !important;;
			width: 70%;
			background-color: rgba(255, 255, 255,0) ;
			outline: none;
			font-size: 20px;
			font-style: normal;
			font-weight: bold;
			text-align: center;
			margin-top: 3%;
			padding-bottom: 3%;
		}
		
		#input_next_forgot_password::placeholder{
			font-size: 15px;
			color:  rgb(112, 112, 112,0.9) !important;
			opacity: 0.5;
			
		}
		.error-and-button-forgot-password{
			display: flex;
			flex-direction: column;
			text-align: center;
			align-items: center;
		}
		.error_forgot_password{
			color: rgb(241, 26, 26);
			font-family: "Bahij Helvetica";
			font-weight: bold;
			font-style: normal;
			margin-left: 0%;
		}
		.button-next-forgot-password{
			margin-left: 0%;
			margin-top: 4%;
			width: 70%;
			height: 35px;
			cursor: pointer;
			font-family: "Bahij Helvetica";
			font-style: normal;
			font-weight: bold;
			font-size: 20px;
			color: rgb(255, 255, 255);
			letter-spacing: -0.4px;
			border-radius: 50px;
			background-color:white;
			background-image: linear-gradient(#47b3dd,
			#2c738f);
				   align-items: center;
		
		}
	}
