.units {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    height: 625px;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgba(60, 155, 200, 1);
    text-align: center;
}

.t-section .svgArrow {
    margin-top: -30px;
    margin-right: 1000px;

}

.t-section {
    padding: 70px;
}

.t-section h1 {
    color: white;
}

.t-section p {
    padding: 10px;
    color: white;
    font-size: 25px;
}

.unitWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
}

.m-section {
    /* display: flex;
    flex-direction:row;  
     align-items: center;
    margin: 20px;
    width: 80%;  */
    /* height: 200px; */
    /* overflow-x: scroll; */
    /* overflow-x: scroll;  */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    overflow-x: hidden;

}

.m-section #ul {
    /* display: flex;
    flex-direction:row;  */
    /* align-items: center; */
    /* width: 500px;
    overflow-x: scroll; 
     */
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    margin-right: 70px;



}

.m-section a:hover {
    background-color: rgba(60, 155, 200, 1);
    ;
}

.m-section a {
    background-color: rgba(255, 255, 255, 1);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 160px;
    margin: 12px;
    border: none;
    border-radius: 15px;

    /* margin: 12px;
    background-color: #0F53A1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width:100%;
    height: 300px;   
    border-radius: 30px; */
}

.m-section h3 {

    color: rgba(60, 152, 189, 1);
    margin-top: 10px;

    /* padding-bottom: 15px; */
    /* font-family: Bahij Helvetica Neue; */
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    width: 140px;
}

.m-section img {
    width: 60px;
    height: 65px;
}

.last {
    display: flex;
    flex-direction: row;
    height: 90px;
}

.last h4 {
    font-style: normal;
    font-weight: lighter;
    font-size: 30px;
    opacity: 0.5;
    padding: 70px;
    text-align: center;
    font-family: Bahij Helvetica Neue;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    letter-spacing: -0.4px;

}

.unitWrapper .m-sectionn #ul .arrow {
    background-color: red;
}

.svg {
    margin-top: -20px;
    margin-right: -400px;
    z-index: 50;

}

@media screen and (min-width: 500px) {}