/* computer styles */
.Home-wrapper {
  height: 85%;
  width: 100%;
  background-image: linear-gradient(to right,
      rgb(45, 132, 167),
      rgba(60, 152, 189, 1));
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  margin: 0px;
  padding: 0px;
}

.all_home {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.section_one_home {
  display: flex;
  justify-content: center;
  align-items: end;
  flex: 50%;
}

.section_one_image_one_home {
  margin-top: 2vw;
  width: 17.5vw;
  height: 16vw;
}

.section_two_home {
  flex: 20%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.section_two_image_one_home {
  width: 11vw;
  height: 8vw;
}

.section_two_home img {
  margin-left: 10vw;
}

.section_two_paragraph_home {
  text-align: center;
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
  font-family: "Bahij Helvetica";
  font-size: 3vw;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.4px;
  margin-left: 2.1vw;
  margin-bottom: 1vw;
}

.section_two_para_two_home {
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
  overflow: hidden;
  font-family: "Bahij Helvetica";
  font-style: normal;
  font-weight: bold;
  font-size: 3.5vw;
  color: rgba(255, 255, 255, 1);
}

.section_two_image_two_home {
  width: 13vw;
  height: 11.1vw;
}

.section_three_home {
  justify-content: flex-end !important;
  align-items: center;
  flex: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: -10px;
}

.section_three_image_one_home {
  width: 100%;
  height: 90px;
}

.section_three_image_two_home {
  position: absolute;
  display: inline-table;
  margin-top: -65px;
}





/* mobile style */
@media only screen and (max-width: 769px) and (min-height:1px) {
  .Home-wrapper {
    height: 90%;
    width: 100%;
    background-image: linear-gradient(to right,
        rgb(45, 132, 167),
        rgba(60, 152, 189, 1));
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
  }

  .all_home {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .section_one_home {
    display: flex;
    justify-content: center;
    align-items: end;
    flex: 50%;
  }

  .section_one_image_one_home {
    margin-top: 2vw;
    width: 40vw;
    height: 36vw;
  }

  .section_two_home {
    flex: 20%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: start;
  }

  .section_two_image_one_home {
    display: none;
  }

  .section_two_paragraph_home {
    text-align: center;
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
    font-family: "Bahij Helvetica";
    font-size: 7vw;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.4px;
    margin-left: 0px;
    margin-bottom: 1vw;
    font-style: normal;
    font-weight: bold;
  }

  .section_two_para_two_home {
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
    font-family: "Bahij Helvetica";
    font-style: normal;
    font-weight: bold;
    font-size: 7vw;
    color: rgba(255, 255, 255, 1);
  }

  .section_two_image_two_home {
    display: none;
  }

  .section_three_home {
    justify-content: flex-end !important;
    align-items: center;
    flex: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: -10px;
  }

  .section_three_image_one_home {
    width: 100%;
    height: 90px;
  }

  .section_three_image_two_home {
    position: absolute;
    display: inline-table;
  }
}

@media only screen and (max-width: 400px) and (min-height:1px) {
  .Home-wrapper {
    height: 82%;
    width: 100%;
    background-image: linear-gradient(to right,
        rgb(45, 132, 167),
        rgba(60, 152, 189, 1));
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
  }

  .all_home {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .section_one_home {
    display: flex;
    justify-content: center;
    align-items: end;
    flex: 50%;
  }

  .section_one_image_one_home {
    margin-top: 2vw;
    width: 43vw;
    height: 39vw;
  }

  .section_two_home {
    flex: 20%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: start;
  }

  .section_two_image_one_home {
    display: none;
  }

  .section_two_paragraph_home {
    text-align: center;
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
    font-family: "Bahij Helvetica";
    font-size: 7vw;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.4px;
    margin-left: 0px;
    margin-bottom: 1vw;
    font-style: normal;
    font-weight: bold;
  }

  .section_two_para_two_home {
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
    font-family: "Bahij Helvetica";
    font-style: normal;
    font-weight: bold;
    font-size: 7vw;
    color: rgba(255, 255, 255, 1);
  }

  .section_two_image_two_home {
    display: none;
  }

  .section_three_home {
    justify-content: flex-end;
    align-items: center;
    flex: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: -10px;
  }

  .section_three_image_one_home {
    width: 100%;
    height: 90px;
  }

  .section_three_image_two_home {
    margin-left: -3vw;
  }
}

@media screen and (min-height: 1138px) {
  .Home-wrapper {
    height: 90%;
    width: 100%;
    background-image: linear-gradient(to right,
        rgb(45, 132, 167),
        rgba(60, 152, 189, 1));
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
  }

  .all_home {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .section_one_home {
    display: flex;
    justify-content: center;
    align-items: end;
    flex: 50%;
  }

  .section_one_image_one_home {
    margin-top: 2vw;
    width: 40vw;
    height: 36vw;
  }

  .section_two_home {
    flex: 20%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: start;
  }

  .section_two_image_one_home {
    display: none;
  }

  .section_two_paragraph_home {
    text-align: center;
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
    font-family: "Bahij Helvetica";
    font-size: 7vw;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.4px;
    margin-left: 0px;
    margin-bottom: 1vw;
    font-style: normal;
    font-weight: bold;
  }

  .section_two_para_two_home {
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
    font-family: "Bahij Helvetica";
    font-style: normal;
    font-weight: bold;
    font-size: 7vw;
    color: rgba(255, 255, 255, 1);
  }

  .section_two_image_two_home {
    display: none;
  }

  .section_three_home {
    justify-content: flex-end !important;
    align-items: center;
    flex: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: -10px;
  }

  .section_three_image_one_home {
    width: 100%;
    height: 90px;
  }

  .section_three_image_two_home {
    position: absolute;
    display: inline-table;
  }
}