.Home-wrapper{
height: 83%;
width: 100%;
}
/* .full_header .mobile {
    display: none;
  } */
.home {
    background-image: linear-gradient(
      to right,
      rgb(45, 132, 167),
      rgba(60, 152, 189, 1)
    );
    height:100%;
    width: 100%;
    position: relative;
  }
  .home_svg {
    fill: rgba(60, 152, 189, 1);
    overflow: visible;
    top: 100%;
    position: absolute;
    display: flex;
    width: 4%;
    height: 4%;
    left: 50%;
  }
  .images_paragraph_home {
    align-items: center;
    text-align: center;
    width: 100%;
    height: 82%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .images_paragraph_home .imgg_home {
    /* position: relative;
    top: 100px;
    left: -10vw;
    display: inline-block;
    width: 13vw;
    height: 20vh; */
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .images_paragraph_home .imgg_home img{
    width: 50%;
    height: 30%;
    margin-bottom: 10%;
  }
  .images_paragraph_home .IconAndText .img_one_home {
    /* margin-top: 5vh;
    width: 20vw;
    margin-left: 5w; */
    width: 50%;
    height: 60%;

  }
  .images_paragraph_home .IconAndText{
    width: 50%;
    height: 90%;

  }
  /* .images_paragraph_home .imggg_home {
    width: 30%;
    height: 100%;
  } */
  .paragraph_home {
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
    overflow: hidden;
    /* line-height: 92px; */
    font-family: "Bahij Helvetica";
    font-size: 3.5vw;
    color: rgba(255, 255, 255, 1);
    letter-spacing: -0.4px;
   
    /* position: relative;
    top: -3vh; */
  }
  .paragraph_1_home {
    /* position: relative;
    top: -6vh; */
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
    overflow: hidden;
    /* line-height: 92px; */
    font-family: "Bahij Helvetica";
    font-style: normal;
    font-weight: bold;
    font-size: 4vw;
    color: rgba(255, 255, 255, 1);
    letter-spacing: -0.4px;
  }
  /* #home_svg_one {
      fill: rgba(255,255,255,1);
      width: 100%;
      height: 10vh;
  } */
  .home_svg_one {
    /* fill: rgba(255, 255, 255, 1); */
    width: 100%;
    height: 20%;
  }
  @media only screen and (max-width: 700px){
  .images_paragraph_home .imgg_home img{
  display: none;
  }
  .images_paragraph_home .IconAndText{
    width: 100%;
    height: 90%;

  }
  .paragraph_home{
    font-size: 6.5vw;
  }
  .paragraph_1_home{
    font-size: 7vw;
  }
}
@media only screen and (max-width: 500px){
  .images_paragraph_home .IconAndText .img_one_home {
    width: 70%;
    height: 50%;

  }
}
@media only screen and (min-height: 650px){
  .home_svg {
    top: 90%;
  }
}