* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#forgot_password {
    position: absolute;
    width: 100%;
    height:  100%;
    background-color: rgba(255,255,255,1);
    overflow: hidden;

}

#Rectangle_279_z {
    fill: url(#Rectangle_279_z);
    stroke: rgba(112,112,112,1);
}
#background-svg {
    width: 910px;
    height: 154px;
    position: absolute;
    left: -550px;
    top: 130px;
    overflow: visible;
    transform: matrix(1,0,0,1,803,-37) rotate(-90deg);
    transform-origin: center;
}

/* #button-next {
    margin-top: 12px;
    width: 140px;
    height: 35px;
    cursor: pointer;
    font-family: "Bahij helvetica";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgb(39, 115, 138);
    letter-spacing: -0.4px;
    border-radius: 50px;
} */
#n____ {
    left: 800px;
    top: 100px;
    position: absolute;
    overflow: hidden;
    height: 250px;
    line-height: 117px;
    text-align: right;
    font-family: "Bahij helvetica";
    font-style: normal;
    font-weight: 12px;
    font-size: 60px;
    color: rgba(255,255,255,1);
    letter-spacing: -0.4px;
    
}
.u______{
    left: 810px;
    top: 160px;
    position: absolute;
    overflow: hidden;
    line-height: 117px;
    text-align: right;
    font-family: "Bahij helvetica";
    font-style: normal;
    font-weight:12px;
    font-size: 60px;
    color: rgba(255,255,255,1);
    letter-spacing: -0.4px;
}
.u__{
    left: 1130px;
    top: 220px;
    position: absolute;
    overflow: hidden;
    line-height: 117px;
    text-align: right;
    font-family: "Bahij helvetica";
    font-style: normal;
    font-weight:12px;
    font-size: 60px;
    color: rgba(255,255,255,1);
    letter-spacing: -0.4px;
}
#n______ {
    left: 430px;
    top: 320px;
    position: absolute;
    overflow: visible;
    width: 806px;
    height: 53px;
    line-height: 117px;
    margin-top: -48.5px;
    text-align: right;
    font-family: "Bahij helvetica";
    font-style: normal;
    font-weight: 18px;
    font-size: 20px;
    color: rgba(255,255,255,1);
    letter-spacing: 2.4px;
}
#input_next {

    color: white;
    display: inline-block;
    background: none;
    width: 425px;
    padding-bottom: 8px ;
    margin: 8px ;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    text-align: right;
    fill: transparent;
  outline: none;
}
.input_next{

}
#ooo{
    position: relative;
    top: 370px;
    left: 800px;
}
#logoo {
    position: absolute;
    width: 36px;
    height: 22px;
    left: 140px;
    top: 160px;
    overflow: visible;
    cursor: pointer;
}
#logo{
    width: 350px;
    height: 300px;
}
#img{
    position: relative;
    top: 40px;
    left: 70px;
}
