.full_book {
    display: flex;
    flex-direction: column;
    background-color: #DAECF2;
    height: 90%;
}

.full_book #Books {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    width: 98%;
}

.full_book #Books .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: "Bahij helvetica";
    color: #3C98BD;
    width: 90%;
    /* flex: 1; */
    height:40%;
}

.full_book #Books .top .first-svgs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex:15%;
    cursor: pointer;
}

.full_book #Books .top .first-section {
    flex: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /* background-color: aqua; */
    height: 60%;
}

.full_book #Books .top .first-section h1 {
    font-family: "Bahij helvetica";
    font-size: 40px;
}

.full_book #Books .top .first-section p {
    font-family: "Bahij helvetica";
    font-size: 25px;
}

.full_book #Books .top .third-section {
    flex: 15%;
    /* background-color: antiquewhite; */
}

.full_book #Books .middlebook {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* flex: 1; */
    height: 40%;
}

.titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: "Bahij helvetica";
}

.full_book #Books .middlebook .arrrow {
    flex: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.full_book #Books .middlebook #ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 80%;
    /* margin: 20px; */
    overflow-x: hidden;

}

.full_book #Books .middlebook #ul #link {
    margin: 12px;
    background-image: linear-gradient(#0F53A1, #3C98BD);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    flex: 1;
    height: 270px;

    /* height: 270px; */
    border-radius: 30px;
}

.full_book #Books .middlebook #ul #link:hover {

    width: 35%;
    background-color: #3c98bd;
}

.full_book #Books .middlebook #ul #link img {
    height: 120px;
    width: 120px;
    /* height: 30%;
    width: 40%; */
    /* padding-bottom: 10px;
    border-bottom: 2px solid lightgray; */
    border-bottom: 2px solid lightgray;
}

.full_book #Books .bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* flex: 1; */
    height: 30%;
    width: 90%;
}

.full_book #Books .bottom .p-section p {
    font-size: 25px;
    font-family: "Bahij helvetica";
    color: #707070;
    text-align: center;
}

.full_book .MBooks {
    display: none;
}

@media screen and (max-width: 768px) {
    .full_book #Books {
        display: none;
        flex: 0;
    }

    .full_book .MBooks {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex: 1;
        /* background-color: red; */
        min-height:50px;
    }

    .full_book .MBooks .TopB {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        flex:1;
    }

    .topp h1 {
        font-family: "Bahij helvetica";
        color: #3C98BD;
    }

    .topp p {
        font-size: 20px;
        font-family: "Bahij helvetica";
        color: #3C98BD;
    }

    .titlesm {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-family: "Bahij helvetica";
    }

    .full_book .MBooks .TopB .imgbm2 {
        display: none;
    }

    .full_book .MBooks .TopB .laptop-right {
        display: flex;
        /* background-color: #707070; */
        /* background-color: red; */
    }

    .full_book .MBooks .TopB .imagebm {
        display: none;
    }

    .full_book .MBooks .TopB .arrowSvg {
        display: flex;
    }

    .full_book .MBooks .TopB .Mbarrow {
        display: none;
    }

    .full_book .MBooks .TopB .topp {
        font-size: 17px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        text-align: center;
        height:100%; 
    }
    .full_book .MBooks .middlebook {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width:80%;
        flex:1;
    }
.titlesm {
    font-family: "Bahij helvetica";
    text-align:center;
  font-size:12px;
  width: 100%;
}
    .full_book .MBooks .middlebook .arrow {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow-x: hidden;
    }
    .arrow img {
        width:12px;
    }

    .full_book .MBooks .middlebook  #ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        flex:3;
        overflow-x:scroll;
    }

   

    /* .full_book #Books .middlebook #ul #link img {
                    height: 100px;
                    width: 100px;
                   
                } */
    #linkM {
        margin: 2%;
        background-image: linear-gradient(#0F53A1, #3C98BD);
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content:center;
        padding:20%;
        height:150px;
        border-radius: 10px;
        border-radius:15px;
    }

    .full_book .MBooks .middlebook #ul a .MBicon {
        width: 60px;
        height:60px;
        text-align:start;
        border-bottom:1px solid lightgray;
    }

    .full_book .MBooks .ButtomB {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: 90%;
        flex: 1;
    }

    .full_book #Books .bottom .p-section p {
        font-size: 25px;
        font-family: "Bahij helvetica";
        text-align: center;
    }

    topp h1 {
        font-family: "Bahij helvetica";
        color: #3C98BD;
    }

    .p {
        font-size: 20px;
        font-family: "Bahij helvetica";
        color: #707070;
        text-align: center;
    }

    .full_book .MBooks .ButtomB .laptop-right {
        display: flex;
    }

    .full_book .MBooks .ButtomB .mobilebb3 {
        display: none;
    }

    .full_book .MBooks .ButtomB .last-svg {
        display: flex;
    }

    .full_book .MBooks .ButtomB .imagemb {
        display: none;
    }
    .full_book #Books .middlebook {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        /* flex: 1; */
        height: 40%;
        overflow-x:hidden;
        /* background-color: red; */
    }
    .Mbarrow {
        margin-bottom:30%;
        margin-left:4%;
        cursor: pointer;
    }
}

@media screen and (max-width: 736px) {
    .full_book .MBooks .TopB .imgbm2 {
        display: flex;
    }

    .full_book .MBooks .TopB .laptop-svg {
        display: none;
    }

    .full_book .MBooks .TopB .laptop-right {
        display: none;
    }

    .full_book .MBooks .TopB .imagebm {
        display: flex;
    }

    .full_book .MBooks .TopB .arrowSvg {
        display: none;
    }

    .full_book .MBooks .TopB .Mbarrow {
        display: flex;
    }

    .full_book .MBooks .ButtomB .laptop-right {
        display: none;
    }

    .full_book .MBooks .ButtomB .mobilebb3 {
        display: flex;
    }

    .full_book .MBooks .ButtomB .last-svg {
        display: none;
    }

    .full_book .MBooks .ButtomB .imagemb {
        display: flex;
    }

    .full_book .MBooks .TopB .topp {
        font-size: 15px;
    }

    .p {
        font-size: 20px;
        font-family: "Bahij helvetica";
        color: #707070;
        text-align: center;
    }
    /* .Mbarrow {
        margin-bottom:10%;
        margin-left:0%;
        cursor: pointer;
        background-color: black;
    } */
    #linkM {
        margin: 2%;
        background-image: linear-gradient(#0F53A1, #3C98BD);
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content:center;
        padding:10%;
        height:150px;
        border-radius: 10px;
        border-radius:15px;
    }

}

@media screen and (max-width: 438px) {
    .full_book .MBooks .TopB .topp h1 {
        font-size: 15px;

    }

    .full_book .MBooks .ButtomB .p {
        font-size: 15px;
        margin: 2%;
    }

    .full_book .MBooks .TopB .topp p {
        font-size: 20px;
        align-items: center;
    }
}

@media screen and (max-width: 367px) {
    .full_book .MBooks .TopB .topp h1 {
        font-size: 18px;

    }

    .full_book .MBooks .ButtomB .p {
        font-size: 18px;
    }

    .full_book .MBooks .TopB .topp p {

        font-size: 18px;
    }
}

@media screen and (max-width: 298px) {
    .full_book .MBooks .TopB .topp h1 {
        font-size: 14px;

    }

    .full_book .MBooks .ButtomB .p {
        font-size: 14px;
    }

    .full_book .MBooks .TopB .topp p {

        font-size: 14px;
    }
}

@media screen and (max-height: 342px) and (max-width: 768px) {
    .full_book {
        height: 342px;
    }
   
}

@media screen and (max-height: 520px) {
    .full_book {
        height: 600px;
    }
    .full_book #Books .top .first-section h1 {
        font-family: "Bahij helvetica";
        font-size:25px;
    }
    
    .full_book #Books .top .first-section p {
        font-family: "Bahij helvetica";
        font-size:20px;
    }
    
}