* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
.all_singup_mobile {
    display: none;
}

.full-signUP {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.full-signUP #all_singup {
    background-image: linear-gradient(#3c98bd, #0f53a1);
    border-bottom-left-radius: 270px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90%;

}

.full-signUP #all_singup #Group_singup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 60%;
    height: 90%;
    /* background-color: green; */
}

.full-signUP #all_singup #Group_singup #imgg_singup {
    width: 80%;
    height: 80%;
}

.full-signUP #all_singup #Group_singup .all_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.full-signUP #all_singup #Group_singup .all_buttons .button_singup {

    background-image: linear-gradient(to right, rgb(31, 111, 143), rgba(60, 152, 189, 1));
    border-color: white;
    margin: 2%;
    flex: 1;
    border-radius: 50px;
    border-width: 1px;
    font-family: "Bahij Helvetica";
    font-size: 20px;
    /* font-weight: bold; */
    box-shadow: 0px 0px 5px #aaaaaa;
    cursor: pointer;
    color: white;
    text-align: center;
}

.full-signUP #all_singup .Sign_up_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 40%;
    width: 90%;
    height: 90%;
    /* background-color: red; */
    margin-left: 15%;
    /* margin-right: 10%; */
}

.full-signUP #all_singup .Sign_up_form #login-button {
    z-index: 100;
    width: 80%;
    flex: 10%;
    border-radius: 50px;
    font-family: "Bahij Helvetica";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.full-signUP #all_singup .Sign_up_form #login-button .up_singup {
    /* padding: 5px 0 0 37px; */
    color: rgba(60, 152, 189, 1);
    font-size: large;
    font-weight: 12px;
    /* display: inline-block; */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 50px;
    font-family: "Bahij Helvetica";
    /* font-weight: bold; */
}

.full-signUP #all_singup .Sign_up_form #login-button .in_singup {
    /* padding-top: 5px; */
    align-items: center;
    border-radius: 50px;
    flex: 1;
    height: 100%;
    /* background-color: rgba(60, 152, 189, 1); */
    color: white;
    font-size: large;
    font-family: "Bahij Helvetica";
    font-weight: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* font-weight: bold; */
}

.full-signUP #all_singup .Sign_up_form #cantainer_singup {
    flex: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.full-signUP #all_singup .Sign_up_form #cantainer_singup form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    flex: 80%;
    /* background-color: #aaaaaa; */
}

.full-signUP #all_singup .Sign_up_form #cantainer_singup form .first_input_section_singup,
.full-signUP #all_singup .Sign_up_form #cantainer_singup form .second_input_section_singup {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    flex: 3;

}

.full-signUP #all_singup .Sign_up_form #cantainer_singup form .first_input_section_singup .field,
.full-signUP #all_singup .Sign_up_form #cantainer_singup form .second_input_section_singup .field {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;



}

.full-signUP #all_singup .Sign_up_form #cantainer_singup form .first_input_section_singup .field #input_singup,
.full-signUP #all_singup .Sign_up_form #cantainer_singup form .second_input_section_singup .field #inputt_singup {
    color: #ccc;
    font-family: "Bahij Helvetica";
    background: none;
    width: 100%;
    flex: 1;
    border-bottom: 2px solid #ccc;
    box-sizing: border-box;
    text-align: right;
    fill: transparent;
    outline: none;

}

.full-signUP #all_singup .Sign_up_form #cantainer_singup form .first_input_section_singup .field .error_singup,
.full-signUP #all_singup .Sign_up_form #cantainer_singup form .second_input_section_singup .field .error_singup {
    color: red;
    font-family: "Bahij Helvetica";
    height: 3px;
    text-align: right;
    font-size: 80%;
    width: 100%;
}

.full-signUP #all_singup .Sign_up_form #cantainer_singup form .acount_button_singuo {
    width: 100%;
    flex: 1;
    margin-top: 8%;
    border-radius: 50px;
    background-color: rgba(60, 152, 189, 1);
    background-image: linear-gradient(to left,#3c98bd,
            #0f53a1);
    color: white;
    font-family: "Bahij Helvetica";
    font-size: large;
    font-weight: 12px;
}

.p_singup {
    color: silver;
    font-family: "Bahij Helvetica";
    flex: 1%;
    display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: end;
        width: 100%;
        margin-bottom: 1%;
     
}
 .p_singup::before,
.p_singup::after{
content: "";
border-bottom: 1px solid silver;
width:35%;
margin-bottom: 2%;
margin: 1%;
}
.full-signUP #all_singup .Sign_up_form #cantainer_singup .Google_SignUP {
    width: 95%;
    flex:5%;
    border-radius: 50px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.full-signUP #all_singup .Sign_up_form #cantainer_singup .Google_SignUP .google_icon_singup,
.full-signUP #all_singup .Sign_up_form #cantainer_singup .Google_SignUP .google_p_singup {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

.full-signUP #all_singup .Sign_up_form #cantainer_singup .Google_SignUP img {
    flex:10%;
    margin-left:2%;
    height:70%;
}

.full-signUP #all_singup .Sign_up_form #cantainer_singup .Google_SignUP .google_p_singup {
    flex:90%;
    font-size:15px;
    font-weight:20px;
    /* font-weight: bold; */
    font-family: "Bahij Helvetica";
    color: rgb(148, 144, 144);
    margin-left:25%;
    padding: 0%;
}
@media screen and (max-height: 425px) {
.full-signUP {
        height: 420px;
        
    }
}
@media screen and (min-height: 650pX){
.full-signUP #all_singup .Sign_up_form{
    height: 70%;
}
.full-signUP #all_singup #Group_singup{
    height: 70%;
}
}
@media screen and (max-width: 1024px) {
    .full-signUP #all_singup #Group_singup #imgg_singup {
        width: 70%;
        height: 50%;
    }
        .full-signUP #all_singup .Sign_up_form #login-button{
            width: 100%;
        }
        .full-signUP #all_singup .Sign_up_form #cantainer_singup{
            width: 100%;
        }
        .full-signUP #all_singup {
            border-bottom-left-radius: 200px;
        }
}

@media screen and (max-width: 977px) {
    .full-signUP #all_singup #Group_singup .all_buttons .button_singup {
        font-size: 15px;
    }
.full-signUP #all_singup .Sign_up_form #cantainer_singup form .first_input_section_singup .field .error_singup,
.full-signUP #all_singup .Sign_up_form #cantainer_singup form .second_input_section_singup .field .error_singup{
    font-size: 60%;
}
.full-signUP #all_singup .Sign_up_form #cantainer_singup .Google_SignUP .google_p_singup {
    flex:90%;
    font-size:15px;
    font-weight:20px;
    /* font-weight: bold; */
    font-family: "Bahij Helvetica";
    /* color: rgb(148, 144, 144); */
    margin-left:30%;
    padding: 0%;
}
 
}

@media screen and (max-width: 898px) {
    .full-signUP #all_singup .Sign_up_form #cantainer_singup .Google_SignUP .google_p_singup {
        font-size:80%;
    }

    .full-signUP #all_singup .Sign_up_form {
        height: 70%;
    }

    .full-signUP #all_singup .Sign_up_form #login-button .up_singup,
    .full-signUP #all_singup .Sign_up_form #login-button .in_singup {
        font-size: 15px;
    }

    .full-signUP #all_singup .Sign_up_form #cantainer_singup form input::placeholder,
    .full-signUP #all_singup .Sign_up_form #cantainer_singup form .acount_button_singuo,
    .full-signUP #all_singup .Sign_up_form #cantainer_singup .p_singup {
        font-size:10px;

    }

    .full-signUP #all_singup .Sign_up_form #cantainer_singup .p_singup {
        width: 100%;
        font-size: 10px;
    }
         .full-signUP #all_singup {
             border-bottom-left-radius: 190px;
         }

    /* .full-signUP #all_singup #Group_singup #imgg_singup {
        width: 80%;
        height: 60%;
    } */
}

/* Mobile*/
@media screen and (max-width: 700px) {
    .full-signUP #all_singup {
        display: none;
    }

    .full-signUP .all_singup_mobile {

        background-image: linear-gradient(to right, rgb(31, 111, 143), rgba(60, 152, 189, 1));
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .full-signUP .all_singup_mobile .logo_mobile {
        flex: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .full-signUP .all_singup_mobile .langauge {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 60%;
        flex: 10%;
    }

    .full-signUP .all_singup_mobile .langauge .button_singup {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* position: relative;
        top: 0px;
        right: 0px; */
        width: 30%;
        /* margin-left: 20px; */
        background-image: linear-gradient(to left,#3C98BD, #0F53A1);
        border-color: white;
        /* padding: 4px 0px 4px 50px; */
        /* text-align: center; */
        border-radius: 50px;
        border-width: 2px;
        font-family: "Bahij Helvetica";
        font-size: 15px;
        /* font-weight: bold; */
        box-shadow: 0px 0px 5px white;
        cursor: pointer;
        color: white;
        /* display: inline-block; */
        /* text-align: center; */
        height: 80%;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm {
        flex: 75%;
        border-top-right-radius: 70px;
        border-top-left-radius: 70px;
        width: 100%;
        background-color: rgba(255, 255, 255, 1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding: 5%; */
        box-shadow: 0px -2px 5px gray;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #login-button {
        margin-top: 2%;
        width: 55%;
        flex: 10%;
        border-radius: 50px;
        font-family: "Bahij Helvetica";
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #FFF;
        border: 1px solid silver;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #login-button .up_singup {
        color: linear-gradient(#3C98BD, #0F53A1);
        font-size: small;
        /* font-weight: 12px; */
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        /* font-weight: bold; */
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #login-button .in_singup {
        border-radius: 50px;
        background-image: linear-gradient(#3C98BD, #0F53A1);
        color: white;
        color: linear-gradient(#3C98BD, #0F53A1);
        font-size: small;
        font-weight: 12px;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* font-weight: bold; */
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup {
        flex: 88%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 55%;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width:100%;
        flex: 90%;
        /* background-color: bisque; */
        /* margin-left: 5%;
        margin-right: 5%; */
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .first_input_section_singup,
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .second_input_section_singup {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        flex: 3;
        /* background-color: green; */
    }
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .first_input_section_singup .field,
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .second_input_section_singup .field{
    width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* background-color: red; */
        
    }
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .first_input_section_singup .field #input_singup,
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .second_input_section_singup .field #inputt_singup{
    color: #ccc;
    font-family: "Bahij Helvetica";
    background: none;
    width: 100%;
    flex: 1;
    border-bottom: 2px solid #ccc;
    box-sizing: border-box;
    text-align: right;
    fill: transparent;
    outline: none;
    /* padding-left: 2.5%;
    padding-right: 2.5%; */
    font-size: 10px;
    
    }
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .first_input_section_singup .field #input_singup::placeholder,
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .second_input_section_singup .field  #inputt_singup::placeholder{
    color: silver;
    /* font-weight: bold; */
    }

   .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .first_input_section_singup .field .error_singup,
   .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .second_input_section_singup .field .error_singup{
    color: red;
    font-family: "Bahij Helvetica";
    height: 3px;
    font-size: 80%;

    text-align: right;
    width: 100%;
    }
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .acount_button_singuo{
        margin-top: 5%;
    width: 100%;
        flex: 1;
        border-radius: 50px;
        background-color: rgba(60, 152, 189, 1);
        background-image: linear-gradient(to left,#3c98bd,
                #0f53a1);
        color: white;
        font-family: "Bahij Helvetica";
        font-size: large;
        /* font-weight: bold; */
    }
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup .p_singup {
        color: silver;
        font-family: "Bahij Helvetica";
        flex: 1%;
        display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: end;
            width: 100%;
            margin-bottom: 1%;
            font-weight: bold;
    }
   .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup .p_singup::before,
   .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup .p_singup::after{
    content: "";
    border-bottom: 1px solid silver;
    width:35%;
    margin-bottom: 2%;


   }
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup .google_button_singup {
        flex: 8%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width:95%;
        margin-bottom: 5%;
        border-radius: 30px;
        background-color: #FFF;
        border: 1px solid silver;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup .google_button_singup .google_icon_singup {
        flex: 1;
    }
    .google_button_singup img {
      margin-left:2%;
      height:70%;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup .google_button_singup .google_p_singup {
        flex:3;
        /* font-weight: bold; */
        color: silver;
        font-size:15px;  
        margin-right:2%;
        text-align: end;
    }
}
@media screen and (max-width: 600px){
        .full-signUP .all_singup_mobile .langauge .button_singup{
            width: 40%;
        }
        .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form{

        }
        .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .first_input_section_singup .field .error_singup,
        .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .second_input_section_singup .field .error_singup {
         font-size: 60%;
        }
        .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup .google_button_singup {
            flex: 8%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 95%;
            margin-bottom:0%;
            border-radius: 30px;
            background-color: #FFF;
            border: 1px solid silver;
        }
/* .full-signUP .all_singup_mobile .bottom_Signupm #login-button {
        flex: 8%;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup {
        flex: 87%;
    } */
}
@media screen and (max-width: 450px) {
    .full-signUP .all_singup_mobile .langauge .button_singup {
        font-size: 14px;
        width: 40%;
        height: 60%;
    }
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form{
    flex: 80%;
    }
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup .p_singup{
      flex: 5%;      
    }
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup .google_button_singup{
     flex: 10%;
    margin-bottom: 5%;
    }
    .full-signUP .all_singup_mobile .bottom_Signupm {
        border-top-right-radius: 50px;
        border-top-left-radius: 50px;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup .google_button_singup .google_p_singup {
        font-size: 80%;
    }
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .first_input_section_singup .field .error_singup,
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .second_input_section_singup .field .error_singup{
            font-size: 50%;
    }
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .acount_button_singuo{
            font-size: 70%;
            
    }
    .full-signUP .all_singup_mobile .bottom_Signupm #login-button{
        flex: 8%;
    }
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup{
        flex: 87%;
    }
}