/* compute styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

.all_singup_mobile {
    display: none;
}

.full-signUP {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 560px;
    width: 100%;
}

.full-signUP #all_singup {
    background-image: linear-gradient(#3c98bd, #0f53a1);
    border-bottom-left-radius: 270px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90%;
}

.full-signUP #all_singup #Group_singup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 60%;
}

.full-signUP #all_singup #Group_singup #imgg_singup {
    width: 40vw;
    height: 30vw;
}

.full-signUP #all_singup #Group_singup .all_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.full-signUP #all_singup #Group_singup .all_buttons .button_singup {
    background-image: linear-gradient(to right, rgb(31, 111, 143), rgba(60, 152, 189, 1));
    border-color: white;
    width: 12vw;
    margin: 2%;
    flex: 1;
    border-radius: 50px;
    border-width: 1px;
    font-family: "Bahij Helvetica";
    font-size: 1.5vw;
    box-shadow: 0px 0px 5px #aaaaaa;
    color: white;
    text-align: center;
}

.full-signUP #all_singup .Sign_up_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 40%;
    margin-left: 9vw;
}

.full-signUP #all_singup .Sign_up_form #login-button {
    cursor: pointer;
    z-index: 100;
    width: 25vw;
    flex: 10%;
    border-radius: 50px;
    font-family: "Bahij Helvetica";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.full-signUP #all_singup .Sign_up_form #login-button .up_singup {
    color: rgba(60, 152, 189, 1);
    font-size: 1.5vw;
    font-weight: bold;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 3vw;
    border-radius: 50px;
    font-family: "Bahij Helvetica";
}

.full-signUP #all_singup .Sign_up_form #login-button .in_singup {
    align-items: center;
    border-radius: 50px;
    flex: 1;
    height: 3vw;
    color: white;
    font-size: 1.5vw;
    font-weight: bold;
    font-family: "Bahij Helvetica";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.full-signUP #all_singup .Sign_up_form #cantainer_singup {
    flex: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.full-signUP #all_singup .Sign_up_form #cantainer_singup form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    flex: 80%;
    margin-top: 1vw;
}

.full-signUP #all_singup .Sign_up_form #cantainer_singup form .first_input_section_singup,
.full-signUP #all_singup .Sign_up_form #cantainer_singup form .second_input_section_singup {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    flex: 3;
}

.full-signUP #all_singup .Sign_up_form #cantainer_singup form .first_input_section_singup .field,
.full-signUP #all_singup .Sign_up_form #cantainer_singup form .second_input_section_singup .field {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vw;
}

.fieldd {
    width: 98.9%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1vw;
    margin-right: 0.2vw;
}

.full-signUP #all_singup .Sign_up_form #cantainer_singup form .first_input_section_singup .field #input_singup,
.full-signUP #all_singup .Sign_up_form #cantainer_singup form .second_input_section_singup .field #inputt_singup {
    color: #ccc;
    font-family: "Bahij Helvetica";
    background: none;
    width: 15vw;
    flex: 1;
    border-bottom: 0.11vw solid #ccc;
    box-sizing: border-box;
    text-align: right;
    fill: transparent;
    outline: none;
    font-size: 1.1vw;
    font-weight: 3vw;
}

.input_end {
    color: #ccc;
    font-family: "Bahij Helvetica";
    background: none;
    flex: 1;
    border-bottom: 0.11vw solid #ccc;
    box-sizing: border-box;
    text-align: right;
    fill: transparent;
    outline: none;
    font-size: 1.1vw;
    font-weight: 3vw;
}

.full-signUP #all_singup .Sign_up_form #cantainer_singup form .first_input_section_singup .field .error_singup,
.full-signUP #all_singup .Sign_up_form #cantainer_singup form .second_input_section_singup .field .error_singup {
    color: red;
    font-family: "Bahij Helvetica";
    height: 3px;
    text-align: left;
    font-size: 1vw;
    font-weight: 600;
    width: 100%;
}

.error_singup {
    color: red;
    font-family: "Bahij Helvetica";
    height: 3px;
    text-align: left;
    font-size: 1vw;
    font-weight: 600;
    width: 100%;
}

.full-signUP #all_singup .Sign_up_form #cantainer_singup form .acount_button_singuo {
    cursor: pointer;
    width: 25vw;
    height: 3vw;
    border-radius: 50px;
    background-color: rgba(60, 152, 189, 1);
    background-image: linear-gradient(to left, #3c98bd, #0f53a1);
    color: white;
    font-family: "Bahij Helvetica";
    font-size: 1.5vw;
    font-weight: bold;
    margin-top: 1vw;
}

.p_singup {
    font-size: 1.5vw;
    font-weight: bold;
    color: silver;
    font-family: "Bahij Helvetica";
    flex: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    width: 30vw;
    margin-bottom: 1%;
}

.p_singup::before,
.p_singup::after {
    content: "";
    border-bottom: 0.2vw solid silver;
    width: 9.5vw;
    margin: 3%;
}

.full-signUP #all_singup .Sign_up_form #cantainer_singup .Google_SignUP {
    cursor: pointer;
    width: 23vw;
    height: 3vw;
    border-radius: 50px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.full-signUP #all_singup .Sign_up_form #cantainer_singup .Google_SignUP .google_icon_singup,
.full-signUP #all_singup .Sign_up_form #cantainer_singup .Google_SignUP .google_p_singup {
    font-size: 1vw;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.full-signUP #all_singup .Sign_up_form #cantainer_singup .Google_SignUP img {
    margin-left: 0.7vw;
    height: 2.1vw;
}

.full-signUP #all_singup .Sign_up_form #cantainer_singup .Google_SignUP .google_p_singup {
    margin-right: 1.4vw;
    font-family: "Bahij Helvetica";
    color: rgb(194, 191, 191);
}










/* Mobile styles*/
@media screen and (max-width: 768px) {
    .full-signUP #all_singup {
        display: none;
    }

    .full-signUP .all_singup_mobile {
        background-image: linear-gradient(to right, rgb(31, 111, 143), rgba(60, 152, 189, 1));
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100vh;
    }

    .full-signUP .all_singup_mobile .logo_mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .full-signUP .all_singup_mobile .langauge {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 55vw;
        margin-bottom: 5vw;
    }

    .image3 {
        width: 22vw;
        height: 18vw;
        margin-top: 6vw;
        margin-bottom: 2vw;
    }

    .full-signUP .all_singup_mobile .langauge .button_singup {
        height: 6vw;
        width: 26vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to left, #3C98BD, #0F53A1);
        border-color: rgb(255, 255, 255);
        border-radius: 50px;
        border-width: 0.2vw;
        border-style: solid;
        font-family: "Bahij Helvetica";
        font-weight: bold;
        font-size: 3vw;
        cursor: pointer;
        color: white;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm {
        flex: 60%;
        border-top-right-radius: 60px;
        border-top-left-radius: 60px;
        width: 100%;
        background-color: rgba(255, 255, 255, 1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #login-button {
        cursor: pointer;
        margin-top: 2%;
        width: 65vw;
        margin-top: 12vw;
        border-radius: 50px;
        font-family: "Bahij Helvetica";
        font-weight: bold;
        font-size: 1vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #FFF;
        border: 0.2vw solid silver;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #login-button .up_singup {
        color: linear-gradient(#3C98BD, #0F53A1);
        font-family: "Bahij Helvetica";
        font-weight: bold;
        font-size: 3vw;
        width: 50%;
        height: 6vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #login-button .in_singup {
        font-weight: bold;
        font-size: 3vw;
        border-radius: 50px;
        background-image: linear-gradient(#3C98BD, #0F53A1);
        color: white;
        color: linear-gradient(#3C98BD, #0F53A1);
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup {
        flex: 88%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 75%;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        flex: 70%;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .first_input_section_singup,
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .second_input_section_singup {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        flex: 3;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .first_input_section_singup .field,
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .second_input_section_singup .field {
        width: 44%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .first_input_section_singup .field #input_singup,
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .second_input_section_singup .field #inputt_singup {
        color: #ccc;
        font-family: "Bahij Helvetica";
        background: none;
        width: 100%;
        flex: 1;
        border-bottom: 2px solid #ccc;
        box-sizing: border-box;
        text-align: right;
        fill: transparent;
        outline: none;
        font-size: 2vw;
        font-weight: bold;
        margin-top: 3vw;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .first_input_section_singup .field #input_singup::placeholder,
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .second_input_section_singup .field #inputt_singup::placeholder,
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .second_input_section_singup .fieldd #inputtt_singup::placeholder {
        color: silver;
    }

    .fieldd {
        color: #ccc;
        font-family: "Bahij Helvetica";
        background: none;
        width: 100%;
        flex: none;
        margin-top: 3vw;
        margin-bottom: 4vw;
        box-sizing: border-box;
        text-align: right;
        fill: transparent;
        outline: none;
    }

    .input_end {
        color: #ccc;
        font-family: "Bahij Helvetica";
        background: none;
        flex: none;
        border-bottom: 2px solid #ccc;
        box-sizing: border-box;
        text-align: right;
        fill: transparent;
        outline: none;
        font-size: 2vw;
        font-weight: bold;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .first_input_section_singup .field .error_singup,
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .second_input_section_singup .field .error_singup,
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .second_input_section_singup .fieldd .error_singup {
        color: red;
        font-family: "Bahij Helvetica";
        height: 3px;
        font-size: 2vw;
        text-align: left;
        width: 100%;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .acount_button_singuo {
        height: 6vw;
        width: 65vw;
        cursor: pointer;
        border-radius: 50px;
        background-color: rgba(60, 152, 189, 1);
        background-image: linear-gradient(to left, #3c98bd, #0f53a1);
        color: white;
        font-family: "Bahij Helvetica";
        font-size: 3vw;
        font-weight: bold;
        margin-bottom: 6vw;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup .p_singup {
        color: silver;
        font-family: "Bahij Helvetica";
        flex: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: end;
        width: 100%;
        margin-bottom: 1%;
        font-weight: bold;
        flex: none;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup .p_singup::before,
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup .p_singup::after {
        content: "";
        border-bottom: 2px solid #ccc;
        width: 23.5vw;
        margin-bottom: 2%;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup .google_button_singup {
        flex: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        height: 6vw;
        width: 55vw;
        margin-top: 3vw;
        margin-bottom: 20vw;
        border-radius: 30px;
        background-color: #FFF;
        border: 1px solid silver;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup .google_button_singup .google_icon_singup {
        flex: 1;
        margin-right: 2vw;
    }

    .google_button_singup img {
        height: 70%;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup .google_button_singup .google_p_singup {
        color: silver;
        font-size: 2vw;
        font-weight: bold;
        text-align: end;
        margin-right: 2vw;
    }
}

@media screen and (max-width: 600px) {
    .full-signUP #all_singup {
        display: none;
    }

    .full-signUP .all_singup_mobile {

        background-image: linear-gradient(to right, rgb(31, 111, 143), rgba(60, 152, 189, 1));
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100vh;
    }

    .full-signUP .all_singup_mobile .logo_mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .full-signUP .all_singup_mobile .langauge {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 55vw;
        margin-bottom: 5vw;
    }

    .image3 {
        width: 33vw;
        height: 28vw;
        margin-top: 6vw;
        margin-bottom: 2vw;
    }

    .full-signUP .all_singup_mobile .langauge .button_singup {
        height: 9vw;
        width: 26vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to left, #3C98BD, #0F53A1);
        border-color: rgb(255, 255, 255);
        border-radius: 50px;
        border-width: 0.2vw;
        border-style: solid;
        font-family: "Bahij Helvetica";
        font-weight: bold;
        font-size: 4vw;
        cursor: pointer;
        color: white;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm {
        flex: 60%;
        border-top-right-radius: 60px;
        border-top-left-radius: 60px;
        width: 100%;
        background-color: rgba(255, 255, 255, 1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #login-button {
        cursor: pointer;
        margin-top: 2%;
        width: 65vw;
        margin-top: 12vw;
        border-radius: 50px;
        font-family: "Bahij Helvetica";
        font-weight: bold;
        font-size: 1vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #FFF;
        border: 0.2vw solid silver;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #login-button .up_singup {
        color: linear-gradient(#3C98BD, #0F53A1);
        font-family: "Bahij Helvetica";
        font-weight: bold;
        font-size: 4vw;
        width: 50%;
        height: 9vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #login-button .in_singup {
        font-weight: bold;
        font-size: 4vw;
        border-radius: 50px;
        background-image: linear-gradient(#3C98BD, #0F53A1);
        color: white;
        color: linear-gradient(#3C98BD, #0F53A1);
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup {
        flex: 88%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 75%;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        flex: 70%;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .first_input_section_singup,
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .second_input_section_singup {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        flex: 3;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .first_input_section_singup .field,
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .second_input_section_singup .field {
        width: 44%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .first_input_section_singup .field #input_singup,
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .second_input_section_singup .field #inputt_singup {
        color: #ccc;
        font-family: "Bahij Helvetica";
        background: none;
        width: 100%;
        flex: 1;
        border-bottom: 2px solid #ccc;
        box-sizing: border-box;
        text-align: right;
        fill: transparent;
        outline: none;
        font-size: 3.5vw;
        font-weight: bold;
        margin-top: 3vw;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .first_input_section_singup .field #input_singup::placeholder,
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .second_input_section_singup .field #inputt_singup::placeholder,
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .second_input_section_singup .fieldd #inputtt_singup::placeholder {
        color: silver;
    }

    .fieldd {
        color: #ccc;
        font-family: "Bahij Helvetica";
        background: none;
        width: 100%;
        flex: none;
        margin-top: 3vw;
        margin-bottom: 4vw;
        box-sizing: border-box;
        text-align: right;
        fill: transparent;
        outline: none;
    }

    .input_end {
        color: #ccc;
        font-family: "Bahij Helvetica";
        background: none;
        flex: none;
        border-bottom: 2px solid #ccc;
        box-sizing: border-box;
        text-align: right;
        fill: transparent;
        outline: none;
        font-size: 3.5vw;
        font-weight: bold;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .first_input_section_singup .field .error_singup,
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .second_input_section_singup .field .error_singup,
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .second_input_section_singup .fieldd .error_singup {
        color: red;
        font-family: "Bahij Helvetica";
        height: 3px;
        font-size: 3vw;
        text-align: left;
        width: 100%;
        margin-bottom: 2vw;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .acount_button_singuo {
        height: 9vw;
        width: 65vw;
        cursor: pointer;
        border-radius: 50px;
        background-color: rgba(60, 152, 189, 1);
        background-image: linear-gradient(to left, #3c98bd, #0f53a1);
        color: white;
        font-family: "Bahij Helvetica";
        font-size: 4vw;
        font-weight: bold;
        margin-bottom: 6vw;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup .p_singup {
        color: silver;
        font-family: "Bahij Helvetica";
        flex: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: end;
        width: 100%;
        margin-bottom: 1%;
        font-weight: bold;
        flex: none;
        font-size: 3.5vw;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup .p_singup::before,
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup .p_singup::after {
        content: "";
        border-bottom: 2px solid #ccc;
        width: 23.5vw;
        margin-bottom: 2%;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup .google_button_singup {
        flex: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        height: 9vw;
        width: 55vw;
        margin-top: 3vw;
        margin-bottom: 25vw;
        border-radius: 30px;
        background-color: #FFF;
        border: 1px solid silver;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup .google_button_singup .google_icon_singup {
        flex: 1;
        margin-right: 2vw;
    }

    .google_button_singup img {
        height: 70%;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup .google_button_singup .google_p_singup {
        color: silver;
        font-size: 3.5vw;
        font-weight: bold;
        text-align: end;
        margin-right: 2.5vw;
    }
}

@media screen and (min-height: 1180px) and (max-height:1500px) {
    .full-signUP #all_singup {
        display: none;
    }

    .full-signUP .all_singup_mobile {
        background-image: linear-gradient(to right, rgb(31, 111, 143), rgba(60, 152, 189, 1));
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100vh;
    }

    .full-signUP .all_singup_mobile .logo_mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .full-signUP .all_singup_mobile .langauge {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 55vw;
        margin-bottom: 5vw;
    }

    .image3 {
        width: 20vw;
        height: 17vw;
        margin-top: 6vw;
        margin-bottom: 2vw;
    }

    .full-signUP .all_singup_mobile .langauge .button_singup {
        height: 7vw;
        width: 26vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to left, #3C98BD, #0F53A1);
        border-color: rgb(255, 255, 255);
        border-radius: 50px;
        border-width: 0.2vw;
        border-style: solid;
        font-family: "Bahij Helvetica";
        font-weight: bold;
        font-size: 4vw;
        cursor: pointer;
        color: white;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm {
        flex: 60%;
        border-top-right-radius: 60px;
        border-top-left-radius: 60px;
        width: 100%;
        background-color: rgba(255, 255, 255, 1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #login-button {
        cursor: pointer;
        margin-top: 2%;
        width: 65vw;
        margin-top: 12vw;
        border-radius: 50px;
        font-family: "Bahij Helvetica";
        font-weight: bold;
        font-size: 1vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #FFF;
        border: 0.2vw solid silver;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #login-button .up_singup {
        color: linear-gradient(#3C98BD, #0F53A1);
        font-family: "Bahij Helvetica";
        font-weight: bold;
        font-size: 4vw;
        width: 50%;
        height: 7vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #login-button .in_singup {
        font-weight: bold;
        font-size: 4vw;
        border-radius: 50px;
        background-image: linear-gradient(#3C98BD, #0F53A1);
        color: white;
        color: linear-gradient(#3C98BD, #0F53A1);
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup {
        flex: 88%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 75%;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        flex: 70%;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .first_input_section_singup,
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .second_input_section_singup {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        flex: 3;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .first_input_section_singup .field,
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .second_input_section_singup .field {
        width: 44%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .first_input_section_singup .field #input_singup,
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .second_input_section_singup .field #inputt_singup {
        color: #ccc;
        font-family: "Bahij Helvetica";
        background: none;
        width: 100%;
        flex: 1;
        border-bottom: 2px solid #ccc;
        box-sizing: border-box;
        text-align: right;
        fill: transparent;
        outline: none;
        font-size: 3.5vw;
        font-weight: bold;
        margin-top: 3vw;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .first_input_section_singup .field #input_singup::placeholder,
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .second_input_section_singup .field #inputt_singup::placeholder,
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .second_input_section_singup .fieldd #inputtt_singup::placeholder {
        color: silver;
    }

    .fieldd {
        color: #ccc;
        font-family: "Bahij Helvetica";
        background: none;
        width: 100%;
        flex: none;
        margin-top: 3vw;
        margin-bottom: 4vw;
        box-sizing: border-box;
        text-align: right;
        fill: transparent;
        outline: none;
    }

    .input_end {
        color: #ccc;
        font-family: "Bahij Helvetica";
        background: none;
        flex: none;
        border-bottom: 2px solid #ccc;
        box-sizing: border-box;
        text-align: right;
        fill: transparent;
        outline: none;
        font-size: 3.5vw;
        font-weight: bold;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .first_input_section_singup .field .error_singup,
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .second_input_section_singup .field .error_singup,
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .second_input_section_singup .fieldd .error_singup {
        color: red;
        font-family: "Bahij Helvetica";
        height: 3px;
        font-size: 3vw;
        text-align: left;
        width: 100%;
        margin-bottom: 2vw;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup form .acount_button_singuo {
        height: 7vw;
        width: 65vw;
        cursor: pointer;
        border-radius: 50px;
        background-color: rgba(60, 152, 189, 1);
        background-image: linear-gradient(to left, #3c98bd, #0f53a1);
        color: white;
        font-family: "Bahij Helvetica";
        font-size: 4vw;
        font-weight: bold;
        margin-bottom: 2vw;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup .p_singup {
        color: silver;
        font-family: "Bahij Helvetica";
        flex: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: end;
        width: 100%;
        margin-bottom: 1%;
        font-weight: bold;
        flex: none;
        font-size: 3.5vw;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup .p_singup::before,
    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup .p_singup::after {
        content: "";
        border-bottom: 2px solid #ccc;
        width: 23.5vw;
        margin-bottom: 0vw;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup .google_button_singup {
        flex: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        height: 8vw;
        width: 55vw;
        margin-top: 3vw;
        margin-bottom: 25vw;
        border-radius: 30px;
        background-color: #FFF;
        border: 1px solid silver;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup .google_button_singup .google_icon_singup {
        flex: 1;
        margin-right: 2vw;
    }

    .google_button_singup img {
        height: 70%;
    }

    .full-signUP .all_singup_mobile .bottom_Signupm #cantainer_singup .google_button_singup .google_p_singup {
        color: silver;
        font-size: 3.5vw;
        font-weight: bold;
        text-align: end;
        margin-right: 2.5vw;
    }
}