.full_unit {
    display: flex;
    flex-direction: column;
    background-color: rgba(60, 155, 200, 1);
    height: 90%;
    width: 100%;
    flex: 100%;
    min-height: 500px;
}

.section_one_unit {
    display: flex;
    flex-direction: column;
    flex: 15%;
}

.flesh_unit {
    cursor: pointer;
}

.flesh-image-grade-U {
    position: relative;
    top: 5vw;
    left: 5vw;
    width: 3vw;
    height: 2vw;
}

.title_unit {
    text-align: center;
    color: white;
}

#header-gradename {
    font-weight: bold;
    font-size: 3vw;
}

.h2 {
    font-size: 2.4vw;
    margin-bottom: 1vw;
}

.section_tow_unit {
    display: flex;
    flex-direction: row;
    flex: 50%;
    width: 100%;
    cursor: pointer;
    margin-bottom: 3vw;
}

.arrow_unit {
    flex: 10%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    margin-right: 1vw;
}

.arrow_unite {
    flex: 10%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 1vw;
}

.m-section {
    flex: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
}

.full_unit .section_tow_unit .m-section #ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    overflow-x: scroll;
}

.full_unit .section_tow_unit .m-section a {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 130px;
    height: 150px;
    margin-right: 20px;
    border: none;
    border-radius: 15px;
    padding-top: 23px;
}

.full_unit .section_tow_unit .m-section a h3 {
    color: rgba(60, 152, 189, 1);
    margin-bottom: 15px;
    font-family: "Bahij helvetica";
    font-style: normal;
    font-size: 15px;
    width: 140px;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.full_unit .section_tow_unit .m-section a img {
    width: 65px;
    height: 80px;
}

.section_three_unit {
    display: flex;
    flex-direction: column;
    flex: 35%;
}

.p_unit {
    display: flex;
    text-align: center !important;
    align-items: center;
    justify-content: center;
    flex: 1%;
    font-size: 2.1vw;
    color: rgba(255, 255, 255, 0.547);
}

.imagel_unite {
    display: flex;
    align-items: end;
    flex: 99%;
    justify-content: end;
}

.imagel_unit {
    width: 220px;
    height: 190px;
    margin-top: -12vw;
}








/* phone style */
@media only screen and (max-width: 769px) {
    .full_unit {
        display: flex;
        flex-direction: column;
        background-color: rgba(60, 155, 200, 1);
        height: 90%;
        width: 100%;
        flex: 100%;
        min-height: 600px;
    }

    .section_one_unit {
        display: flex;
        flex-direction: column;
        flex: 15%;
    }

    .flesh_unit {
        cursor: pointer;
        margin-top: 5vw;
        margin-left: 5vw;
    }

    .flesh-image-grade-U {
        position: unset;

        width: 4vw;
        height: 3vw;
    }

    .title_unit {
        text-align: center;
        color: white;
    }

    #header-gradename {
        font-weight: bold;
        font-size: 4.5vw;
    }

    .h2 {
        font-size: 3.5vw;
        margin-bottom: 1vw;
    }

    .section_tow_unit {
        display: flex;
        flex-direction: row;
        flex: 50%;
        width: 100%;
        cursor: pointer;
        margin-bottom: 3vw;
    }

    .arrow_unit {
        flex: 10%;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        margin-right: 1vw;
    }

    .arrow_unit img {
        width: 2.1vw;
        height: 3.9vw;
    }

    .arrow_unite {
        flex: 10%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        margin-left: 1vw;
    }

    .arrow_unite img {
        width: 2.1vw;
        height: 3.9vw;
    }

    .m-section {
        flex: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        overflow-x: hidden;
    }

    .full_unit .section_tow_unit .m-section #ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        overflow-x: scroll;
    }

    .full_unit .section_tow_unit .m-section a {
        background-color: rgba(255, 255, 255, 1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 130px;
        height: 150px;
        margin-right: 20px;
        border: none;
        border-radius: 15px;
        padding-top: 23px;
    }

    .full_unit .section_tow_unit .m-section a h3 {
        color: rgba(60, 152, 189, 1);
        margin-bottom: 15px;
        font-family: "Bahij helvetica";
        font-style: normal;
        font-size: 15px;
        width: 140px;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .full_unit .section_tow_unit .m-section a img {
        width: 65px;
        height: 80px;
    }

    .section_three_unit {
        display: flex;
        flex-direction: column;
        flex: 35%;
    }

    .p_unit {
        display: flex;
        text-align: center !important;
        align-items: center;
        justify-content: center;
        flex: 1%;
        font-size: 3.1vw;
        color: rgba(255, 255, 255, 0.547);
    }

    .imagel_unite {
        display: flex;
        align-items: end;
        flex: 99%;
        justify-content: end;
    }

    .imagel_unit {
        width: 220px;
        height: 200px;
        margin-top: 0vw;
    }

}

@media only screen and (max-width: 400px) {
    .full_unit {
        display: flex;
        flex-direction: column;
        background-color: rgba(60, 155, 200, 1);
        height: 90%;
        width: 100%;
        flex: 100%;
        min-height: 560px;
    }

    .section_one_unit {
        display: flex;
        flex-direction: column;
        flex: 25%;
    }

    .flesh_unit {
        cursor: pointer;
        margin-top: 7vw;
        margin-left: 9vw;
    }

    .flesh-image-grade-U {
        position: unset;
        width: 5vw;
        height: 4vw;
    }

    .title_unit {
        text-align: center;
        margin-top: 5vw;
    }

    #header-gradename {
        font-weight: bold;
        font-size: 7vw;
    }

    .h2 {
        margin-left: 12vw;
        margin-right: 12vw;
        font-size: 5vw;
        margin-bottom: 1vw;
    }

    .section_tow_unit {
        display: flex;
        flex-direction: row;
        flex: 50%;
        width: 100%;
        cursor: pointer;
        margin-bottom: 3vw;
    }

    .arrow_unit {
        flex: 10%;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        margin-right: 1.5vw;
    }

    .arrow_unit img {
        width: 3.5vw;
        height: 5.9vw;
    }

    .arrow_unite {
        flex: 10%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        margin-left: 1.5vw;
    }

    .arrow_unite img {
        width: 3.5vw;
        height: 5.9vw;
    }

    .m-section {
        flex: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        overflow-x: hidden;
    }

    .full_unit .section_tow_unit .m-section #ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        overflow-x: scroll;
    }

    .full_unit .section_tow_unit .m-section a {
        background-color: rgba(255, 255, 255, 1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 130px;
        height: 150px;
        margin-right: 14px;
        border: none;
        border-radius: 20px;
        padding-top: 23px;
    }

    .full_unit .section_tow_unit .m-section a h3 {
        color: rgba(60, 152, 189, 1);
        margin-bottom: 15px;
        font-family: "Bahij helvetica";
        font-style: normal;
        font-size: 15px;
        width: 140px;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .full_unit .section_tow_unit .m-section a img {
        width: 65px;
        height: 80px;
    }

    .section_three_unit {
        display: flex;
        flex-direction: column;
        flex: 25%;
    }

    .p_unit {
        display: flex;
        text-align: center !important;
        align-items: center;
        justify-content: center;
        flex: 1%;
        font-size: 4vw;
        color: rgba(255, 255, 255, 0.547);
        margin-bottom: 2vw;
    }

    .imagel_unite {
        display: flex;
        align-items: end;
        flex: 99%;
        justify-content: end;
    }

    .imagel_unit {
        width: 220px;
        height: 200px;
        margin-top: 0vw;
    }

}