/* computer styles */
.all-section-new-password {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 100vh;
	min-height: 560px;
}

.section-one-new-password {
	display: flex;
	flex-direction: column;
	flex: 45%;
}

.sec-one-one-new-password {
	display: flex;
	justify-content: start;
	flex: 1%;
}

.img_new_password {
	position: relative;
	top: 200%;
	left: 250%;
}

.sec-one-two-new-password {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 100%;
}

.logo-one-new-password {
	width: 24.8vw;
	height: 21vw;
}

.logo-two-new-password {
	display: none;
}

.section-two-new-password {
	display: flex;
	flex-direction: column;
	background-image: url('../../assets/fogotone.png');
	background-size: cover;
	background-repeat: no-repeat;
	flex: 55%;
	text-align: right;
	padding-right: 5%;
	justify-content: center;
}

.selesh-new-password {
	display: none;
}

.image-new-password {
	display: none;
}

.para-one-and-two-new-password {
	display: flex;
	flex-direction: column;
	text-align: right;
}

.para_first_new_password {
	font-family: "Bahij Helvetica";
	font-style: normal;
	font-weight: bold;
	font-size: 4.8vw;
	color: rgba(255, 255, 255, 1);
	letter-spacing: -0.4px;
	line-height: 7vw;
	padding-left: 15%;
}

.para_second_new_password {
	font-family: "Bahij Helvetica";
	font-style: normal;
	font-weight: bold;
	font-size: 1.4vw;
	color: rgba(255, 255, 255, 1);
	letter-spacing: 0.1vw;
	margin-top: 30px;
	margin-bottom: 30px;
}

.sec-two-two-new-password {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#input_next_new_password {
	color: rgb(255, 255, 255) !important;
	background: none;
	border-bottom: 2px solid rgba(255, 255, 255, 0.5);
	width: 66%;
	background-color: rgba(255, 255, 255, 0);
	outline: none;
	font-size: 2.5vw;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	padding-top: 8px;
}

#input_next_new_password::placeholder {
	font-size: 2vw;
	color: rgb(255, 255, 255) !important;
	opacity: 0.5;
}

.error-and-button-new-password {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.error_new_password {
	color: rgb(241, 26, 26);
	font-family: "Bahij Helvetica";
	font-weight: bold;
	font-style: normal;
	margin-left: 34%;
	font-size: 1.8vw;
}

.button-next-new-password {
	margin-left: 34%;
	margin-top: 12px;
	width: 140px;
	height: 35px;
	cursor: pointer;
	font-family: "Bahij Helvetica";
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgb(39, 115, 138);
	letter-spacing: -0.4px;
	border-radius: 50px;
	background-color: white;
	background-image: linear-gradient(#ffffff,
			#b8d3f2);
}








/* mobile styles */
@media only screen and (max-width: 768px) and (min-height:1px) {
	.all-section-new-password {
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
		height: auto;
		min-height: auto;
	}

	.section-one-new-password {
		display: flex;
		flex-direction: column;
		flex: 50%;
	}

	.sec-one-one-new-password {
		display: flex;
		justify-content: start;
		flex: 1%;
	}

	.img_new_password {
		display: none;
	}

	.sec-one-two-new-password {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 100%;
	}

	.logo-one-new-password {
		display: none;
	}

	.logo-two-new-password {
		display: flex;
		width: 30%;
		height: 30%;
		margin-top: 15%;
		margin-bottom: 15%;
	}

	.section-two-new-password {
		display: flex;
		flex-direction: column;
		background-image: none;
		background-size: cover;
		background-repeat: no-repeat;
		flex: 50%;
		text-align: center;
		padding-right: 0%;
		justify-content: center;
	}

	.sec-two-one-new-password {
		display: flex;
		flex-direction: column;
		background-size: cover;
		background-repeat: no-repeat;
		padding-right: 10vw;
		background-color: #3289b7;
		border-bottom-left-radius: 15%;
		border-bottom-right-radius: 15%;
	}

	.selesh-new-password {
		display: flex;
		width: 100%;
		margin-top: -12%;
		margin-left: 10%;
	}

	.imgg_new_password {
		width: 5vw;
		height: 4vw;
	}

	.image-new-password {
		display: flex;
		width: 100%;
	}

	.imggg_new_password {
		display: flex;
		width: 22%;
		height: 22%;
	}

	.para-one-and-two-new-password {
		display: flex;
		flex-direction: column;
		text-align: right;
		padding-bottom: 6%;
	}

	.para_first_new_password {
		font-family: "Bahij Helvetica";
		font-style: normal;
		font-weight: bold;
		font-size: 7.5vw;
		color: rgba(255, 255, 255, 1);
		letter-spacing: -0.4px;
		line-height: 10.5vw;
		margin-top: 3%;
		padding-left: 0%;
	}

	.para_second_new_password {
		font-family: "Bahij Helvetica";
		font-style: normal;
		font-weight: bold;
		font-size: 2.3vw;
		color: rgba(255, 255, 255, 1);
		letter-spacing: 0.1;
		margin-top: 30px;
	}

	.sec-two-two-new-password {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	#input_next_new_password {
		color: rgb(112, 112, 112, 0.9) !important;
		background: none;
		border-bottom: 1.5px solid rgb(112, 112, 112, 0.9) !important;
		;
		width: 80%;
		background-color: rgba(255, 255, 255, 0);
		outline: none;
		font-size: 4vw;
		font-style: normal;
		font-weight: bold;
		text-align: center;
		margin-top: 1%;
		padding-bottom: 1%;
	}

	#input_next_new_password::placeholder {
		font-size: 3vw;
		color: rgb(112, 112, 112, 0.9) !important;
		opacity: 0.5;
	}

	.error-and-button-new-password {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
	}

	.error_new_password {
		color: rgb(241, 26, 26);
		font-family: "Bahij Helvetica";
		font-weight: bold;
		font-style: normal;
		margin-left: 0%;
		font-size: 3vw;
	}

	.button-next-new-password {
		margin-left: 0%;
		margin-top: 3%;
		width: 80%;
		height: 35px;
		cursor: pointer;
		font-family: "Bahij Helvetica";
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		color: rgb(255, 255, 255);
		letter-spacing: -0.4px;
		border-radius: 50px;
		background-color: white;
		background-image: linear-gradient(#47b3dd,
				#2c738f);
		align-items: center;
	}
}

@media only screen and (max-width: 414px) and (min-height:1px)  {
	.error_new_password {
		font-size: 4vw;
	}

	.sec-two-one-new-password {
		padding-right: 15vw;
	}

	.selesh-new-password {
		margin-top: -15%;
		margin-left: 8%;
	}

	.imgg_new_password {
		width: 8vw;
		height: 6vw;
	}

	.imggg_new_password {
		width: 27%;
	}

	.para_first_new_password {
		font-size: 8vw;
		line-height: 14vw;
		margin-top: -1%;
	}

	.para_second_new_password {
		font-size: 4vw;
		margin-top: 20px;
		margin-bottom: 10%;
		letter-spacing: 0.1px;
	}

	#input_next_new_password {
		border-bottom: 1px solid rgb(112, 112, 112, 0.9) !important;
		;
		width: 70%;
		font-size: 6.3vw;
		margin-top: 1%;
		padding-bottom: 1%;
	}

	#input_next_new_password::placeholder {
		font-size: 4.7vw;
	}

	.button-next-new-password {
		margin-top: 4%;
		width: 70%;
	}
}

@media screen and (min-height: 1138px) {
	.all-section-new-password {
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
		height: auto;
		min-height: auto;
	}

	.section-one-new-password {
		display: flex;
		flex-direction: column;
		flex: 50%;
	}

	.sec-one-one-new-password {
		display: flex;
		justify-content: start;
		flex: 1%;
	}

	.img_new_password {
		display: none;
	}

	.sec-one-two-new-password {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 100%;
	}

	.logo-one-new-password {
		display: none;
	}

	.logo-two-new-password {
		display: flex;
		width: 30%;
		height: 30%;
		margin-top: 15%;
		margin-bottom: 15%;
	}

	.section-two-new-password {
		display: flex;
		flex-direction: column;
		background-image: none;
		background-size: cover;
		background-repeat: no-repeat;
		flex: 50%;
		text-align: center;
		padding-right: 0%;
		justify-content: center;
	}

	.sec-two-one-new-password {
		display: flex;
		flex-direction: column;
		background-size: cover;
		background-repeat: no-repeat;
		padding-right: 10vw;
		background-color: #3289b7;
		border-bottom-left-radius: 15%;
		border-bottom-right-radius: 15%;
	}

	.selesh-new-password {
		display: flex;
		width: 100%;
		margin-top: -12%;
		margin-left: 10%;
	}

	.imgg_new_password {
		width: 5vw;
		height: 4vw;
	}

	.image-new-password {
		display: flex;
		width: 100%;
	}

	.imggg_new_password {
		display: flex;
		width: 22%;
		height: 22%;
	}

	.para-one-and-two-new-password {
		display: flex;
		flex-direction: column;
		text-align: right;
		padding-bottom: 6%;
	}

	.para_first_new_password {
		font-family: "Bahij Helvetica";
		font-style: normal;
		font-weight: bold;
		font-size: 7.5vw;
		color: rgba(255, 255, 255, 1);
		letter-spacing: -0.4px;
		line-height: 10.5vw;
		margin-top: 3%;
		padding-left: 0%;
	}

	.para_second_new_password {
		font-family: "Bahij Helvetica";
		font-style: normal;
		font-weight: bold;
		font-size: 2.3vw;
		color: rgba(255, 255, 255, 1);
		letter-spacing: 0.1;
		margin-top: 30px;
	}

	.sec-two-two-new-password {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	#input_next_new_password {
		color: rgb(112, 112, 112, 0.9) !important;
		background: none;
		border-bottom: 1.5px solid rgb(112, 112, 112, 0.9) !important;
		;
		width: 80%;
		background-color: rgba(255, 255, 255, 0);
		outline: none;
		font-size: 4vw;
		font-style: normal;
		font-weight: bold;
		text-align: center;
		margin-top: 1%;
		padding-bottom: 1%;
	}

	#input_next_new_password::placeholder {
		font-size: 3vw;
		color: rgb(112, 112, 112, 0.9) !important;
		opacity: 0.5;
	}

	.error-and-button-new-password {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
	}

	.error_new_password {
		color: rgb(241, 26, 26);
		font-family: "Bahij Helvetica";
		font-weight: bold;
		font-style: normal;
		margin-left: 0%;
		font-size: 3vw;
	}

	.button-next-new-password {
		margin-left: 0%;
		margin-top: 3%;
		width: 80%;
		height: 55px;
		cursor: pointer;
		font-family: "Bahij Helvetica";
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgb(255, 255, 255);
		letter-spacing: -0.4px;
		border-radius: 50px;
		background-color: white;
		background-image: linear-gradient(#47b3dd,
				#2c738f);
		align-items: center;
	}
}