ChangeProfile style
* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Artboard__3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
}
#Rectangle_267_u {
    fill: url(#Rectangle_267_u);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_267_u {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 636px;
    left: 0px;
    top: 240px;
}
#Ellipse_20 {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 6px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ellipse_20 {
    position: absolute;
    overflow: visible;
    width: 258px;
    height: 258px;
    left: 551px;
    top: -20px;
}
#Group_6 {
    position: absolute;
    width: 121px;
    height: 136px;
    left: 899.999px;
    top: 152px;
    overflow: visible;
}
#Group_10 {
    position: absolute;
    width: 121px;
    height: 136px;
    left: 0.001px;
    top: 0px;
    overflow: visible;
}
#nm {
    background-color: white;
    cursor: pointer;
    left: 580px;
    top: 180px;
    position: absolute;
    overflow: visible;
    width: 204px;
    white-space: nowrap;
    text-align: center;
    font-family: Bahij Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(112,112,112,1);
}
#Path_1010 {
    fill: rgba(0,0,0,0);
    stroke: rgba(60,152,189,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-dasharray: 4.026000022888184 4.026000022888184;
    stroke-dashoffset: 0;
    stroke-miterlimit: 10;
    shape-rendering: auto;
}
.Path_1010 {
    overflow: visible;
    position: absolute;
    width: 1282.474px;
    height: 218.265px;
    left: 30.077px;
    top: 20.717px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_1013 {
    fill: rgba(15,83,161,1);
}
.Path_1013 {
    overflow: visible;
    position: absolute;
    width: 115.999px;
    height: 49.452px;
    left: 618.085px;
    top: 302.015px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_1014 {
    fill: rgba(60,152,189,1);
}
.Path_1014 {
    overflow: visible;
    position: absolute;
    width: 95.333px;
    height: 62.985px;
    left: 637.751px;
    top: 302.015px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_1015 {
    fill: rgba(60,152,189,1);
}
.Path_1015 {
    overflow: visible;
    position: absolute;
    width: 140.021px;
    height: 28.396px;
    left: 527.064px;
    top: 309.015px;
    transform: matrix(1,0,0,1,0,0);
}
.container{
    display: inline-block;
    position: relative;
    top: 310px;
    left: 150px;
    color: white;
    width: 1040px;
    display: flex;
    justify-content: space-between;
}
.save-button{
    display: inline-block;
    position: relative;
    top: 340px;
    left: 535px;
    width: 20%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 20px;
	font-family: Bahij Helvetica Neue;
    font-style: normal;
    font-weight: normal;
	cursor: pointer;
    text-align: center;
	color: rgba(60,152,189,1);
	background-color: white;
	border-radius: 50px;
}


.information-one{

   display: inline-block;
}
.information-two{
   
   display: inline-block;
   
}
.information-three{
    display: inline-block;
}

.name,
.lastname,
.username,
.email,
.age,
.senf{
    color: white;
}
#input{
    display: inline-block;
    background: none;
    width: 300px;
    padding: 10px 0px;
    margin-bottom: 30px;
    margin-top: 30px;
    border-top: 1px solid #ccc;
    box-sizing: border-box;
    text-align: right;
    fill: transparent;
  outline: none;
    
}
::placeholder{
    color: white;
 
}
.error{
    color: red;
    font-weight: bold;
    font-style: normal;
}
.ig{
    display: inline-block;
 position: relative;
 top: -150px;
 left: 70px;
}
