/* login styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: "Bahij Helvetica";
}

.full_login {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 90%;
}

.full_login .mobilee {
    display: none;
}

.full_login .Log_In_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 2%;
}

.full_login .Log_In_form form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex: 80%;
}

.full_login .Log_In_form form .ui_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex: 80%;
    margin-top: 1.5vw;
}

.full_login .Log_In_form form .ui_form .field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 35%;
    width: 100%;
}

.full_login .Log_In_form form .ui_form .field #input_login {
    color: #ccc;
    font-family: "Bahij Helvetica";
    background: none;
    width: 23vw;
    flex: 1;
    border-bottom: 0.11vw solid #ccc;
    box-sizing: border-box;
    text-align: right;
    fill: transparent;
    outline: none;
    font-size: 1.1vw;
    font-weight: 3vw;
}

.full_login .Log_In_form form .ui_form .field .error_login {
    color: red;
    font-family: "Bahij Helvetica";
    height: 3px;
    text-align: left;
    font-size: 1vw;
    font-weight: 600;
    width: 80%;
    margin-bottom: 1.5vw;
}

.full_login .Log_In_form form .ui_form .forgetpassword_login {
    flex: 30%;
    text-align: left;
    width: 80%;
    color: #FFF;
    font-size: 1.3vw;
    margin-top: 2vw;
}

.full_login .Log_In_form form .acount_button_login {
    cursor: pointer;
    width: 25vw;
    height: 3vw;
    border-radius: 50px;
    background-color: rgba(60, 152, 189, 1);
    background-image: linear-gradient(to left, #3c98bd,
            #0f53a1);
    color: white;
    font-family: "Bahij Helvetica";
    font-size: 1.5vw;
    font-weight: bold;
    margin-top: 1vw;
}

.p_login {
    font-size: 1.5vw;
    font-weight: bold;
    color: silver;
    font-family: "Bahij Helvetica";
    flex: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    width: 30vw;
    margin-bottom: 1%;
}

.p_login::after,
.p_login::before {
    content: "";
    border-bottom: 0.2vw solid silver;
    width: 9.5vw;
    margin: 3%;
}

.full_login .Log_In_form .GoogleBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 10%;
}

.full_login .Log_In_form .GoogleBtn .google_button_singup {
    font-size: 1vw;
    font-weight: bold;
    cursor: pointer;
    padding-right: 1.4vw;
    font-family: "Bahij Helvetica";
    color: rgb(194, 191, 191);
    width: 23vw;
    height: 3vw;
    border-radius: 50px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.google_button_singup img {
    margin-left: 0.7vw;
    height: 2.1vw;
}








/* Mobile*/
@media only screen and (max-width: 768px) and (min-height:1px)  {
    .full_login .Log_In_form {
        display: none;
    }

    .full_login {
        flex: 88%;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        height: 100vw;
    }

    .full_login .mobilee {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        flex: 90%;
        padding-bottom: 30%;
    }

    .full_login .mobilee form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex: 60%;
    }

    .full_login .mobilee form .ui_form {
        flex: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .full_login .mobilee form .ui_form .field {
        flex: 44%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .full_login .mobilee form .ui_form .field #input_login {
        color: #ccc;
        font-family: "Bahij Helvetica";
        background: none;
        width: 60vw;
        border-bottom: 2px solid #ccc;
        box-sizing: border-box;
        text-align: right;
        fill: transparent;
        outline: none;
        font-size: 2vw;
        font-weight: bold;
        margin-top: 3vw;
    }

    .full_login .mobilee form .ui_form .field #input_login::placeholder {
        color: silver;
        font-weight: 14px;
    }

    .full_login .mobilee form .ui_form .field .error_login {
        color: red;
        font-family: "Bahij Helvetica";
        height: 3px;
        font-size: 2vw;
        font-weight: bold;
        text-align: left;
        width: 87%;
    }

    .full_login .mobilee form .ui_form .forgotpassword_login {
        flex: none;
        width: 87%;
        color: silver;
        text-align: center;
        font-size: 2vw;
        font-weight: bold;
        text-align: left;
        margin-top: 3vw;
        margin-bottom: 2vw;
    }

    .full_login .mobilee form .acount_button_login {
        margin-bottom: 6vw;
        cursor: pointer;
        height: 6vw;
        width: 65vw;
        border-radius: 50px;
        background-color: rgba(60, 152, 189, 1);
        background-image: linear-gradient(to left, #3c98bd, #0f53a1);
        color: white;
        font-family: "Bahij Helvetica";
        font-weight: bold;
        font-size: 3vw;
        flex: none;
    }

    .full_login .mobilee .p_login {
        color: silver;
        font-family: "Bahij Helvetica";
        flex: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: end;
        width: 100%;
        margin-bottom: 1%;
        font-weight: bold;
        flex: none;
    }

    .full_login .mobilee .p_login::after,
    .full_login .mobilee .p_login::before {
        content: "";
        border-bottom: 2px solid #ccc;
        width: 35%;
        margin-bottom: 2%;
    }

    .full_login .mobilee .GoogleBtn .google_button_login {
        flex: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        height: 6vw;
        width: 55vw;
        margin-top: 3vw;
        border-radius: 30px;
        background-color: #FFF;
        border: 1px solid silver;
    }

    .google_button_login img {
        margin-left: 1vw;
        height: 4vw;
        width: 4vw;
    }

    .google_button_singup img {
        margin-left: 1vw;
        height: 4vw;
        width: 4vw;
    }

    .google_p_login {
        flex: none;
        color: silver;
        font-size: 2vw;
        font-weight: bold;
        text-align: end;
        margin-right: 2vw;
    }
}

@media only screen and (max-width: 600px)  and (min-height:1px) {
    .full_login .Log_In_form {
        display: none;
    }

    .full_login {
        flex: 88%;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        height: 100vw;
    }

    .full_login .mobilee {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        flex: 90%;
        padding-bottom: 50%;
    }

    .full_login .mobilee form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex: 60%;
    }

    .full_login .mobilee form .ui_form {
        flex: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .full_login .mobilee form .ui_form .field {
        flex: 44%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .full_login .mobilee form .ui_form .field #input_login {
        color: #ccc;
        font-family: "Bahij Helvetica";
        background: none;
        width: 60vw;
        border-bottom: 2px solid #ccc;
        box-sizing: border-box;
        text-align: right;
        fill: transparent;
        outline: none;
        font-size: 3.5vw;
        font-weight: bold;
        margin-top: 3vw;
    }

    .full_login .mobilee form .ui_form .field #input_login::placeholder {
        color: silver;
        font-weight: 14px;
    }

    .full_login .mobilee form .ui_form .field .error_login {
        color: red;
        font-family: "Bahij Helvetica";
        height: 3px;
        font-size: 3vw;
        font-weight: bold;
        text-align: left;
        width: 87%;
        margin-bottom: 2vw;
    }

    .full_login .mobilee form .ui_form .forgotpassword_login {
        flex: none;
        /* flex: 30%; */
        width: 87%;
        color: silver;
        text-align: center;
        font-size: 4vw;
        font-weight: bold;
        text-align: left;
        margin-top: 3vw;
        margin-bottom: 4vw;
    }

    .full_login .mobilee form .acount_button_login {
        margin-bottom: 6vw;
        cursor: pointer;
        height: 9vw;
        width: 65vw;
        border-radius: 50px;
        background-color: rgba(60, 152, 189, 1);
        background-image: linear-gradient(to left, #3c98bd, #0f53a1);
        color: white;
        font-family: "Bahij Helvetica";
        font-weight: bold;
        font-size: 4vw;
        flex: none;
    }

    .full_login .mobilee .p_login {
        font-size: 3.5vw;
        color: silver;
        font-family: "Bahij Helvetica";
        flex: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: end;
        width: 100%;
        margin-bottom: 1%;
        font-weight: bold;
        flex: none;
    }

    .full_login .mobilee .p_login::after,
    .full_login .mobilee .p_login::before {
        content: "";
        border-bottom: 2px solid #ccc;
        width: 35%;
        margin-bottom: 2%;
    }

    .full_login .mobilee .GoogleBtn .google_button_login {
        flex: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        height: 9vw;
        width: 55vw;
        margin-top: 3vw;
        border-radius: 30px;
        background-color: #FFF;
        border: 1px solid silver;
    }

    .google_button_login img {
        margin-left: 2vw;
        height: 5vw;
        width: 5vw;
    }

    .google_button_singup img {
        margin-left: 2vw;
        height: 5vw;
        width: 5vw;
    }

    .google_p_login {
        flex: none;
        color: silver;
        font-size: 3.5vw;
        font-weight: bold;
        text-align: end;
        margin-right: 2.5vw;
    }
}

@media screen and (min-height: 1138px) {
    .full_login .Log_In_form {
        display: none;
    }

    .full_login {
        flex: 88%;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        height: 100vw;
    }

    .full_login .mobilee {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        flex: 90%;
        padding-bottom: 50%;
    }

    .full_login .mobilee form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex: 60%;
    }

    .full_login .mobilee form .ui_form {
        flex: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .full_login .mobilee form .ui_form .field {
        flex: 44%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .full_login .mobilee form .ui_form .field #input_login {
        color: #ccc;
        font-family: "Bahij Helvetica";
        background: none;
        width: 60vw;
        border-bottom: 2px solid #ccc;
        box-sizing: border-box;
        text-align: right;
        fill: transparent;
        outline: none;
        font-size: 3.5vw;
        font-weight: bold;
        margin-top: 3vw;
    }

    .full_login .mobilee form .ui_form .field #input_login::placeholder {
        color: silver;
        font-weight: 14px;
    }

    .full_login .mobilee form .ui_form .field .error_login {
        color: red;
        font-family: "Bahij Helvetica";
        height: 3px;
        font-size: 3vw;
        font-weight: bold;
        text-align: left;
        width: 87%;
        margin-bottom: 2vw;
    }

    .full_login .mobilee form .ui_form .forgotpassword_login {
        flex: none;
        width: 87%;
        color: silver;
        text-align: center;
        font-size: 4vw;
        font-weight: bold;
        text-align: left;
        margin-top: 3vw;
        margin-bottom: 4vw;
    }

    .full_login .mobilee form .acount_button_login {
        margin-bottom: 6vw;
        cursor: pointer;
        height: 7vw;
        width: 65vw;
        border-radius: 50px;
        background-color: rgba(60, 152, 189, 1);
        background-image: linear-gradient(to left, #3c98bd, #0f53a1);
        color: white;
        font-family: "Bahij Helvetica";
        font-weight: bold;
        font-size: 4vw;
        flex: none;
    }

    .full_login .mobilee .p_login {
        font-size: 3.5vw;
        color: silver;
        font-family: "Bahij Helvetica";
        flex: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: end;
        width: 100%;
        margin-bottom: 1%;
        font-weight: bold;
        flex: none;
    }

    .full_login .mobilee .p_login::after,
    .full_login .mobilee .p_login::before {
        content: "";
        border-bottom: 2px solid #ccc;
        width: 35%;
        margin-bottom: 2%;
    }

    .full_login .mobilee .GoogleBtn .google_button_login {
        flex: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        height: 8vw;
        width: 55vw;
        margin-top: 3vw;
        border-radius: 30px;
        background-color: #FFF;
        border: 1px solid silver;
    }

    .google_button_login img {
        margin-left: 2vw;
        height: 5vw;
        width: 5vw;
    }

    .google_button_singup img {
        margin-left: 2vw;
        height: 5vw;
        width: 5vw;
    }

    .google_p_login {
        flex: none;
        color: silver;
        font-size: 3.5vw;
        font-weight: bold;
        text-align: end;
        margin-right: 2.5vw;
    }
}