/* login styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: "Bahij Helvetica";
}
.full_login{
display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 90%;
}
.full_login .mobilee {
    display: none;
}

.full_login .Log_In_form {
    display: flex;
    flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        /* background-color: aqua; */
}
.full_login .Log_In_form form{
display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex: 80%;
    /* background-color: bisque; */
}
.full_login .Log_In_form form .ui_form{
    display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex: 80%;
        /* padding: 20%;  */
        padding-top: 10%;
        padding-bottom: 10%;
        
}
.full_login .Log_In_form form .ui_form .field{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
flex: 35%;
/* background-color: bisque; */
width: 100%;
}
.full_login .Log_In_form form .ui_form .field #input_login{
color: #ccc;
    font-family: "Bahij Helvetica";
    background: none;
    width: 100%;
    flex: 2;
    border-bottom: 2px solid #ccc;
    box-sizing: border-box;
    text-align: right;
    fill: transparent;
    outline: none;
}
.full_login .Log_In_form form .ui_form .field .error_login{
    color: red;
    text-align: right;
    width: 100%;
}
.full_login .Log_In_form form .ui_form .forgetpassword_login{
flex: 30%;
/* background-color: yellowgreen; */
width: 100%;
color: #FFF;
}
.full_login .Log_In_form form .acount_button_login{
    flex: 15%;
    margin-bottom: 5%;
    width: 50%;       
    border-radius: 50px;
    background-color: rgba(60, 152, 189, 1);
    background-image: linear-gradient(#3c98bd,
                #0f53a1);
    color: white;
    font-family: "Bahij Helvetica";
    font-size: 90%;
    font-weight: 14px;
}
.full_login  .Log_In_form .p_login{
color: white;
    font-family: "Bahij Helvetica";
    flex: 10%;
    /* width: 100%; */
}
.full_login .Log_In_form .GoogleBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 10%;
}
.full_login .Log_In_form .GoogleBtn .google_button_singup{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
        flex: 100%;
        border-radius: 50px;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 75%;
}
@media screen and (max-width: 1024px) {
    .full_login .Log_In_form form .ui_form .field .error_login{
        font-size: 70%;
    }
        .full_login .Log_In_form form .acount_button_login{
            flex: 10%;
            /* margin-bottom: 20%; */
            /* font-size: 70%; */
            width: 60%;
        }
                .full_login .Log_In_form .GoogleBtn .google_button_singup {
                    /* font-size: 70%; */
                    width: 60%;
                }
}
@media screen and (max-width: 890px){
.full_login .Log_In_form .GoogleBtn .google_button_singup{
    font-size: 70%;
}
}
@media screen and (max-width: 772px){
.full_login .Log_In_form .GoogleBtn .google_button_singup {
        font-size: 60%;
    }
.full_login .Log_In_form{
    height: 90%;
}
}
@media screen and (max-width: 700px){
.full_login .Log_In_form{
    display: none;
}
.full_login{
    /* height: 80%; */
    /* background-color: #3c98bd; */
    flex: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin-bottom: 10%; */
}
.full_login .mobilee{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        flex: 90%;
        padding-bottom: 12%;
    
}
.full_login .mobilee form{

display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
width: 100%;
flex: 60%;
padding-top: 10%;
}
.full_login .mobilee form .ui_form{
flex: 80%;
width: 100%;

display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.full_login .mobilee form .ui_form .field{
    flex: 35%;
    width: 100%;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.full_login .mobilee form .ui_form .field #input_login{
color: #ccc;
    font-family: "Bahij Helvetica";
    background: none;
    width: 100%;
    flex: 2;
    border-bottom: 2px solid #ccc;
    box-sizing: border-box;
    text-align: right;
    fill: transparent;
    outline: none;
}
.full_login .mobilee form .ui_form .field .error_login{
color: red;
    text-align: right;
    width: 100%;
    flex: 1;
    font-size: 80%;
}
.full_login .mobilee form .ui_form .forgotpassword_login {
flex: 30%;
    /* background-color: yellowgreen; */
    width: 100%;
    color: gray;
    text-align: center;
    font-size: 90%;
}
.full_login .mobilee form .acount_button_login{
    flex: 20%;
        /* margin-bottom: 5%; */
        width: 80%;
        border-radius: 50px;
        background-color: rgba(60, 152, 189, 1);
        background-image: linear-gradient(#3c98bd,
                #0f53a1);
        color: white;
        font-family: "Bahij Helvetica";
        font-size: 90%;
        font-weight: 12px;
}

.full_login .mobilee .p_login{
color: #707070;
    font-family: "Bahij Helvetica";
    flex: 1%;
    /* background-color: cadetblue; */
    width: 100%;
    display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: end;
        margin-bottom: 5%;
}
.full_login .mobilee .p_login::after ,
.full_login .mobilee .p_login::before{
    border-bottom: 1px solid silver;
    width: 35%;
    content: "";
}
.full_login .mobilee .GoogleBtn{
    flex: 5%;
    /* background-color: chartreuse; */
    width: 100%;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.full_login .mobilee .GoogleBtn .google_button_login{
    width: 80%;
        padding-left: 5%;
        padding-right: 5%;
        height: 95%;
        /* margin-top: 5%; */
        margin-bottom: 5%;
        border-radius: 50px;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 75%;
        border: 1px solid silver;
}
}
@media screen and (max-width: 600px){
    .full_login{
        flex: 87%;
    }
}
@media screen and (max-width: 400px){
.full_login .mobilee .GoogleBtn .google_button_login{
    /* font-size: 60%; */
    height: 90%;
    width: 100%;
        /* margin-top: 5%; */
        margin-bottom: 10%;
}
.full_login .mobilee form .acount_button_login{
    /* font-size: 60%; */
    flex: 15%;
    width: 100%;
}
}
/* #all_login {
    position: absolute;
    width: 100%;
    height: 90%;
    background-color: rgba(255,255,255,1); 
    overflow: hidden;
    --web-view-name: Artboard – 2;
    --web-view-id: Artboard__2;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
.Mobile_lr {
    display: none;
}
.mobilee  {
    display: none;
}
.cantainer_login{
    position: relative;
    top: 70px;
    left: 250px;
    z-index: 100;
}
#input_login{
    position: relative;
    top: 30px;
    color: white;
    font-family: "Bahij Helvetica";
    display: inline-block;
    background: none;
    width: 300px;
    padding: 1px ;
    margin: 8px 0;
    border-bottom: 2px solid #ccc;
    box-sizing: border-box;
    text-align: right;
    fill: transparent;
  outline: none;
} */

/* .acount_button_login{
    position: relative;
    top: 60px;
    left: -15px;
    z-index: 100;
    width: 335px;
    height: 40px;
    border-radius: 50px;
    background-color: rgba(60,152,189,1);
    color: white;
    font-size: large;
     font-family: "Bahij Helvetica";
    font-weight: 12px;
}
.google_button_login{
    position: relative;
    top: 50px;
    left: 8px;
    z-index: 100;
    width:400px;
    height: 40px;
    border-radius: 50px;
    background-color:white;
    display: flex;
    justify-content: space-between;
}
.google_icon_login{
    color: rgb(148, 144, 144);
    width: 30px;
    height: 30px;
    margin:5px 0px 0px 10px;
}
.google_p_login{
    margin:5px 12px 0px 0px;
    font-size: large;
     font-family: "Bahij Helvetica";
    font-weight: 12px;
    color: rgb(148, 144, 144);
}

.button_login{
    position: relative;
    top:80px;
    left: 235px;
    z-index: 100;
    width: 335px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
} */


/* .inn_login{

    padding: 5px 40px 0 0px;
    color: rgba(60,152,189,1);
    font-size: large;
     font-family: "Bahij Helvetica";
    font-weight: 12px;
    display: inline-block;
}
.upp_login{
    padding-top: 5px;
   align-items: center;
    border-radius: 50px;
    width: 185px;
    height: 40px;
    background-color: rgba(60,152,189,1);
    color: white;
    font-size: large;
     font-family: "Bahij Helvetica";
    font-weight: 12px;
    display: inline-block;
    padding-right: 12px;
}
.img_login{
   
    position: relative;
    top: 60px;
    left: 300px;
}

#svg_login{
    position: absolute;
    width: 1921.645px;
    height: 985.429px;
    left: 0.355px;
    top: 0px;
    overflow: visible;
    padding: 0px 195px 19px 433px;
}
#Path_login {
    fill: url(#Path_login);
}
.Path_login {
    overflow: visible;
    position: absolute;
    
    width: auto;
    height: 51%;
    left: 0px;
    top: 0px;
    right: 0;
    
    transform: matrix(1,0,0,1,0,0);
}
.error_login{
 color: red;
}
h4 {
    display: flex;
    position: relative;
    left: 12px;
  }
  
  h4::before,
  h4::after {
    content: "";
    display: block;
    width: 130px;
    height: 1px;
    
    margin: auto 10px;
    border-bottom: 2px solid #ccc;
  }
.p_login{
    color: white;
    z-index: 100;
    position: relative;
    top: 70px;
    left: -6px;
}

.forgetpassword_login{
    position: relative;
    top: 42px;
    font-family: "Bahij Helvetica";
    color: white !important;
} */