#all-section{
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Bahij helvetica";
}

#section-one{
display: flex;
justify-content: space-between;
}
#selesh{
    margin-top: 30px;
    margin-left: 50px;
}
.dot{
   width: 100px;
   height: 100px; 
   margin-top: 30px;
   margin-right: 50px;
}
#section-two{
    display: flex;
    justify-content: space-between;
}
#logoooo{
    margin-left: 170px;
}
.about{
text-align: right;
color:  rgba(60,152,189,1);
font-size: 25px;
font-weight: 40px;
font-family: "Bahij helvetica";
font-style: normal;
width: 600px;
letter-spacing: 0.4px;
margin-top: 30px;
margin-right: 170px;
}
#title{

}
#paragraph{

}
#section-three{ 
    width: 100px;
    height: 100px; 
    margin-bottom: 30px;
    margin-left: 50px;
}