/*header style ///////////////////////////////////////////////////// */
*{
    margin: 0;
    padding: 0;
    color: blue;
    text-decoration: none;
    list-style-type: none;

}
.full{
    color: white;
}
.header{
    display: flex;
    background-color: rgba(60,152,189,1);
    height: 70px;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
}
.vl {
    
    align-items: center;
    border-left: 1px solid white;
    height: 17px;
    display: inline-block;
  }
  .vi{
    align-items: center;
    border-left: 1px solid white;
    height: 17px;
    display: inline-block;
    margin-right: 35px;
  }

.ul{
    margin-left: 30px;
    display: inline-block;
    list-style-type: none;

}

.li{
   
    margin-left: 45px;
    margin-right: 60px;
    display: inline-block;
   
}

.button{
    
    margin-left: 5px;
    background-image: linear-gradient(to right,  rgb(31, 111, 143),  rgba(60,152,189,1));
    border-color: white;
    padding: 4px 30px 4px 30px;
    border-radius: 50px;
    border-width: 1px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0px 0px 5px #aaaaaa;
}

.icon{
    display: inline-block;
    margin-left: 30px;
}
.link_nav{
    color: white;
}
/*home style////////////////////////////////////////////////////////*/
.home{
	
    background-image: linear-gradient(to right,  rgb(45, 132, 167),   rgba(60,152,189,1));
    height: 550px;
}
.imgone{
    margin-top: 30px;
    width: 250px;
}
.imagetwo{
    width: 4px;
    height: 4px;
    margin-left: 20px;
    margin-bottom: 13px;
}
.imagetwoo{
    width: 7px;
    height: 7px;
    margin-left: 30px;
    margin-bottom: 22px;
}
.images_paragraph{
align-items: center;
text-align: center;
}
.paragraph{
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
    overflow: hidden;
    line-height: 92px;
    font-family: Bahij Helvetica Neue;
    font-size: 60px;
    color: rgba(255,255,255,1);
    letter-spacing: -0.4px;
  
}
.paragraph_1{
	margin-top: -1px;
	filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
    overflow: hidden;
    line-height: 92px;
    font-family: Bahij Helvetica Neue;
   font-style: normal;
   font-weight: bold;
   font-size: 60px;
   color: rgba(255,255,255,1);
   letter-spacing: -0.4px;
   margin: 0px;
   padding: 0px;

}
.point_1{
    display: inline-block;
    position: relative;
    top: -200px;
    left: 230px;
    z-index: 100;
}
.point_2{
    display: inline-block;
    position: relative;
    top: -140px;
   left: 882px;
   z-index: 100;
}
.space{
	width: 30px;
	background-color: red;
}
#Path_7 {
	fill: rgba(255,255,255,1);
	
}
.Path_7 {
	/* overflow: visible;
	position: absolute;
	left: 0px;
	top: 525.287px;
	transform: matrix(1,0,0,1,0,0);
right: 0px; */
	/* overflow: visible;
    position: absolute;
    left: 0px;
    bottom: 0;
    transform: matrix(1,0,0,1,0,0); */
}
/* home page */
	
   
	#n_ {
        transform-origin: 0px 0px;
		position: absolute;
		width: 1920px;
		height: 1080px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: 0;
		--web-view-id: n_;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	#Group_2 {
		position: absolute;
		width: 1920.661px;
		height: 1081.1px;
		left: 0px;
		top: -2px;
		overflow: visible;
	}
	#OBJECTS {
		position: absolute;
		width: 1920.66px;
		height: 1081.1px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_1_o {
		fill: url(#Rectangle_1_o);
	}
	.Rectangle_1_o {
		position: absolute;
		overflow: visible;
		width: 1920.659px;
		height: 1081.1px;
		left: 0px;
		top: 0px;
	}
	#Group_1 {
		position: absolute;
		width: 1920px;
		height: 1081.1px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	
	#Ellipse_1 {
		
		fill: rgba(255,255,255,1);
	}
	.Ellipse_1 {
		position: absolute;
		overflow: visible;
		width: 3px;
		height: 3px;
		left: 990.354px;
		top: 227.282px;
		/* top: 627.282px; */
	}
	#Ellipse_2 {
		fill: rgba(255,255,255,1);
		
	}
	.Ellipse_2 {
		position: absolute;
		overflow: visible;
		width: 3px;
		height: 3px;
		left: 1030.354px;
		top: 227.282px;
	}
	#Ellipse_3 {
		fill: rgba(255,255,255,1);
		
	}
	.Ellipse_3 {
		position: absolute;
		overflow: visible;
		width: 3px;
		height: 3px;
		left: 1070.354px;
		top: 227.282px;
	}
	#Ellipse_4 {
		fill: rgba(255,255,255,1);
	}
	.Ellipse_4 {
		position: absolute;
		overflow: visible;
		width: 3px;
		height: 3px;
		left: 1110.354px;
		top: 227.282px;
	}
	#Path_8 {
		fill: rgba(255,255,255,1);
	}
	.Path_8 {
		overflow: visible;
		position: absolute;
		width: 7.298px;
		height: 7.205px;
		left: 1150.354px;
		top: 227.282px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Ellipse_5 {
		fill: rgba(255,255,255,1);
	}
	.Ellipse_5 {
		position: absolute;
		overflow: visible;
		width: 3px;
		height: 3px;
		left: 990.354px;
		top: 267.282px;
		/* width: 7.298px;
		height: 7.205px;
		left: 1490.354px;
		top: 666.108px; */
	}
	#Ellipse_6 {
		fill: rgba(255,255,255,1);
	}
	.Ellipse_6 {
		position: absolute;
		overflow: visible;
		width: 3px;
		height: 3px;
		left: 1030.354px;
		top: 267.282px;
	}
	#Ellipse_7 {
		fill: rgba(255,255,255,1);
	}
	.Ellipse_7 {
		position: absolute;
		overflow: visible;
		width: 3px;
		height: 3px;
		left: 1070.354px;
		top: 267.282px;
	}
	#Ellipse_8 {
		fill: rgba(255,255,255,1);
	}
	.Ellipse_8 {
		position: absolute;
		overflow: visible;
		width: 3px;
		height: 3px;
		left: 1110.354px;
		top: 267.282px;
	}
	#Path_9 {
		fill: rgba(255,255,255,1);
	}
	.Path_9 {
		overflow: visible;
		position: absolute;
		width: 7.298px;
		height: 7.205px;
		left: 1150.354px;
		top: 267.282px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Ellipse_9 {
		fill: rgba(255,255,255,1);
	}
	.Ellipse_9 {
		position: absolute;
		overflow: visible;
		width: 3px;
		height: 3px;
		left: 990.354px;
		top: 307.282px;
		/* left: 1110.354px;
		top: 267.282px; */
	}
	#Ellipse_10 {
		fill: rgba(255,255,255,1);
	}
	.Ellipse_10 {
		position: absolute;
		overflow: visible;
		width: 3px;
		height: 3px;
		left: 1030.354px;
		top: 307.282px;
	}
	#Ellipse_11 {
		fill: rgba(255,255,255,1);
	}
	.Ellipse_11 {
		position: absolute;
		overflow: visible;
		width: 7.298px;
		height: 7.205px;
		left: 1070.354px;
		top: 307.282px;
	}
	#Ellipse_12 {
		fill: rgba(255,255,255,1);
	}
	.Ellipse_12 {
		position: absolute;
		overflow: visible;
		width: 7.298px;
		height: 7.205px;
		left: 1110.354px;
		top: 307.282px;
	}
	
	#Path_10 {
		fill: rgba(255,255,255,1);
	}
	.Path_10 {
		overflow: visible;
		position: absolute;
		width: 7.298px;
		height: 7.205px;
		left: 1150.354px;
		top: 307.282px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Ellipse_13 {
		fill: rgba(255,255,255,1);
	}
	.Ellipse_13 {
		position: absolute;
		overflow: visible;
		width: 7.298px;
		height: 7.205px;
		left: 990.354px;
		top: 347.282px;
	}
	#Ellipse_14 {
		fill: rgba(255,255,255,1);
	}
	.Ellipse_14 {
		position: absolute;
		overflow: visible;
		width: 7.298px;
		height: 7.205px;
		left: 1030.354px;
		top: 347.282px;
	}
	#Ellipse_15 {
		fill: rgba(255,255,255,1);
	}
	.Ellipse_15 {
		position: absolute;
		overflow: visible;
		width: 7.298px;
		height: 7.205px;
		left: 1070.354px;
		top: 347.282px;
	}
	#Ellipse_16 {
		fill: rgba(255,255,255,1);
	}
	.Ellipse_16 {
		position: absolute;
		overflow: visible;
		width: 7.298px;
		height: 7.205px;
		left: 1110.354px;
		top: 347.282px;
	}
	#Path_11 {
		fill: rgba(255,255,255,1);
	}
	.Path_11 {
		overflow: visible;
		position: absolute;
		width: 7.298px;
		height: 7.205px;
		left: 1150.354px;
		top: 347.282px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_12 {
		fill: rgba(255,255,255,1);
	}
	.Path_12 {
		overflow: visible;
		position: absolute;
		width: 7.298px;
		height: 7.205px;
		left: 990.354px;
		top: 387.282px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_13 {
		fill: rgba(255,255,255,1);
	}
	.Path_13 {
		overflow: visible;
		position: absolute;
		width: 7.298px;
		height: 7.206px;
		left: 1030.354px;
		top: 387.282px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_14 {
		fill: rgba(255,255,255,1);
	}
	.Path_14 {
		overflow: visible;
		position: absolute;
		width: 7.298px;
		height: 7.205px;
		left: 1070.354px;
		top: 387.282px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_15 {
		fill: rgba(255,255,255,1);
	}
	.Path_15 {
		overflow: visible;
		position: absolute;
		width: 7.298px;
		height: 7.205px;
		left: 1110.354px;
		top: 387.282px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_16 {
		fill: rgba(255,255,255,1);
	}
	.Path_16 {
		overflow: visible;
		position: absolute;
		width: 7.298px;
		height: 7.205px;
		left: 1150.354px;
		top: 387.282px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_17 {
		fill: rgba(255,255,255,1);
	}
	.Path_17 {
		overflow: visible;
		position: absolute;
		width: 4.705px;
		height: 4.645px;
		left: 210.354px;
		top: 297.282px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_18 {
		fill: rgba(255,255,255,1);
	}
	.Path_18 {
		overflow: visible;
		position: absolute;
		width: 4.644px;
		height: 4.585px;
		left: 240.354px;
		top: 297.282px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_19 {
		fill: rgba(255,255,255,1);
	}
	.Path_19 {
		overflow: visible;
		position: absolute;
		width: 4.644px;
		height: 4.585px;
		left: 270.354px;
		top: 297.282px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_20 {
		fill: rgba(255,255,255,1);
	}
	.Path_20 {
		overflow: visible;
		position: absolute;
		width: 4.644px;
		height: 4.585px;
		left: 300.354px;
		top: 297.282px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Ellipse_17 {
		fill: rgba(255,255,255,1);
	}
	.Ellipse_17 {
		position: absolute;
		overflow: visible;
		width: 4.645px;
		height: 4.585px;
		left: 330.354px;
		top: 297.282px;
	}
	#Path_21 {
		fill: rgba(255,255,255,1);
	}
	.Path_21 {
		overflow: visible;
		position: absolute;
		width: 4.705px;
		height: 4.645px;
		left: 210.354px;
		top: 327.282px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_22 {
		fill: rgba(255,255,255,1);
	}
	.Path_22 {
		overflow: visible;
		position: absolute;
		width: 4.644px;
		height: 4.585px;
		left: 240.354px;
		top: 327.282px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_23 {
		fill: rgba(255,255,255,1);
	}
	.Path_23 {
		overflow: visible;
		position: absolute;
		width: 4.644px;
		height: 4.585px;
		left: 270.354px;
		top: 327.282px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_24 {
		fill: rgba(255,255,255,1);
	}
	.Path_24 {
		overflow: visible;
		position: absolute;
		width: 4.645px;
		height: 4.585px;
		left: 300.354px;
		top: 327.282px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Ellipse_18 {
		fill: rgba(255,255,255,1);
	}
	.Ellipse_18 {
		position: absolute;
		overflow: visible;
		width: 4.645px;
		height: 4.585px;
		left: 330.354px;
		top: 327.282px;
	}
	#Path_25 {
		fill: rgba(255,255,255,1);
	}
	.Path_25 {
		overflow: visible;
		position: absolute;
		width: 4.705px;
		height: 4.645px;
		left: 210.354px;
		top: 357.282px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_26 {
		fill: rgba(255,255,255,1);
	}
	.Path_26 {
		overflow: visible;
		position: absolute;
		width: 4.645px;
		height: 4.585px;
		left: 240.354px;
		top: 357.282px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_27 {
		fill: rgba(255,255,255,1);
	}
	.Path_27 {
		overflow: visible;
		position: absolute;
		width: 4.645px;
		height: 4.585px;
		left: 270.354px;
		top: 357.282px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_28 {
		fill: rgba(255,255,255,1);
	}
	.Path_28 {
		overflow: visible;
		position: absolute;
		width: 4.644px;
		height: 4.585px;
		left: 300.354px;
		top: 357.282px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_29 {
		fill: rgba(255,255,255,1);
	}
	.Path_29 {
		overflow: visible;
		position: absolute;
		width: 4.705px;
		height: 4.645px;
		left: 330.354px;
		top: 357.282px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_30 {
		fill: rgba(255,255,255,1);
	}
	.Path_30 {
		overflow: visible;
		position: absolute;
		width: 4.674px;
		height: 4.12px;
		left: 210.354px;
		top: 387.282px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_31 {
		fill: rgba(255,255,255,1);
	}
	.Path_31 {
		overflow: visible;
		position: absolute;
		width: 4.644px;
		height: 4.585px;
		left: 240.354px;
		top: 387.282px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_32 {
		fill: rgba(255,255,255,1);
	}
	.Path_32 {
		overflow: visible;
		position: absolute;
		width: 4.644px;
		height: 4.585px;
		left: 270.354px;
		top: 387.282px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_33 {
		fill: rgba(255,255,255,1);
	}
	.Path_33 {
		overflow: visible;
		position: absolute;
		width: 4.645px;
		height: 4.585px;
		left: 300.354px;
		top: 387.282px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_34 {
		fill: rgba(255,255,255,1);
	}
	.Path_34 {
		overflow: visible;
		position: absolute;
		width: 4.705px;
		height: 4.645px;
		left: 330.354px;
		top: 387.282px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_35 {
		fill: rgba(255,255,255,1);
	}
	.Path_35 {
		overflow: visible;
		position: absolute;
		width: 4.705px;
		height: 4.645px;
		left: 210.354px;
		top: 417.282px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_36 {
		fill: rgba(255,255,255,1);
	}
	.Path_36 {
		overflow: visible;
		position: absolute;
		width: 4.644px;
		height: 4.585px;
		left: 240.354px;
		top: 417.282px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_37 {
		fill: rgba(255,255,255,1);
	}
	.Path_37 {
		overflow: visible;
		position: absolute;
		width: 4.644px;
		height: 4.585px;
		left: 270.354px;
		top: 417.282px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_38 {
		fill: rgba(255,255,255,1);
	}
	.Path_38 {
		overflow: visible;
		position: absolute;
		width: 4.644px;
		height: 4.585px;
		left: 300.354px;
		top: 417.282px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Ellipse_19 {
		fill: rgba(255,255,255,1);
	}
	.Ellipse_19 {
		position: absolute;
		overflow: visible;
		width: 4.645px;
		height: 4.585px;
		left: 330.354px;
		top: 417.282px;
	}
	#Path_39 {
		fill: rgba(60,152,189,1);
	}
	.Path_39 {
		overflow: visible;
		position: absolute;
		width: 20.158px;
		height: 16.435px;
		left: 670.195px;
		bottom: 40px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Rectangle_27 {
		opacity: 0.3;
		fill: rgba(60,152,189,1);
	}
	.Rectangle_27 {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 174px;
		left: 0px;
		top: 0px;
	}
	#White_PNG_Format {
		position: absolute;
		width: 323px;
		height: 281px;
		left: 799px;
		top: 265px;
		overflow: visible;
	}
	#n_______0 {
		filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
		left: 640px;
		top: 587px;
		position: absolute;
		overflow: hidden;
		width: 641px;
		height: 228px;
		line-height: 92px;
		margin-top: -11px;
		text-align: center;
		font-family: Bahij Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 70px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.4px;
	}
	#Group_6 {
		position: absolute;
		width: 43px;
		height: 48px;
		left: 1737px;
		top: 63px;
		overflow: visible;
	}
	#Group_10 {
		position: absolute;
		width: 43px;
		height: 48px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_25_cc {
		fill: url(#Rectangle_25_cc);
		stroke: rgba(255,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_25_cc {
		position: absolute;
		overflow: visible;
		width: 168px;
		height: 43px;
		left: 1333px;
		top: 66px;
	}
	#Rectangle_26_ce {
		fill: url(#Rectangle_26_ce);
		stroke: rgba(255,255,255,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_26_ce {
		position: absolute;
		overflow: visible;
		width: 168px;
		height: 43px;
		left: 1511px;
		top: 66px;
	}
	#n__cf {
		left: 1343px;
		top: 67px;
		position: absolute;
		overflow: visible;
		width: 150px;
		height: 33px;
		text-align: center;
		font-family: Gotham;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.4px;
	}
	#n__cg {
		left: 1521px;
		top: 67px;
		position: absolute;
		overflow: visible;
		width: 150px;
		height: 33px;
		text-align: center;
		font-family: Gotham;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.4px;
	}
	#Group {
		position: absolute;
		width: 1169.5px;
		height: 38px;
		left: 82.75px;
		top: 64px;
		overflow: visible;
	}
	#Text {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 196px;
		height: 37px;
		text-align: center;
		font-family: Gotham;
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.4px;
	}
	#Text_cj {
		left: 195px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 196px;
		height: 37px;
		text-align: center;
		font-family: Gotham;
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.4px;
	}
	#Text_ck {
		left: 390px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 196px;
		height: 37px;
		text-align: center;
		font-family: Gotham;
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.4px;
	}
	#Text_cl {
		left: 585px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 196px;
		height: 37px;
		text-align: center;
		font-family: Gotham;
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.4px;
	}
	#n__ {
		left: 774px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 196px;
		height: 37px;
		text-align: center;
		font-family: Gotham;
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.4px;
	}
	#Text_cn {
		left: 969px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 196px;
		height: 37px;
		text-align: center;
		font-family: Gotham;
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.4px;
	}
	#Line_6 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_6 {
		overflow: visible;
		position: absolute;
		width: 3px;
		height: 29px;
		left: 189.5px;
		top: 9px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_7 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_7 {
		overflow: visible;
		position: absolute;
		width: 3px;
		height: 29px;
		left: 395.5px;
		top: 9px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_8 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_8 {
		overflow: visible;
		position: absolute;
		width: 3px;
		height: 29px;
		left: 579.5px;
		top: 9px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_9 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_9 {
		overflow: visible;
		position: absolute;
		width: 3px;
		height: 29px;
		left: 768.5px;
		top: 9px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_10 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_10 {
		overflow: visible;
		position: absolute;
		width: 3px;
		height: 29px;
		left: 963.5px;
		top: 9px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_12 {
		fill: transparent;
		stroke: rgba(255,255,255,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_12 {
		overflow: visible;
		position: absolute;
		width: 3px;
		height: 29px;
		left: 1169.5px;
		top: 9px;
		transform: matrix(1,0,0,1,0,0);
	}

/*primary,secondary,high_school page*/
.ul_high_school{ 
    display: inline-block;
    position: relative;
    top: 242px;
    left: 200px;

}
.li_high_school{
 margin-right: 18px;
 font-size: 20px;
 color: rgba(16,84,162,1);
 letter-spacing: -0.4px;
}
.sanaf{
    width: 22px;
    height: 25px;
    margin-left: 18px;
}
.link_high_school{
    width: 584px;
    height: 34px;
    background-color:rgba(212,228,232,1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;
    border-radius: 32px;
    text-align: center;
    align-items: center;
}	
	#n_ {
        transform-origin: 0px 0px;
		position: absolute;
		width: 1366px;
		height: 555px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: 2;
		--web-view-id: n_;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	#Path_534 {
		fill: transparent;
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_534 {
		overflow: visible;
		position: absolute;
		left: 0.661px;
		top: 144.786px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Union_1_dg {
		fill: url(#Union_1_dg);
	}
	.Union_1_dg {
		overflow: visible;
		position: absolute;
		left: 0px;
		top: 1.436px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_356 {
		position: absolute;
		left: 1016.687px;
		top: 320.045px;
		overflow: visible;
	}
	#Group_355 {
		position: absolute;
		width: 503.313px;
		height: 399.955px;
		left: -154px;
		top: -160.287px;
		overflow: visible;
	}
    #nn{
       font-family:Bahij Helvetica Neue;
       font-style:normal;
       font-weight:normal;
    }
    #n_____________{
        font-style:normal;font-weight:lighter; font-size:25px; 
        left: 130.208px;
		top: 182px;
		position: absolute;
		overflow: hidden;
		width: 695px;
		height: 230px;
		line-height: 79px;
		text-align: center;
		font-family: Bahij Helvetica Neue;
		font-style: normal;
		color: rgba(255,255,255,1);
		letter-spacing: -0.4px;
    }
	#n_________ {
		left: 130.208px;
		top: 142px;
		position: absolute;
		overflow: hidden;
		width: 695px;
		height: 230px;
		line-height: 79px;
		text-align: center;
		font-family: Bahij Helvetica Neue;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: rgba(255,255,255,1);
		letter-spacing: -0.4px;
	}
	#Subtraction_3 {
		opacity: 0.52;
		fill: rgba(255,255,255,1);
		stroke: rgba(0,0,0,0);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Subtraction_3 {
		overflow: visible;
		position: absolute;
		width: 285.886px;
		height: 430.713px;
		left: 0px;
		top: 225.287px;
		transform: matrix(1,0,0,1,0,0);
	}

